<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>
<!-- 個別呼び出しCSS -->
<link rel="stylesheet" th:href="@{/css/style.css}" />

<main class="content">
    <h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">車両移動管理 ／ 詳細</h4>
    
    <form class="ml-3 mr-3">
        <div class="form-group row border mb-0 text-center">
            <!-- 車両移動ID -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両移動ID</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="123456" readonly>
            </div>
            <!-- 移動予定日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">移動予定日</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="2020/01/01" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 運行開始日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">運行開始日</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="2020/01/01" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
        	<!-- 移動理由 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">移動理由</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="〇〇" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 運行開始日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">運行開始日</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="2020/01/01" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 移動元バス会社（営業所） -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">移動元バス会社（営業所）</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="〇〇営業所" readonly>
            </div>
            <!-- 車両登録番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車両登録番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="000000" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 車台番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車台番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="000000" readonly>
            </div>
            <!-- 初年度登録 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">初年度登録</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="2013/06/25" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 型式 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">型式</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="〇〇" readonly>
            </div>
            <!-- 車両メーカー -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車両メーカー</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="Jバス" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 車両タイプ -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両タイプ</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="〇〇" readonly>
            </div>
            <!-- 車検満了日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車検満了日</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="2020/01/01" readonly>
            </div>
        </div>
    </form>

    <h4 class="mt-3">移動先車両情報</h4>
    <form class="ml-3 mr-3">
        <div class="form-group row border mb-0 text-center">
            <!-- 移動先バス会社（営業所） -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">移動先バス会社（営業所）</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="〇〇営業所" readonly>
            </div>
        </div>
        
    	<h4 class="mt-3">車検証情報</h4>
        <div class="form-group row border mb-0">
            <!-- 車台番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車台番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="000000" readonly>
            </div>
            <!-- 車両登録番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車両登録番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="000000" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 所有者の氏名または名称 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">所有者の氏名または名称</div>
            <div class="col">
                <input type="text" class="form-control-plaintext m-1" value="〇〇" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 所有者の住所 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">所有者の住所</div>
            <div class="col">
                <input type="text" class="form-control-plaintext m-1" value="〇〇" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 使用者の氏名または名称 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">使用者の氏名または名称</div>
            <div class="col">
                <input type="text" class="form-control-plaintext m-1" value="〇〇" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 使用者の住所 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">使用者の住所</div>
            <div class="col">
                <input type="text" class="form-control-plaintext m-1" value="〇〇" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 使用者の電話番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">使用者の電話番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="000-0000-0000" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 使用の本拠の位置 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">使用の本拠の位置</div>
            <div class="col">
                <input type="text" class="form-control-plaintext m-1" value="〇〇" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 車検有効期限 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車検有効期限</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="2023/01/01" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 車検証画像 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車検証画像</div>
            <div class="col-sm-4 m-2">
                <img th:src="@{/images/logo.jpg}" alt="免許証画像（表）" height="100">
            </div>
        </div>

	    <h4 class="mt-3">車両移動タスク項目</h4>
        <div class="form-group row border mb-0 text-center">
            <!-- タスク名称 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">タスク名称</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="バリアフリー認定除外申請" readonly>
            </div>
            <!-- ステータス -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">ステータス</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="対応中" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- コメント -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">コメント</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="○○" readonly>
            </div>
        </div>
    </form>
	
    <div class="ml-3 mr-3">
        <div class="form-group row border-top mt-3 text-center footer-border">
            <a class="btn button-black mt-2" th:href="@{/car/move/edit}">編集</a>
            <div class="btn button-black mt-2 ml-2" data-toggle="modal" data-target="#deleteModal">削除</div>
        </div>
		<div class="form-group row">
			<div class="btn button-black" onclick="history.back()">前に戻る</div>
		</div>
    </div>
</main>

<div th:replace="layouts/footer :: footer"></div>
<div th:replace="layouts/formModals :: formModals(@{/car/move/result},@{/car/move/search},@{/car/move/result})"></div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script th:src="@{/js/common.js}"></script>

</body>
</html>