<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>
<!-- 個別呼び出しCSS -->
<link rel="stylesheet" th:href="@{/css/style.css}" />

<main class="content">
    <h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">車両移動管理 ／
        <span class="h4" th:case="edit" th:text="編集"></span>
        <span class="h4" th:case="regist" th:text="登録"></span>
    </h4>
    
    <form class="ml-3 mr-3">
        <div class="form-group row border mb-0 text-center">
            <!-- 車両移動ID -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両移動ID</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="123456" readonly>
            </div>
            <!-- 移動予定日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">移動予定日</div>
            <div class="col-sm-4">
                <input type="date" class="form-control m-1">
            </div>
        </div>
        
        <div class="form-group row border border-top-0 mb-0">
            <!-- 移動理由 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">移動理由</div>
            <div class="col">
                <textarea class="form-control m-1" maxlength="200" placeholder="全角200文字以内"></textarea>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
        	<!-- 常用・予備 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">常用・予備</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>常用</option>
                    <option>予備</option>
                </select>
            </div>
            <!-- 運行開始日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">運行開始日</div>
            <div class="col-sm-4">
                <input type="date" class="form-control m-1" value="">
            </div>
        </div>
        
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 移動元バス会社（営業所） -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">移動元バス会社（営業所）</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>〇〇営業所</option>
                    <option>〇〇 〇〇営業所</option>
                </select>
            </div>
            <!-- 車両登録番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車両登録番号</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>〇〇</option>
                    <option>〇〇〇〇</option>
                </select>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 車台番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車台番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="000000" readonly>
            </div>
            <!-- 初年度登録 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">初年度登録</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="2023/06/25" readonly>
            </div>
        </div>
        
        <div class="form-group row border border-top-0 mb-0">
            <!-- 型式 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">型式</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" maxlength="1" value="〇〇" readonly>
            </div>
            <!-- 車両メーカー -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車両メーカー</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="三菱ふそう" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 車両タイプ -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両タイプ</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="ＴＲＮ" readonly>
            </div>
            <!-- 車検満了日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車検満了日</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="2020/01/01" readonly>
            </div>
        </div>
    </form>

    <h4 class="mt-3">移動先車両情報</h4>
    <form class="ml-3 mr-3">
        <div class="form-group row border mb-0 text-center">
            <!-- 移動先バス会社（営業所） -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">移動先バス会社（営業所）</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>〇〇営業所</option>
                    <option>〇〇 〇〇営業所</option>
                </select>
            </div>
        </div>
        
	    <h4 class="mt-3">車検証情報</h4>
        <div class="form-group row border mb-0">
            <!-- 運輸支局・地域等 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">運輸支局・地域等</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>○○</option>
                    <option>○○</option>
                </select>
            </div>
            <!-- 分類番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">分類番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1 input_numeric" maxlength="3" placeholder="半角数字3文字以内">
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 記号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">記号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1" maxlength="1" placeholder="全角1文字以内">
            </div>
            <!-- 番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1 input_numeric" maxlength="4" placeholder="半角数字4文字以内">
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 所有者の氏名または名称 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">所有者の氏名または名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control m-1" maxlength="50" placeholder="全角50文字以内">
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 所有者の住所 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">所有者の住所</div>
            <div class="col">
                <textarea class="form-control m-1" maxlength="200" placeholder="全角200文字以内"></textarea>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 使用者の氏名または名称 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">使用者の氏名または名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control m-1" maxlength="50" placeholder="全角50文字以内">
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 使用者の住所 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">使用者の住所</div>
            <div class="col">
                <textarea class="form-control m-1" maxlength="200" placeholder="全角200文字以内"></textarea>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 使用者の電話番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">使用者の電話番号</div>
            <div class="col-sm-4">
                <input type="tel" class="form-control m-1 input_numeric" maxlength="13">
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 使用の本拠の位置 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">使用の本拠の位置</div>
            <div class="col">
                <textarea class="form-control m-1" maxlength="200" placeholder="全角200文字以内"></textarea>
            </div>
        </div>        
        <div class="form-group row border border-top-0 mb-0">
            <!-- 車検有効期限 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車検有効期限</div>
            <div class="col-sm-4">
                <input type="date" class="form-control m-1" value="2023/06/25">
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 車検証ファイル -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車検証ファイル</div>
            <div class="col-sm-4">
                <div class="input-group m-1">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input">
                        <label class="custom-file-label text-left" for="" data-browse="参照">ファイルを選択</label>
                    </div>
                    <div class="input-group-append">
                        <button type="button" class="btn input-group-text">取消</button>
                    </div>
                </div>
            </div>
        </div>
        	
		<div class="text-right mt-3">
	        <button
	        	type="button"
	        	id="carMoveTask"
	        	class="btn button-black"
                data-toggle="collapse"
                data-target="#carMoveTask"
                aria-expanded="false"
                aria-controls="carMoveTask"
	        >
	        	車両移動タスク追加
	        </button>
		</div>
		
    <div id="carMoveTask" class="collapse">
	    <h4 class="mt-3">車両移動タスク</h4>
	    <table class="table table-bordered table-sm mt-3">
	        <thead class="bg-light">
		        <tr>
		            <th scope="col" class="align-middle text-center" width="15%">タスク名称</th>
		            <th scope="col" class="align-middle text-center" width="10%">ステータス</th>
		            <th scope="col" class="align-middle text-center">コメント</th>
		        </tr>
	        </thead>
	        <tbody>
		        <tr>
		            <td class="align-middle">000000</td>
		            <td class="align-middle">
		                <select class="form-control">
		                    <option selected>未対応</option>
		                    <option>対応中</option>
		                    <option>対応済</option>
		                </select>
		            </td>
		            <td class="align-middle">
		                <input type="text" class="form-control" maxlength="100" placeholder="全角100文字以内">
		            </td>
		        </tr>
	        </tbody>
	    </table>
	</div>

        <div class="form-group row border-top mt-3 text-center footer-border">
            <div class="btn button-black mt-2" data-toggle="modal" data-target="#createModal">登録</div>
			<div class="text-right mt-2 ml-2">
		        <button type="button" class="btn button-black">車両移動を完了する</button>
			</div>
        </div>
		<div class="form-group row">
			<div class="btn button-black" onclick="history.back()">前に戻る</div>
		</div>
    </form>
</main>

<div th:replace="layouts/footer :: footer"></div>
<div th:replace="layouts/formModals :: formModals(@{/car/result},@{/car/search},@{/car/result})"></div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/car.js}"></script>
</body>
</html>