<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>

<main class="content">
    <h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">車両移動管理 ／
        <span class="h4" th:case="search" th:text="検索"></span>
        <span class="h4" th:case="result" th:text="検索結果"></span>
    </h4>

    <button class="btn button-black mb-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" th:if="${type} == 'result'">
        検索条件表示
    </button>
    <!-- th:text="${type == 'edit'} ? '教育訓練結果についてを説明します。' : ''" -->
    <div class="collapse" id="collapseExample" th:classappend="${show} ? 'show' : ''">

        <form class="ml-3 mr-3">
        
        	<div class="form-group row border mb-0">
                <!-- 移動元バス会社（営業所） -->
                <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">
                	<div class="font-weight-bold">移動元バス会社（営業所）</div>
                </div>
				<div class="col form-check m-2">
					<span class="text-nowrap">
						<input class="checkAll" type="checkbox" id="officeDepAll">
						<label class="form-check-label" for="officeDepAll">すべて</label>
					</span>
					<div class="row ml-0">
						<span class="mr-3 text-nowrap">
							<input class="officeDepAll" type="checkbox" id="officeDep1">
							<label class="form-check-label" for="officeDep1">仙台営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
			 				<input class="officeDepAll" type="checkbox" id="officeDep2">
							<label class="form-check-label" for="officeDep2">千葉営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
			 				<input class="officeDepAll" type="checkbox" id="officeDep3">
							<label class="form-check-label" for="officeDep3">本社営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
			 				<input class="officeDepAll" type="checkbox" id="officeDep4">
							<label class="form-check-label" for="officeDep4">池袋営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
			 				<input class="officeDepAll" type="checkbox" id="officeDep5">
							<label class="form-check-label" for="officeDep5">新潟営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
			 				<input class="officeDepAll" type="checkbox" id="officeDep6">
							<label class="form-check-label" for="officeDep6">長野営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
			 				<input class="officeDepAll" type="checkbox" id="officeDep7">
							<label class="form-check-label" for="officeDep7">新清水中継所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeDepAll" type="checkbox" id="officeDep8">
							<label class="form-check-label" for="officeDep8">名古屋営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeDepAll" type="checkbox" id="officeDep9">
							<label class="form-check-label" for="officeDep9">大阪営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeDepAll" type="checkbox" id="officeDep10">
							<label class="form-check-label" for="officeDep10">広島営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeDepAll" type="checkbox" id="officeDep11">
							<label class="form-check-label" for="officeDep11">大阪さやま交通</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeDepAll" type="checkbox" id="officeDep12">
							<label class="form-check-label" for="officeDep12">日本高速</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeDepAll" type="checkbox" id="officeDep13">
							<label class="form-check-label" for="officeDep13">ニュープリンス高速</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeDepAll" type="checkbox" id="officeDep14">
							<label class="form-check-label" for="officeDep14">ベイライン</label>
						</span>
					</div>
	 			</div>
            </div>
            
            <div class="form-group row border border-top-0 mb-0">
                <!-- 移動先バス会社（営業所） -->
                <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">
                	<div class="font-weight-bold">移動先バス会社（営業所）</div>
                </div>
				<div class="col form-check m-2">
					<span class="text-nowrap">
						<input class="checkAll" type="checkbox" id="officeArrAll">
						<label class="form-check-label" for="officeArrAll">すべて</label>
					</span>
					<div class="row ml-0">
						<span class="mr-3 text-nowrap">
							<input class="officeArrAll" type="checkbox" id="officeArr1">
							<label class="form-check-label" for="officeArr1">仙台営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
			 				<input class="officeArrAll" type="checkbox" id="officeArr2">
							<label class="form-check-label" for="officeArr2">千葉営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
			 				<input class="officeArrAll" type="checkbox" id="officeArr3">
							<label class="form-check-label" for="officeArr3">本社営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
			 				<input class="officeArrAll" type="checkbox" id="officeArr4">
							<label class="form-check-label" for="officeArr4">池袋営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
			 				<input class="officeArrAll" type="checkbox" id="officeArr5">
							<label class="form-check-label" for="officeArr5">新潟営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
			 				<input class="officeArrAll" type="checkbox" id="officeArr6">
							<label class="form-check-label" for="officeArr6">長野営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
			 				<input class="officeArrAll" type="checkbox" id="officeArr7">
							<label class="form-check-label" for="officeArr7">新清水中継所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeArrAll" type="checkbox" id="officeArr8">
							<label class="form-check-label" for="officeArr8">名古屋営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeArrAll" type="checkbox" id="officeArr9">
							<label class="form-check-label" for="officeArr9">大阪営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeArrAll" type="checkbox" id="officeArr10">
							<label class="form-check-label" for="officeArr10">広島営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeArrAll" type="checkbox" id="officeArr11">
							<label class="form-check-label" for="officeArr11">大阪さやま交通</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeArrAll" type="checkbox" id="officeArr12">
							<label class="form-check-label" for="officeArr12">日本高速</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeArrAll" type="checkbox" id="officeArr13">
							<label class="form-check-label" for="officeArr13">ニュープリンス高速</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeArrAll" type="checkbox" id="officeArr14">
							<label class="form-check-label" for="officeArr14">ベイライン</label>
						</span>
					</div>
	 			</div>
            </div>
            
            <div class="form-group row border border-top-0 mb-0">
                <!-- 車両登録番号 -->
                <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center justify-content-between">車両登録番号</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control m-1" maxlength="20" placeholder="全角20文字以内">
                    <small class="form-text text-muted ml-1">※部分一致</small>
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 車台番号 -->
                <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center justify-content-between">車台番号</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control m-1 input_alphanumeric" maxlength="12" placeholder="半角英数字12文字以内">
                    <small class="form-text text-muted ml-1">※部分一致</small>
                </div>
            </div>
            
            <div class="form-group row border border-top-0 mb-0">
                <!-- 車両メーカー -->
                <div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
                    <div class="font-weight-bold">車両メーカー</div>
                </div>
                <div class="col form-check form-check-inline m-2 flex-wrap">
                	<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="maker1">
	                    <label class="form-check-label" for="maker1">Ｊバス</label>
	                </span>
                	<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="maker2">
	                    <label class="form-check-label" for="maker2">三菱ふそう</label>
	                </span>
                	<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="maker3">
	                    <label class="form-check-label" for="maker3">ヒュンダイ</label>
	                </span>	                    
                	<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="maker4">
						<label class="form-check-label" for="maker4">日野</label>
					</span>
                </div>
            </div>
            
            <div class="form-group row border border-top-0 mb-0">
                <!-- 車両タイプ -->
                <div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
                    <div class="font-weight-bold">車両タイプ</div>
                </div>
                <div class="col form-check m-2">
                	<span class="text-nowrap">
	                    <input class="checkAll" type="checkbox" id="typeAll">
	                    <label class="form-check-label" for="typeAll">すべて</label>
                	</span>
					<div class="row ml-0">
	                	<span class="mr-3 text-nowrap">
		                    <input class="typeAll" type="checkbox" id="type1" value="option1">
							<label class="form-check-label" for="type1">ＲＸＮ</label>
	                	</span>
	                	<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type2" value="option2">
							<label class="form-check-label" for="type2">ＴＲＮ</label>
	                	</span>
	                	<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type3" value="option2">
							<label class="form-check-label" for="type3">ＧＲＮ</label>
	                	</span>
	                	<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type4" value="option2">
							<label class="form-check-label" for="type4">ＢＯＮ</label>
	                	</span>
	                	<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type5" value="option1">
							<label class="form-check-label" for="type5">ＬＵＸ</label>
	                	</span>
	                	<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type6" value="option2">
							<label class="form-check-label" for="type6">ＢＵＴ</label>
	                	</span>
	                	<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type7" value="option2">
							<label class="form-check-label" for="type7">ＡＩＲ</label>
	                	</span>
	                	<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type8" value="option2">
							<label class="form-check-label" for="type8">ＲＴＢ</label>
	                	</span>
	                	<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type9" value="option1">
							<label class="form-check-label" for="type9">ＩＫＥＢＵＳ</label>
	                	</span>
	                	<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type10" value="option2">
							<label class="form-check-label" for="type10">ＳＴＤ</label>
	                	</span>
	                	<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type11" value="option2">
							<label class="form-check-label" for="type11">ＣＯＣ</label>
	                	</span>
	                	<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type12" value="option2">
							<label class="form-check-label" for="type12">ＥＸＥ</label>
	                	</span>
	                </div>
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 移動予定日 -->
                <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">移動予定日</div>
                <div class="col-sm-2">
                    <input type="date" class="form-control m-1">
                </div>
                <div class="col-sm-1 d-flex align-items-center justify-content-center">から</div>
                <div class="col-sm-2">
                    <input type="date" class="form-control m-1">
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 運行開始日 -->
                <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">運行開始日</div>
                <div class="col-sm-2">
                    <input type="date" class="form-control m-1">
                </div>
                <div class="col-sm-1 d-flex align-items-center justify-content-center">から</div>
                <div class="col-sm-2">
                    <input type="date" class="form-control m-1">
                </div>
            </div>
            
            <div class="form-group row border border-top-0 mb-0">
                <!-- 車両移動タスク -->
                <div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
                    <div class="font-weight-bold">車両移動タスク</div>
                </div>
                <div class="col form-check form-check-inline m-2">
                	<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="status1">
	                    <label class="form-check-label" for="status1">未対応</label>
	                </span>
                	<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="status2">
	                    <label class="form-check-label" for="status2">対応中</label>
	                </span>
                	<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="status3">
	                    <label class="form-check-label" for="status3">対応済</label>
	                </span>
                </div>
            </div>

            <div class="form-group row border-top mt-2 footer-border">
                <a type="button" class="btn button-black mt-2 col-sm-1" href="#" th:href="@{/car/move/result}">検索</a>
                <a class="btn button-black mt-2 ml-2 col-sm-1" href="#" th:href="@{/car/move/regist}" role="button">新規登録</a>
            </div>
        </form>
    </div>

    <!-- ページング -->
    <nav class="mb-3" aria-label="..." th:if="${type} == 'result'">
        <ul class="pagination">
            <li class="page-item disabled">
                <span class="page-link">前へ</span>
            </li>
            <!-- active = 今表示しているページ -->
            <li class="page-item active">
                <span class="page-link">1</span>
            </li>
            <li class="page-item" aria-current="page">
                <a class="page-link">2</a>
            </li>
            <li class="page-item">
                <a class="page-link">3</a>
            </li>
            <li class="page-item">
                <a class="page-link">次へ</a>
            </li>
        </ul>
    </nav>

    <table class="table table-bordered table-sm" id="dt" th:if="${type} == 'result'">
        <thead class="bg-light">
        <tr>
            <th scope="col" class="align-middle text-center">移動元バス会社（営業所）</th>
            <th scope="col" class="align-middle text-center">移動先バス会社（営業所）</th>
            <th scope="col" class="align-middle text-center">車両登録番号</th>
            <th scope="col" class="align-middle text-center">車台番号</th>
            <th scope="col" class="align-middle text-center">車両メーカー</th>
            <th scope="col" class="align-middle text-center">車両タイプ</th>
            <th scope="col" class="align-middle text-center">移動予定日</th>
            <th scope="col" class="align-middle text-center">運行開始日</th>
            <th scope="col" class="align-middle text-center">車両移動タスク</th>
            <th scope="col" class="align-middle text-center width-007"></th>
        </tr>
        </thead>
        <tbody>
	        <tr>
	            <td class="align-middle">〇〇営業所</td>
	            <td class="align-middle">〇〇営業所</td>
	            <td class="align-middle">〇〇</td>
	            <td class="align-middle">〇〇</td>
	            <td class="align-middle">〇〇〇〇</td>
	            <td class="align-middle">〇〇</td>
	            <td class="align-middle">2020/01/01</td>
	            <td class="align-middle">2020/01/01</td>
	            <td class="align-middle text-danger">未対応</td>
	            <td>
	                <a class="btn button-black btn-sm" th:href="@{/car/move/edit}">編集</a>
	                <a class="btn button-black btn-sm" th:href="@{/car/move/detail}">詳細</a>
	            </td>
	        </tr>
	        <tr>
	            <td class="align-middle">〇〇営業所</td>
	            <td class="align-middle">〇〇営業所</td>
	            <td class="align-middle">〇〇</td>
	            <td class="align-middle">〇〇</td>
	            <td class="align-middle">〇〇〇〇</td>
	            <td class="align-middle">〇〇</td>
	            <td class="align-middle">2020/01/01</td>
	            <td class="align-middle">2020/01/01</td>
	            <td class="align-middle text-primary">対応中</td>
	            <td>
	                <a class="btn button-black btn-sm" th:href="@{/car/move/edit}">編集</a>
	                <a class="btn button-black btn-sm" th:href="@{/car/move/detail}">詳細</a>
	            </td>
	        </tr>
	        <tr>
	            <td class="align-middle">〇〇営業所</td>
	            <td class="align-middle">〇〇営業所</td>
	            <td class="align-middle">〇〇</td>
	            <td class="align-middle">〇〇</td>
	            <td class="align-middle">〇〇〇〇</td>
	            <td class="align-middle">〇〇</td>
	            <td class="align-middle">2020/01/01</td>
	            <td class="align-middle">2020/01/01</td>
	            <td class="align-middle text-success">対応済</td>
	            <td>
	                <a class="btn button-black btn-sm" th:href="@{/car/move/edit}">編集</a>
	                <a class="btn button-black btn-sm" th:href="@{/car/move/detail}">詳細</a>
	            </td>
	        </tr>
	        <tr>
	            <td class="align-middle">〇〇営業所</td>
	            <td class="align-middle">〇〇営業所</td>
	            <td class="align-middle">〇〇</td>
	            <td class="align-middle">〇〇</td>
	            <td class="align-middle">〇〇〇〇</td>
	            <td class="align-middle">〇〇</td>
	            <td class="align-middle">2020/01/01</td>
	            <td class="align-middle">2020/01/01</td>
	            <td class="align-middle text-danger">未対応</td>
	            <td>
	                <a class="btn button-black btn-sm" th:href="@{/car/move/edit}">編集</a>
	                <a class="btn button-black btn-sm" th:href="@{/car/move/detail}">詳細</a>
	            </td>
	        </tr>
	        <tr>
	            <td class="align-middle">〇〇営業所</td>
	            <td class="align-middle">〇〇営業所</td>
	            <td class="align-middle">〇〇</td>
	            <td class="align-middle">〇〇</td>
	            <td class="align-middle">〇〇〇〇</td>
	            <td class="align-middle">〇〇</td>
	            <td class="align-middle">2020/01/01</td>
	            <td class="align-middle">2020/01/01</td>
	            <td class="align-middle text-primary">対応中</td>
	            <td>
	                <a class="btn button-black btn-sm" th:href="@{/car/move/edit}">編集</a>
	                <a class="btn button-black btn-sm" th:href="@{/car/move/detail}">詳細</a>
	            </td>
	        </tr>
	        <tr>
	            <td class="align-middle">〇〇営業所</td>
	            <td class="align-middle">〇〇営業所</td>
	            <td class="align-middle">〇〇</td>
	            <td class="align-middle">〇〇</td>
	            <td class="align-middle">〇〇〇〇</td>
	            <td class="align-middle">〇〇</td>
	            <td class="align-middle">2020/01/01</td>
	            <td class="align-middle">2020/01/01</td>
	            <td class="align-middle text-success">対応済</td>
	            <td>
	                <a class="btn button-black btn-sm" th:href="@{/car/move/edit}">編集</a>
	                <a class="btn button-black btn-sm" th:href="@{/car/move/detail}">詳細</a>
	            </td>
	        </tr>
        </tbody>
    </table>

    <!-- ページング -->
    <nav class="mb-5" aria-label="..." th:if="${type} == 'result'">
        <ul class="pagination">
            <li class="page-item disabled">
                <span class="page-link">前へ</span>
            </li>
            <!-- active = 今表示しているページ -->
            <li class="page-item active">
                <span class="page-link">1</span>
            </li>
            <li class="page-item" aria-current="page">
                <a class="page-link">2</a>
            </li>
            <li class="page-item">
                <a class="page-link">3</a>
            </li>
            <li class="page-item">
                <a class="page-link">次へ</a>
            </li>
        </ul>
    </nav>
</main>

<!-- Footer -->
<div th:replace="layouts/footer :: footer"></div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/datatable.js}"></script>
</html>