<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
	<!-- Header -->
	<div th:replace="layouts/header :: header"></div>
	<!-- HeaderMenu -->
	<div th:replace="layouts/header_menu :: header_menu"></div>
	
	<main class="content">
		<h4 th:switch="${type}" class="mt-3 mb-3 border-bottom" style="border-color: #be77d2!important;border-width: 3px!important;">整備点検管理 ／
			<span th:case="search" th:text="検索"></span>
			<span th:case="result" th:text="検索結果"></span>
		</h4>
		
		<button class="btn btn-primary mb-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" th:if="${type} == 'result'">
			検索条件表示
		</button>
		<!-- th:text="${type == 'edit'} ? '教育訓練結果についてを説明します。' : ''" -->
		<div class="collapse" id="collapseExample" th:classappend="${show} ? 'show' : ''">

			<form class="ml-3 mr-3">
				<div class="form-group row border mb-0 text-center">
					<!-- 整備点検日 -->
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備点検日</div>
					<div class="col-sm-2">
						<input type="date" class="form-control m-1">
					</div>
					<div class="col-sm-1 d-flex align-items-center justify-content-center">から</div>
					<div class="col-sm-2">
						<input type="date" class="form-control m-1">
					</div>
				</div>
			
				<div class="form-group row border border-top-0 mb-0 text-center">
					<!-- 営業所 -->
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">営業所</div>
					<div class="col-sm-2">
						<select class="form-control m-1">
							<option>〇〇営業所</option>
							<option>〇〇営業所</option>
						</select>
					</div>
					<!-- 整備担当者 -->
					<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">整備担当者</div>
					<div class="col-sm-2">
						<select class="form-control m-1">
							<option>テスト 太郎</option>
							<option>〇〇 〇〇</option>
						</select>
					</div>
				</div>
				<!-- 整備点検区分 -->
				<div class="form-group row border border-top-0 mb-0 text-center" style="height: 47px">
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備点検区分</div>
					<div class="col form-check form-check-inline m-2">
						<input class="form-check-input ml-4" type="checkbox" value="option1" checked>
						<label class="form-check-label">日常点検</label>
						<input class="form-check-input ml-3" type="checkbox" value="option2" checked>
						<label class="form-check-label" for="">一ヶ月点検</label>
						<input class="form-check-input ml-3" type="checkbox" value="option2" checked>
						<label class="form-check-label" for="">定期点検</label>
						<input class="form-check-input ml-3" type="checkbox" value="option2" checked>
						<label class="form-check-label" for="">その他</label>
					</div>
				</div>
				<!-- 教育訓練種別 -->
				<div class="form-group row border border-top-0 mb-0 text-center">
					<!-- 車両登録番号 -->
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両登録番号</div>
					<div class="col-sm-2">
						<input type="text" class="form-control m-1">
					</div>
					<!-- 車台番号 -->
					<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車台番号</div>
					<div class="col-sm-2">
						<input type="text" class="form-control m-1">
					</div>
				</div>
				<!-- 型式 -->
				<div class="form-group row border border-top-0 mb-0 text-center">
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">型式</div>
					<div class="col-sm-2">
						<select class="form-control m-1">
							<option>〇〇</option>
							<option>〇〇〇〇</option>
						</select>
					</div>
				</div>
			
				<div class="form-group row border border-top-0 mb-0 text-center">
					<!-- 車両メーカー -->
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両メーカー</div>
					<div class="col-sm-2">
						<select class="form-control m-1" multiple style="height: 90.75px">
							<option>Ｊバス</option>
							<option>三菱ふそう</option>
							<option>ヒュンダイ</option>
							<option>日野</option>
						</select>
					</div>
					<!-- 車両タイプ -->
					<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車両タイプ</div>
					<div class="col-sm-2">
						<select class="form-control m-1" multiple>
							<option>RXN</option>
							<option>TRN</option>
							<option>GRN</option>
							<option>BON</option>
							<option>LUX</option>
							<option>BUT</option>
							<option>AIR</option>
							<option>RTB</option>
							<option>IKEBUS</option>
							<option>STD</option>
							<option>COC</option>
							<option>EXE</option>
						</select>
					</div>
				</div>
			
				<div class="form-group row border border-top-0 mb-0 text-center">
					<!-- 部品名称 -->
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">部品名称</div>
					<div class="col-sm-2">
						<select class="form-control m-1">
							<option>〇〇</option>
							<option>〇〇〇〇</option>
						</select>
					</div>
				</div>
			
				<div class="form-group row border border-top-0 mb-0 text-center">
					<!-- フリーワード -->
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">フリーワード</div>
					<div class="col-sm-3">
						<input type="text" class="form-control m-1">
					</div>
				</div>
			
				<div class="text-right mt-2 mr-4">
					<button type="button" class="btn btn-outline-primary">年間計画表ダウンロード</button>
				</div>
				
				<div class="form-group row border-top mt-2 text-center" style="border-width: 3px!important;">
					<a type="button" class="btn btn-primary mt-2 col-sm-1" href="#" th:href="@{/maintenance/result}">検索</a>
					<a class="btn btn-success mt-2 ml-2 col-sm-1" href="#" th:href="@{/maintenance/regist}" role="button">新規登録</a>
				</div>
				
			</form>

		</div>
		<!-- ページング -->
		<nav aria-label="..." th:if="${type} == 'result'">
			<ul class="pagination">
				<li class="page-item disabled">
					<span class="page-link">前へ</span>
				</li>
				<!-- active = 今表示しているページ -->
				<li class="page-item active">
					<span class="page-link">1</span>
				</li>
				<li class="page-item" aria-current="page">
					<a class="page-link">2</a>
				</li>
				<li class="page-item">
					<a class="page-link">3</a>
				</li>
				<li class="page-item">
					<a class="page-link">次へ</a>
				</li>
			</ul>
		</nav>
		
		<div>
			<table class="table table-sm table-striped bt-2" th:if="${type} == 'result'">
				<thead>
					<tr>
						<th scope="col" class="align-middle text-center">車両登録番号</th>
						<th scope="col" class="text-center">営業所<br>(運行管理社名)
						</th>
						<th scope="col" class="align-middle text-center">整備担当者</th>
						<th scope="col" class="align-middle text-center">整備点検区分</th>
						<th scope="col" class="text-center">整備または修理内容<br>(交換部品詳細)
						</th>
						<th scope="col" class="align-middle text-center">車両メーカー</th>
						<th scope="col" class="align-middle text-center">車両年式</th>
						<th scope="col" class="align-middle text-center">車台番号</th>
						<th scope="col" class="align-middle text-center">型式</th>
						<th scope="col" class="align-middle text-center">走行距離</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center align-middle">000000</td><td class="text-center align-middle">〇〇営業所</td>
						<td class="text-center align-middle">テスト 太郎</td><td class="text-center align-middle">〇〇</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">Jバス</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">000000</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">100</td>
						<td class="text-center align-middle">
							<a class="btn btn-primary btn-sm" th:href="@{/maintenance/edit}">編集</a>
							<a class="btn btn-primary btn-sm" th:href="@{/maintenance/detail}">詳細</a>
						</td>
					</tr>
					<tr>
						<td class="text-center align-middle">000000</td><td class="text-center align-middle">〇〇営業所</td>
						<td class="text-center align-middle">テスト 太郎</td><td class="text-center align-middle">〇〇</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">Jバス</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">000000</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">100</td>
						<td class="text-center align-middle">
							<a class="btn btn-primary btn-sm" th:href="@{/maintenance/edit}">編集</a>
							<a class="btn btn-primary btn-sm" th:href="@{/maintenance/detail}">詳細</a>
						</td>
					</tr>
					<tr>
						<td class="text-center align-middle">000000</td><td class="text-center align-middle">〇〇営業所</td>
						<td class="text-center align-middle">テスト 太郎</td><td class="text-center align-middle">〇〇</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">Jバス</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">000000</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">100</td>
						<td class="text-center align-middle">
							<a class="btn btn-primary btn-sm" th:href="@{/maintenance/edit}">編集</a>
							<a class="btn btn-primary btn-sm" th:href="@{/maintenance/detail}">詳細</a>
						</td>
					</tr>
					<tr>
						<td class="text-center align-middle">000000</td><td class="text-center align-middle">〇〇営業所</td>
						<td class="text-center align-middle">テスト 太郎</td><td class="text-center align-middle">〇〇</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">Jバス</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">000000</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">100</td>
						<td class="text-center align-middle">
							<a class="btn btn-primary btn-sm" th:href="@{/maintenance/edit}">編集</a>
							<a class="btn btn-primary btn-sm" th:href="@{/maintenance/detail}">詳細</a>
						</td>
					</tr>
					<tr>
						<td class="text-center align-middle">000000</td><td class="text-center align-middle">〇〇営業所</td>
						<td class="text-center align-middle">テスト 太郎</td><td class="text-center align-middle">〇〇</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">Jバス</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">000000</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">100</td>
						<td class="text-center align-middle">
							<a class="btn btn-primary btn-sm" th:href="@{/maintenance/edit}">編集</a>
							<a class="btn btn-primary btn-sm" th:href="@{/maintenance/detail}">詳細</a>
						</td>
					</tr>
					<tr>
						<td class="text-center align-middle">000000</td><td class="text-center align-middle">〇〇営業所</td>
						<td class="text-center align-middle">テスト 太郎</td><td class="text-center align-middle">〇〇</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">Jバス</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">000000</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">100</td>
						<td class="text-center align-middle">
							<a class="btn btn-primary btn-sm" th:href="@{/maintenance/edit}">編集</a>
							<a class="btn btn-primary btn-sm" th:href="@{/maintenance/detail}">詳細</a>
						</td>
					</tr>
					<tr>
						<td class="text-center align-middle">000000</td><td class="text-center align-middle">〇〇営業所</td>
						<td class="text-center align-middle">テスト 太郎</td><td class="text-center align-middle">〇〇</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">Jバス</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">000000</td>
						<td class="text-center align-middle">〇〇</td><td class="text-center align-middle">100</td>
						<td class="text-center align-middle">
							<a class="btn btn-primary btn-sm" th:href="@{/maintenance/edit}">編集</a>
							<a class="btn btn-primary btn-sm" th:href="@{/maintenance/detail}">詳細</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- ページング -->
		<nav class="mb-5" aria-label="..." th:if="${type} == 'result'">
			<ul class="pagination">
				<li class="page-item disabled">
					<span class="page-link">前へ</span>
				</li>
				<!-- active = 今表示しているページ -->
				<li class="page-item active">
					<span class="page-link">1</span>
				</li>
				<li class="page-item" aria-current="page">
					<a class="page-link">2</a>
				</li>
				<li class="page-item">
					<a class="page-link">3</a>
				</li>
				<li class="page-item">
					<a class="page-link">次へ</a>
				</li>
			</ul>
		</nav>
	</main>
	
	<!-- Footer -->
	<div th:replace="layouts/footer :: footer"></div>
	
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</html>