<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<header th:fragment="header">
		<div>
			<a th:href="@{/menu}"><img th:src="@{/images/logo.jpg}" alt="会社のロゴ" height="50"></a>
		</div>
		<nav class="navbar navbar-light height-75px">
			<div class="row w-100">
				<div class="col-sm">{ 所属部署 } / { 所属営業所 } / { 役職 } / { ログインユーザ名} </div>
				<div class="col-sm text-right">
					<a class="btn button-black mr-2" href="#">パスワード変更</a>
					<a class="btn button-black mr-2" href="#">ログアウト</a>
				</div>
			</div>
		</nav>
	</header>
</html>