<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
	<!-- Header -->
	<div th:replace="layouts/header :: header"></div>
	<!-- HeaderMenu -->
	<div th:replace="layouts/header_menu :: header_menu"></div>
	
	<main class="content">
		<h4 th:switch="${type}" class="mt-3 mb-3 border-bottom" style="border-color: #be77d2!important;border-width: 3px!important;">教育訓練実施管理 ／ 詳細</h4>
		<form>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 0.9rem">教育訓練ID</label>
				<div class="col-sm-1">
					<input type="text" class="form-control-plaintext" readonly value="000000">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 0.9rem">教育訓練名称</label>
				<div class="col-sm-1">
					<input type="text" class="form-control-plaintext" readonly value="〇〇">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 0.9rem">教育訓練概要</label>
				<div class="col-sm-6">
					<textarea  class="form-control-plaintext" style="height: 100px;" readonly>教育訓練予定の講習内容について、概要を説明します。</textarea>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 0.9rem">実施予定日</label>
				<div class="col-sm-2">
					<input type="date" class="form-control-plaintext" value="2020-01-01" readonly>
				</div>
				<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 0.9rem">教育訓練種別</label>
				<div class="col-sm-2">
					<input type="text" class="form-control-plaintext" value="事故" readonly>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 0.9rem">社員コード</label>
				<div class="col-sm-1">
					<input type="text" class="form-control-plaintext" readonly value="〇〇">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 0.9rem">教育訓練対象者</label>
				<div class="col-sm-2">
					<input type="text" class="form-control-plaintext" readonly value="〇〇">
				</div>
				<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 0.9rem">教育訓練対象者(カナ)</label>
				<div class="col-sm-2">
					<input type="text" class="form-control-plaintext" readonly value="〇〇">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 0.9rem">受講日※</label>
				<div class="col-sm-2">
					<input type="date" class="form-control" value="2020-01-01">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 0.9rem">教育訓練結果※</label>
				<div class="col-sm-6">
					<textarea  class="form-control" style="height: 100px;" th:text="${type == 'edit'} ? '教育訓練結果についてを説明します。' : ''"></textarea>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 0.9rem">結果シート</label>
				<div class="custom-file col-sm-2 ml-3">
					<input type="file" id="cutomfile" class="custom-file-input" name="test_5" multiple /> <label class="custom-file-label" for="customfile" data-browse="参照">ファイル選択...</label>
				</div>
				<div class="input-group-append ml-2">
					<button type="button" class="btn btn-outline-secondary reset">取消</button>
				</div>
			</div>
			<div class="text-left mt-3 mb-3" style="background-color: #EEEEEE">
				<button type="button" class="btn btn-primary col-sm-1 mt-2 mb-2 ml-2"  data-toggle="modal" data-target="#updateModal">編集</button>
			</div>
		</form>
	</main>
	<div th:replace="layouts/footer :: footer"></div>
	<div th:replace="layouts/formModals :: formModals(@{/educationImpl/result},@{/educationImpl/search},@{/educationImpl/result})"></div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>
</html>