<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
	<!-- Header -->
	<div th:replace="layouts/header :: header"></div>
	<!-- HeaderMenu -->
	<div th:replace="layouts/header_menu :: header_menu"></div>
	
	<main class="content">
		<h4 th:switch="${type}" class="mt-3 mb-3 border-bottom" style="border-color: #be77d2!important;border-width: 3px!important;">教育訓練実施管理 ／
			<span th:case="search" th:text="検索"></span>
			<span th:case="result" th:text="検索結果"></span>
		</h4>
		
		<button class="btn btn-primary mb-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" th:if="${type} == 'result'">
			検索条件表示
		</button>
		<!-- th:text="${type == 'edit'} ? '教育訓練結果についてを説明します。' : ''" -->
		<div class="collapse" id="collapseExample" th:classappend="${show} ? 'show' : ''">

			<form>
				<!-- 教育訓練管理ID -->
				<div class="form-group row">
					<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 0.9rem">教育訓練ID</label>
					<div class="col-sm-1">
						<input type="text" class="form-control">
					</div>
				</div>
				<!-- 教育訓練名称 -->
				<div class="form-group row">
					<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 0.9rem">教育訓練名称</label>
					<div class="col-sm-3">
						<input type="text" class="form-control">
					</div>
				</div>
				<!-- 実施予定日 -->
				<div class="form-group row">
					<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 0.9rem">実施予定日</label>
					<div class="col-sm-2">
						<input type="date" class="form-control">
					</div>
					<label class="col-sm-0 col-form-label">から</label>
					<div class="col-sm-2">
						<input type="date" class="form-control">
					</div>
				</div>
				<!-- 受講チェック -->
				<div class="form-group row">
					<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 0.9rem">受講チェック</label>
					<div class="form-check form-check-inline">
						<input class="form-check-input ml-3" type="checkbox" value="option1">
					</div>
				</div>
				<!-- 教育訓練対象 -->
				<div class="form-group row">
					<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 0.9rem">教育訓練対象</label>
				</div>
				<!-- 社員コード -->
				<div class="form-group row">
					<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 0.9rem">社員コード</label>
					<div class="col-sm-2">
						<input type="text" class="form-control">
					</div>
				</div>
				
				<div class="form-group row">
					<!-- 氏名 -->
					<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 0.9rem">氏名</label>
					<div class="col-sm-2">
						<input type="text" class="form-control">
					</div>
					<!-- 氏名(カナ) -->
					<label class="col-sm-2 col-form-label font-weight-bold" style="font-size: 0.9rem">氏名(カナ)</label>
					<div class="col-sm-2">
						<input type="text" class="form-control">
					</div>
				</div>
				
				<div class="text-left mt-3 mb-3">
					<a type="button" class="btn btn-primary col-sm-1 mr-2" href="#" th:href="@{/educationImpl/result}">検索</a>
				</div>
			</form>

		</div>
		<!-- ページング -->
		<nav aria-label="..." th:if="${type} == 'result'">
			<ul class="pagination">
				<li class="page-item disabled">
					<span class="page-link">前へ</span>
				</li>
				<!-- active = 今表示しているページ -->
				<li class="page-item active">
					<span class="page-link">1</span>
				</li>
				<li class="page-item" aria-current="page">
					<a class="page-link">2</a>
				</li>
				<li class="page-item">
					<a class="page-link">3</a>
				</li>
				<li class="page-item">
					<a class="page-link">次へ</a>
				</li>
			</ul>
		</nav>
		
		<table class="table table-striped table-bordered table-sm bt-2" th:if="${type} == 'result'" style="font-size: 0.9rem;">
			<thead>
				<tr>
					<th rowspan="2" class="text-center align-middle">
						<input type="checkbox" checked>
					</th>
					<th rowspan="2" class="align-middle">教育訓練ID</th>
					<th colspan="3" class="align-middle text-center">教育訓練対象者</th>
					<th rowspan="2" class="align-middle">教育訓練名称</th>
					<th rowspan="2" class="align-middle">実施予定日</th>
					<th rowspan="2" class="align-middle">受講日</th>
					<th rowspan="2"></th>
				</tr>
				<tr>
					<th>社員コード</th>
					<th>名称</th>
					<th>名称(カナ)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="width: 5%" class="text-center align-middle">
						<input type="checkbox" checked>
					</td>
					<td class="align-middle">000000</td>
					<td class="align-middle">000000</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">〇〇(カナ)</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">2020/01/01</td>
					<td class="align-middle">2020/01/01</td>
					<td>
						<a class="btn btn-primary btn-sm" th:href="@{/educationImpl/edit}">編集</a>
						<a class="btn btn-primary btn-sm" th:href="@{/educationImpl/detail}">詳細</a>
					</td>
				</tr>
				<tr>
					<td style="width: 5%" class="text-center align-middle">
						<input type="checkbox" checked>
					</td>
					<td class="align-middle">000000</td>
					<td class="align-middle">000000</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">〇〇(カナ)</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">2020/01/01</td>
					<td class="align-middle">2020/01/01</td>
					<td>
						<a class="btn btn-primary btn-sm" th:href="@{/educationImpl/edit}">編集</a>
						<a class="btn btn-primary btn-sm" th:href="@{/educationImpl/detail}">詳細</a>
					</td>
				</tr>
				<tr>
					<td style="width: 5%" class="text-center align-middle">
						<input type="checkbox" checked>
					</td>
					<td class="align-middle">000000</td>
					<td class="align-middle">000000</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">〇〇(カナ)</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">2020/01/01</td>
					<td class="align-middle">2020/01/01</td>
					<td>
						<a class="btn btn-primary btn-sm" th:href="@{/educationImpl/edit}">編集</a>
						<a class="btn btn-primary btn-sm" th:href="@{/educationImpl/detail}">詳細</a>
					</td>
				</tr>
				<tr>
					<td style="width: 5%" class="text-center align-middle">
						<input type="checkbox" checked>
					</td>
					<td class="align-middle">000000</td>
					<td class="align-middle">000000</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">〇〇(カナ)</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">2020/01/01</td>
					<td class="align-middle">2020/01/01</td>
					<td>
						<a class="btn btn-primary btn-sm" th:href="@{/educationImpl/edit}">編集</a>
						<a class="btn btn-primary btn-sm" th:href="@{/educationImpl/detail}">詳細</a>
					</td>
				</tr>
				<tr>
					<td style="width: 5%" class="text-center align-middle">
						<input type="checkbox" checked>
					</td>
					<td class="align-middle">000000</td>
					<td class="align-middle">000000</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">〇〇(カナ)</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">2020/01/01</td>
					<td class="align-middle">2020/01/01</td>
					<td>
						<a class="btn btn-primary btn-sm" th:href="@{/educationImpl/edit}">編集</a>
						<a class="btn btn-primary btn-sm" th:href="@{/educationImpl/detail}">詳細</a>
					</td>
				</tr>
				<tr>
					<td style="width: 5%" class="text-center align-middle">
						<input type="checkbox" checked>
					</td>
					<td class="align-middle">000000</td>
					<td class="align-middle">000000</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">〇〇(カナ)</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">2020/01/01</td>
					<td class="align-middle">2020/01/01</td>
					<td>
						<a class="btn btn-primary btn-sm" th:href="@{/educationImpl/edit}">編集</a>
						<a class="btn btn-primary btn-sm" th:href="@{/educationImpl/detail}">詳細</a>
					</td>
				</tr>
				<tr>
					<td style="width: 5%" class="text-center align-middle">
						<input type="checkbox" checked>
					</td>
					<td class="align-middle">000000</td>
					<td class="align-middle">000000</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">〇〇(カナ)</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">2020/01/01</td>
					<td class="align-middle">2020/01/01</td>
					<td>
						<a class="btn btn-primary btn-sm" th:href="@{/educationImpl/edit}">編集</a>
						<a class="btn btn-primary btn-sm" th:href="@{/educationImpl/detail}">詳細</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<!-- ページング -->
		<nav class="mb-5" aria-label="..." th:if="${type} == 'result'">
			<ul class="pagination">
				<li class="page-item disabled">
					<span class="page-link">前へ</span>
				</li>
				<!-- active = 今表示しているページ -->
				<li class="page-item active">
					<span class="page-link">1</span>
				</li>
				<li class="page-item" aria-current="page">
					<a class="page-link">2</a>
				</li>
				<li class="page-item">
					<a class="page-link">3</a>
				</li>
				<li class="page-item">
					<a class="page-link">次へ</a>
				</li>
			</ul>
		</nav>
	</main>
	
	<!-- Footer -->
	<div th:replace="layouts/footer :: footer"></div>
	
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</html>