<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
	<!-- Header -->
	<div th:replace="layouts/header :: header"></div>
	<!-- HeaderMenu -->
	<div th:replace="layouts/header_menu :: header_menu"></div>
	
	<main class="content">
		<h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">マスタ管理　ログインユーザー管理 ／
			<span class="h4" th:case="edit" th:text="編集"></span>
			<span class="h4" th:case="regist" th:text="登録"></span>
		</h4>
		<form class="mr-3 ml-3">
	    	<div class="form-group row border mb-0">
	        	<!-- 会社 -->
	        	<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center justify-content-between">
	        		会社<div class="req ml-4">必須</div>
	        	</div>
				<div class="col-sm-4">
					<select class="form-control m-1" required>
						<option>選択してください</option>
						<option>会社A</option>
						<option>会社B</option>
					</select>
				</div>
			</div>
	
			<div class="form-group row border border-top-0 mb-0">
				<!-- 部 -->
				<div class="col-sm-2 bg-light border-right font-weight-bold d-flex align-items-center justify-content-between">
					部<div class="req ml-4">必須</div>
				</div>
				<div class="col-sm-4">
					<select class="form-control m-1" required>
						<option>選択してください</option>
						<option>〇〇</option>
						<option>〇〇</option>
					</select>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 部署 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center justify-content-between">
					部署<div class="req ml-4">必須</div>
				</div>
				<div class="col-sm-4">
					<select class="form-control m-1" required>
						<option>選択してください</option>
						<option>〇〇</option>
						<option>〇〇</option>
					</select>
				</div>
			</div>
				
			<div class="form-group row border border-top-0 mb-0 text-center">
				<!-- 営業所 -->
				<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center justify-content-between">
					営業所<div class="req ml-4">必須</div>
				</div>
				<div class="col-sm-4">
					<select class="form-control m-1" required>
						<option>選択してください</option>
						<option>〇〇営業所</option>
						<option>〇〇営業所</option>
					</select>
				</div>
			</div>
				
			<div class="form-group row border border-top-0 mb-0 text-center">
				<!-- 役職/職種 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">役職/職種</div>
				<div class="col-sm-4">
					<select class="form-control m-1">
						<option>選択してください</option>
						<option>〇〇</option>
						<option>〇〇</option>
					</select>
				</div>
			</div>
				
			<div class="form-group row border border-top-0 mb-0">
				<!-- 氏名 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center justify-content-between">
					氏名<div class="req ml-4">必須</div>
				</div>
				<label for="first-name" class="col-form-label ml-3">姓</label>
				<div class="col-sm-4">
					<input type="text" id="first-name" class="form-control m-1" maxlength="10" placeholder="全角10文字以内" required>
				</div>				
				<label for="last-name" class="col-form-label">名</label>
				<div class="col-sm-4">
					<input type="text" id="last-name" class="form-control m-1" maxlength="10" placeholder="全角10文字以内" required>
				</div>
			</div>
				
			<div class="form-group row border border-top-0 mb-0">
				<!-- 氏名（カナ） -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center justify-content-between">
					氏名（カナ）<div class="req ml-4">必須</div>
				</div>
				<label for="first-name" class="col-form-label ml-3">セイ</label>
				<div class="col-sm-4">
					<input type="text" class="form-control m-1" maxlength="20" placeholder="全角カナ20文字以内" required>
				</div>
				<label for="first-name" class="col-form-label">メイ</label>
				<div class="col-sm-4">
					<input type="text" class="form-control m-1" maxlength="40" placeholder="全角カナ20文字以内" required>
				</div>
			</div>
				
			<div class="form-group row border border-top-0 mb-0">
				<!-- ログインID -->
				<div class="col-sm-2 bg-light font-weight-bold border-right d-flex align-items-center justify-content-between">
					ログインID<div class="req">必須</div>
				</div>
				<div class="col-sm-4">
					<input type="text" class="form-control m-1 input_alphanumeric" maxlength="40" placeholder="半角英数40文字以内" required>
				</div>
			</div>
				
			<div class="form-group row border border-top-0 mb-0 text-center">
				<!-- パスワード -->
				<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center justify-content-between">
					パスワード<div class="req">必須</div>
				</div>
				<div class="col-sm-4">
					<input type="password" class="form-control m-1 input_alphanumeric" maxlength="20" minlength="8" placeholder="半角英数8~20文字" required>
				</div>
			</div>
			
			<div class="form-group row border border-top-0 mb-0">
				<!-- ロール権限 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center justify-content-between">
					ロール権限<div class="req ml-4">必須</div>
				</div>
				<div class="col-sm-4">
					<select class="form-control m-1" required>
						<option>選択してください</option>
						<option>〇〇</option>
						<option>〇〇</option>
					</select>
				</div>
			</div>
			
			<div class="form-group row border border-top-0 mb-0 text-center">
				<!-- 在職/退職 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">在職/退職</div>
	        	<div class="col form-check m-2">
					<div class="row ml-0">
						<span class="mr-3 text-nowrap">
		                    <input type="radio" name="employment" class="mr-2">在職
		                </span>
						<span class="mr-3 text-nowrap">
		                    <input type="radio" name="employment" class="mr-2">退職
		                </span>
		            </div>
	        	</div>
			</div>
			
			<div class="form-group row border-top mt-2 text-center footer-border">
				<div type="button" class="btn button-black mt-2" data-toggle="modal" data-target="#createModal">登録</div>
				<div type="button" class="btn button-black mt-2 ml-2">ロック解除</div>
<!--				<div th:if="${type} == 'edit'" type="button" class="btn button-black mt-2" data-toggle="modal" data-target="#updateModal">編集</div> -->
<!-- 				<div th:if="${type} == 'edit'" type="button" class="btn button-black mt-2 ml-2" data-toggle="modal" data-target="#deleteModal">削除</div> -->
<!--				<div th:if="${type} == 'regist'" type="button" class="btn button-black mt-2" data-toggle="modal" data-target="#createModal">登録</div> -->
			</div>
			<div class="form-group row">
				<div class="btn button-black" onclick="history.back()">前に戻る</div>
			</div>
		</form>
	</main>
	
	<div th:replace="layouts/formModals :: formModals(@{/system/login/result},@{/system/login/search},@{/system/login/result})"></div>
	
	<!-- Footer -->
	<div th:replace="layouts/footer :: footer"></div>
	
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script th:src="@{/js/common.js}"></script>
</html>