<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>

<main class="content">

	<h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">マスタ管理　ログインユーザー管理 ／
		<span class="h4" th:case="search" th:text="検索"></span>
		<span class="h4" th:case="result" th:text="検索結果"></span>
	</h4>
	
	<button class="btn button-black mb-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" th:if="${type} == 'result'">
		検索条件表示
	</button>
	<!-- th:text="${type == 'edit'} ? '教育訓練結果についてを説明します。' : ''" -->
	<div class="collapse" id="collapseExample" th:classappend="${show} ? 'show' : ''">

		<form class="mr-3 ml-3">
            <div class="form-group row border mb-0">
                <!-- 会社 -->
                <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">会社</div>
                <div class="col form-check m-2">
					<div class="row ml-0">
						<span class="mr-3 text-nowrap">
		                    <input type="checkbox" id="company1">
		                    <label class="form-check-label" for="retiree">○○</label>
		                </span>
						<span class="mr-3 text-nowrap">
		                    <input type="checkbox" id="company2">
		                    <label class="form-check-label" for="company2">○○</label>
		                </span>
						<span class="mr-3 text-nowrap">
		                    <input type="checkbox" id="company3">
		                    <label class="form-check-label" for="company3">○○</label>
		                </span>
						<span class="mr-3 text-nowrap">
		                    <input type="checkbox" id="company4">
		                    <label class="form-check-label" for="company4">○○</label>
		                </span>
		        	</div>
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 部 -->
                <div class="col-sm-2 bg-light border-right font-weight-bold d-flex align-items-center">部</div>
				<div class="col form-check m-2">
					<span class="text-nowrap">
						<input class="checkAll" type="checkbox" id="departmentAll">
						<label class="form-check-label" for="departmentAll">すべて</label>
					</span>
					<div class="row ml-0">
						<span class="mr-3 text-nowrap">
		                    <input class="departmentAll" type="checkbox" id="department1">
		                    <label class="form-check-label" for="department1">○○</label>
		                </span>
						<span class="mr-3 text-nowrap">
		                    <input class="departmentAll" type="checkbox" id="department2">
		                    <label class="form-check-label" for="department2">○○</label>
		                </span>
						<span class="mr-3 text-nowrap">
		                    <input class="departmentAll" type="checkbox" id="department3">
		                    <label class="form-check-label" for="department3">○○</label>
		                </span>
						<span class="mr-3 text-nowrap">
		                    <input class="departmentAll" type="checkbox" id="department4">
		                    <label class="form-check-label" for="department4">○○</label>
		                </span>
						<span class="mr-3 text-nowrap">
		                    <input class="departmentAll" type="checkbox" id="department5">
		                    <label class="form-check-label" for="department5">○○</label>
		                </span>
						<span class="mr-3 text-nowrap">
		                    <input class="departmentAll" type="checkbox" id="department6">
		                    <label class="form-check-label" for="department6">○○</label>
		                </span>
		            </div>
		        </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 部署 -->
                <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">部署</div>
                <div class="col form-check m-2">
					<div class="row ml-0">
						<span class="mr-3 text-nowrap">
		                    <input type="checkbox" id="division1">
		                    <label class="form-check-label" for="division1">○○</label>
		                </span>
						<span class="mr-3 text-nowrap">
		                    <input type="checkbox" id="division2">
		                    <label class="form-check-label" for="division2">○○</label>
		                </span>
		            </div>
                </div>
            </div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 営業所 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">営業所</div>
				<div class="col form-check m-2">
					<span class="text-nowrap">
						<input class="checkAll" type="checkbox" id="officeAll">
						<label class="form-check-label" for="officeAll">すべて</label>
					</span>
					<div class="row ml-0">
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office1">
							<label class="form-check-label" for="office1">仙台営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
		 					<input class="officeAll" type="checkbox" id="office2">
							<label class="form-check-label" for="office2">千葉営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
		 					<input class="officeAll" type="checkbox" id="office3">
							<label class="form-check-label" for="office3">本社営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
		 					<input class="officeAll" type="checkbox" id="office4">
							<label class="form-check-label" for="office4">池袋営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
		 					<input class="officeAll" type="checkbox" id="office5">
							<label class="form-check-label" for="office5">新潟営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
		 					<input class="officeAll" type="checkbox" id="office6">
							<label class="form-check-label" for="office6">長野営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
		 					<input class="officeAll" type="checkbox" id="office7">
							<label class="form-check-label" for="office7">新清水中継所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office8">
							<label class="form-check-label" for="office8">名古屋営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office9">
							<label class="form-check-label" for="office9">大阪営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office10">
							<label class="form-check-label" for="office10">広島営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office11">
							<label class="form-check-label" for="office11">大阪さやま交通</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office12">
							<label class="form-check-label" for="office12">日本高速</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office13">
							<label class="form-check-label" for="office13">ニュープリンス高速</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office14">
							<label class="form-check-label" for="office14">ベイライン</label>
						</span>
					</div>
 				</div>
			</div>
			
			<div class="form-group row border border-top-0 mb-0 text-center">
				<!-- 役職/職種 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">役職/職種</div>
                <div class="col form-check m-2">
					<div class="row ml-0">
						<span class="mr-3 text-nowrap">
		                    <input type="checkbox" id="division1">
		                    <label class="form-check-label" for="division1">○○</label>
		                </span>
						<span class="mr-3 text-nowrap">
		                    <input type="checkbox" id="division2">
		                    <label class="form-check-label" for="division2">○○</label>
		                </span>
		            </div>
                </div>
			</div>
			
			<div class="form-group row border border-top-0 mb-0">
				<!-- 氏名 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">氏名</div>
				<div class="col-sm-4">
					<input type="text" class="form-control m-1" maxlength="10" placeholder="全角10文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>
			
			<div class="form-group row border border-top-0 mb-0">
				<!-- 氏名（カナ） -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">氏名（カナ）</div>
				<div class="col-sm-5">
					<input type="text" class="form-control m-1" maxlength="40" placeholder="全角カナ40文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>
			
			<div class="form-group row border border-top-0 mb-0">
				<!-- ログインID -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">ログインID</div>
				<div class="col-sm-4">
					<input type="text" class="form-control m-1 input_alphanumeric" maxlength="40" placeholder="半角英数40文字以内">
				</div>
			</div>
			
			<div class="form-group row border border-top-0 mb-0 text-center">
				<!-- ロール権限 -->
				<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">ロール権限</div>
				<div class="col-sm-4">
					<select class="form-control m-1">
						<option>選択してください</option>
						<option>〇〇</option>
						<option>〇〇</option>
					</select>
				</div>
			</div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 退職者 -->
                <div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
                    <div class="font-weight-bold">退職者</div>
                </div>
                <div class="col form-check form-check-inline m-2 flex-wrap">
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="retiree">
	                    <label class="form-check-label" for="retiree">退職者を含める</label>
	                </span>
                </div>
            </div>

			<div class="form-group row border-top mt-2 footer-border">
				<a type="button" class="btn button-black mt-2 col-sm-1" href="#" th:href="@{/system/login/result}">検索</a>
				<a class="btn button-black mt-2 ml-2 col-sm-1" href="#" th:href="@{/system/login/regist}" role="button">新規登録</a>
			</div>
		</form>

	</div>
	
	<div>
		
		<!-- ページング -->
		<nav class="mb-3" aria-label="..." th:if="${type} == 'result'">
			<ul class="pagination">
				<li class="page-item disabled">
					<span class="page-link">前へ</span>
				</li>
				<!-- active = 今表示しているページ -->
				<li class="page-item active">
					<span class="page-link">1</span>
				</li>
				<li class="page-item" aria-current="page">
					<a class="page-link">2</a>
				</li>
				<li class="page-item">
					<a class="page-link">3</a>
				</li>
				<li class="page-item">
					<a class="page-link">次へ</a>
				</li>
			</ul>
		</nav>
	
		<table class="table table-bordered table-sm" id="dt" th:if="${type} == 'result'">
			<thead class="bg-light">
				<tr>
					<th scope="col" class="align-middle text-center">名前</th>
					<th scope="col" class="align-middle text-center">フリガナ</th>
					<th scope="col" class="align-middle text-center">会社</th>
					<th scope="col" class="align-middle text-center">部</th>
					<th scope="col" class="align-middle text-center">部署</th>
					<th scope="col" class="align-middle text-center">営業所</th>
					<th scope="col" class="align-middle text-center">役職/職種</th>
					<th scope="col" class="align-middle text-center">ログインID</th>
					<th scope="col" class="align-middle text-center">ロール権限</th>
					<th scope="col" class="align-middle text-center" width="4%"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="align-middle">テスト 太郎</td>
					<td class="align-middle">テスト タロウ</td>
					<td class="align-middle">会社A</td>
					<td class="align-middle">○○部</td>
					<td class="align-middle">管理部</td>
					<td class="align-middle">〇〇営業所</td>
					<td class="align-middle">役職</td>
					<td class="align-middle">ABCDEFG</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/system/login/edit}">編集</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">テスト 太郎</td>
					<td class="align-middle">テスト タロウ</td>
					<td class="align-middle">会社A</td>
					<td class="align-middle">○○部</td>
					<td class="align-middle">管理部</td>
					<td class="align-middle">〇〇営業所</td>
					<td class="align-middle">役職</td>
					<td class="align-middle">ABCDEFG</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/system/login/edit}">編集</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">テスト 太郎</td>
					<td class="align-middle">テスト タロウ</td>
					<td class="align-middle">会社A</td>
					<td class="align-middle">○○部</td>
					<td class="align-middle">管理部</td>
					<td class="align-middle">〇〇営業所</td>
					<td class="align-middle">役職</td>
					<td class="align-middle">ABCDEFG</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/system/login/edit}">編集</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">テスト 太郎</td>
					<td class="align-middle">テスト タロウ</td>
					<td class="align-middle">会社A</td>
					<td class="align-middle">○○部</td>
					<td class="align-middle">管理部</td>
					<td class="align-middle">〇〇営業所</td>
					<td class="align-middle">役職</td>
					<td class="align-middle">ABCDEFG</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/system/login/edit}">編集</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">テスト 太郎</td>
					<td class="align-middle">テスト タロウ</td>
					<td class="align-middle">会社A</td>
					<td class="align-middle">○○部</td>
					<td class="align-middle">管理部</td>
					<td class="align-middle">〇〇営業所</td>
					<td class="align-middle">役職</td>
					<td class="align-middle">ABCDEFG</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/system/login/edit}">編集</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">テスト 太郎</td>
					<td class="align-middle">テスト タロウ</td>
					<td class="align-middle">会社A</td>
					<td class="align-middle">○○部</td>
					<td class="align-middle">管理部</td>
					<td class="align-middle">〇〇営業所</td>
					<td class="align-middle">役職</td>
					<td class="align-middle">ABCDEFG</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/system/login/edit}">編集</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">テスト 太郎</td>
					<td class="align-middle">テスト タロウ</td>
					<td class="align-middle">会社A</td>
					<td class="align-middle">○○部</td>
					<td class="align-middle">管理部</td>
					<td class="align-middle">〇〇営業所</td>
					<td class="align-middle">役職</td>
					<td class="align-middle">ABCDEFG</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/system/login/edit}">編集</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">テスト 太郎</td>
					<td class="align-middle">テスト タロウ</td>
					<td class="align-middle">会社A</td>
					<td class="align-middle">○○部</td>
					<td class="align-middle">管理部</td>
					<td class="align-middle">〇〇営業所</td>
					<td class="align-middle">役職</td>
					<td class="align-middle">ABCDEFG</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/system/login/edit}">編集</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">テスト 太郎</td>
					<td class="align-middle">テスト タロウ</td>
					<td class="align-middle">会社A</td>
					<td class="align-middle">○○部</td>
					<td class="align-middle">管理部</td>
					<td class="align-middle">〇〇営業所</td>
					<td class="align-middle">役職</td>
					<td class="align-middle">ABCDEFG</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/system/login/edit}">編集</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">テスト 太郎</td>
					<td class="align-middle">テスト タロウ</td>
					<td class="align-middle">会社A</td>
					<td class="align-middle">○○部</td>
					<td class="align-middle">管理部</td>
					<td class="align-middle">〇〇営業所</td>
					<td class="align-middle">役職</td>
					<td class="align-middle">ABCDEFG</td>
					<td class="align-middle">〇〇</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/system/login/edit}">編集</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- ページング -->
	<nav class="mb-5" aria-label="..." th:if="${type} == 'result'">
		<ul class="pagination">
			<li class="page-item disabled">
				<span class="page-link">前へ</span>
			</li>
			<!-- active = 今表示しているページ -->
			<li class="page-item active">
				<span class="page-link">1</span>
			</li>
			<li class="page-item" aria-current="page">
				<a class="page-link">2</a>
			</li>
			<li class="page-item">
				<a class="page-link">3</a>
			</li>
			<li class="page-item">
				<a class="page-link">次へ</a>
			</li>
		</ul>
	</nav>
</main>

<!-- Footer -->
<div th:replace="layouts/footer :: footer"></div>
	
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/datatable.js}"></script>
</html>