<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>
<!-- 個別呼び出しCSS -->
<link rel="stylesheet" th:href="@{/css/style.css}" />

<main class="content">
    <h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">整備点検管理 ／ 詳細</h4>
    <form class="ml-3 mr-3">
        <div class="form-group row border mb-0 text-center">
            <!-- 整備点検ID -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備点検ID</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="123456" readonly>
            </div>
        </div>

	    <h4 class="mt-3">整備点検情報</h4>
        <div class="form-group row border mb-0 text-center">
            <!-- 整備点検区分 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備点検区分</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="日常点検" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 整備点検予定日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備点検予定日</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="2020/01/01" readonly>
            </div>
            <!-- 整備点検日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">整備点検日</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="2020/01/01" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 整備点検会社 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備点検会社</div>
            <div class="col-sm-2">
                <input type="text" class="form-control-plaintext" value="自社" readonly>
            </div>
            <div class="col-sm-2"></div>
            <!-- 整備点検担当者所属営業所 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">整備点検担当者所属営業所</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="名古屋営業所" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 整備点検担当者１ -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備点検担当者１</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="テスト太郎" readonly>
            </div>
            <!-- 整備点検担当者２ -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">整備点検担当者２</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="テスト太郎" readonly>
            </div>
        </div>

	    <h4 class="mt-3">車両情報</h4>
        <div class="form-group row border mb-0 text-center">
            <!-- 車両所属営業所 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両所属営業所</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="新潟営業所" readonly>
            </div>
            <!-- 車両メーカー -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車両メーカー</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="jバス" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 車両登録番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両登録番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="は12-34" readonly>
            </div>
            <!-- 車台番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車台番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="456" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 型式 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">型式</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
            <!-- 車両年式 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車両年式</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="2020/01/01" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 車両タイプ -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両タイプ</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="100km" readonly>
            </div>
            <!-- 走行距離 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">走行距離</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="100km" readonly>
            </div>
        </div>

	    <h4 class="mt-3">整備点検内容</h4>
        <table class="table table-bordered bt-2 table-sm text-left mt-3">
            <thead class="bg-light">
            <tr>
                <th></th>
                <th scope="col" class="align-middle text-center">整備点検項目名称</th>
                <th scope="col" class="align-middle text-center">整備点検記録</th>
                <th scope="col" class="align-middle text-center">整備点検部品</th>
                <th scope="col" class="align-middle text-center">備考</th>
            </tr>
            </thead>
            <tbody>
            <!-- かじ取り装置 -->
            <tr>
                <td width="13%" rowspan="3">かじ取り装置</td>
                <td width="12%">ステアリングオイル</td>
                <td width="15%">◎</td>
                <td scope="col" width="15%">
                	オイル
                	<div>その他部品その他部品その他部品</div>
                </td>
                <td scope="col" width="15%"></td>
            </tr>
            <tr>
                <td width="12%">ステアリングオイル</td>
                <td width="15%">◎</td>
                <td scope="col" width="15%">
                	ストラット
                	<div>その他部品その他部品その他部品</div>
                </td>
                <td scope="col" width="15%"></td>
            </tr>
            <tr>
                <td>ハンドル</td>
                <td>記号</td>
                <td>
                	その他
                	<div>その他部品その他部品その他部品</div>
               	</td>
                <td>ハンドルゴム</td>
            </tr>
            <!-- 制御装置 -->
            <tr>
                <td rowspan="3">制御装置</td>
                <td>ブレーキペダル</td>
                <td>記号</td>
                <td>
                	<div>その他部品その他部品その他部品</div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Pブレーキ</td>
                <td>記号</td>
                <td>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>リターダー</td>
                <td>記号</td>
                <td>
                </td>
                <td></td>
            </tr>
            <!-- その他 -->
            <tr>
                <td rowspan="3">その他</td>
                <td>点検項目</td>
                <td>記号</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>実施内容</td>
                <td>記号</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>備考</td>
                <td colspan="3">備考詳細</td>
            </tr>
            </tbody>
        </table>
    </form>

    <form class="ml-3 mr-3">
        <div class="form-group row border mt-3 mb-0 text-center">
            <!-- 備考詳細 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">詳細内容</div>
            <div class="col-sm-6">
                <input type="text" class="form-control-plaintext" value="詳細内容" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 整備点検記録ファイル -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備点検記録ファイル</div>
            <div class="ml-3 d-flex align-items-center m-1">
                <div type="button" class="btn button-gray btn-sm" data-toggle="modal" data-target="#licenseImageModal">sample.file</div>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 即時メール共有 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">即時メール共有</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="あり" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 事故ヒヤリハット故障ID -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">事故ヒヤリハット故障ID</div>
            <div class="col-sm-4 text-left">
            	<a href="#" class="">1234</a>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 発生日時 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">発生日時</div>
            <div class="col-sm-4 text-left">
                <input type="text" class="form-control-plaintext m-1" value="2020/05/01" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 概要 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">概要</div>
            <div class="col-sm-10">
                <textarea class="form-control-plaintext m-1" readonly></textarea>
            </div>
        </div>

        <div class="form-group row border-top mt-5 text-center footer-border">
            <a class="btn button-black mt-2 col-sm-1" href="#" th:href="@{/maintenance/edit}">編集</a>
            <button type="button" class="btn button-black mt-2 ml-2 col-sm-1" data-toggle="modal" data-target="#deleteModal">削除</button>
        </div>
		<div class="form-group row">
			<div class="btn button-black" onclick="history.back()">前に戻る</div>
		</div>
    </form>

</main>
<div th:replace="layouts/footer :: footer"></div>
<div th:replace="layouts/formModals :: formModals(@{/maintenance/result},@{/maintenance/search},@{/maintenance/result})"></div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>
</html>