<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>
<!-- 個別呼び出しCSS -->
<link rel="stylesheet" th:href="@{/css/style.css}" />

<main class="content">
    <h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">整備点検管理 ／
        <span class="h4" th:case="edit" th:text="編集"></span>
        <span class="h4" th:case="regist" th:text="登録"></span>
    </h4>

    <form class="ml-3 mr-3">
        <div class="form-group row border mb-0 text-center">
            <!-- 整備点検ID -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備点検ID</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="123456" readonly>
            </div>
        </div>

	    <h4 class="mt-3">整備点検情報</h4>
        <div class="form-group row border mt-3 mb-0 text-center">
            <!-- 整備点検区分 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備点検区分</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>日常点検</option>
                    <option>一カ月点検</option>
                    <option>定期点検(三カ月)</option>
                    <option>定期点検(車検)</option>
                    <option>整備</option>
                    <option>故障</option>
                    <option>その他</option>
                </select>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 整備点検予定日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備点検予定日</div>
            <div class="col-sm-4">
                <input type="date" class="form-control m-1">
            </div>
            <!-- 整備点検日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">整備点検日</div>
            <div class="col-sm-4">
                <input type="date" class="form-control m-1">
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 整備点検会社 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備点検会社</div>
            <div class="col form-check form-check-inline m-2">
                <input class="form-check-input ml-4" type="radio" name="maintCompany" id="inlineRadio1" value="option1" checked>
                <label class="form-check-label" for="inlineRadio1">自社</label>
                <input class="form-check-input ml-3" type="radio" name="maintCompany" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">他社</label>
            </div>
            <!-- 整備点検担当者所属営業所 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">整備点検担当者所属営業所</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>〇〇営業所</option>
                    <option>〇〇 〇〇営業所</option>
                </select>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 整備点検担当者１ -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備点検担当者１</div>
            <div class="col-sm-4 maintTanto1">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>テスト 太郎</option>
                    <option>〇〇 〇〇</option>
                    <option>〇〇 〇〇</option>
                </select>
            </div>
            <div class="col-sm-4 maintTanto2">
                <input type="text" class="form-control m-1" maxlength="40" placeholder="全角40文字以内">
            </div>
            <!-- 整備点検担当者２ -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">整備点検担当者２</div>
            <div class="col-sm-4 maintTanto1">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>テスト 太郎</option>
                    <option>〇〇 〇〇</option>
                    <option>〇〇 〇〇</option>
                </select>
            </div>
            <div class="col-sm-4 maintTanto2">
                <input type="text" class="form-control m-1" maxlength="40" placeholder="全角40文字以内">
            </div>
        </div>

	    <h4 class="mt-3">車両情報</h4>
        <div class="form-group row border mt-3 mb-0 text-center">
            <!-- 車両所属営業所 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両所属営業所</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>〇〇営業所</option>
                    <option>〇〇〇〇営業所</option>
                </select>
            </div>
            <!-- 車両選択 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車両選択</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>〇〇</option>
                    <option>〇〇 〇〇</option>
                </select>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 車両メーカー -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両メーカー</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="jバス" readonly>
            </div>
            <!-- 車両登録番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車両登録番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="1234" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 車台番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車台番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="456" readonly>
            </div>
            <!-- 型式 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">型式</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="〇〇" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 車両年式 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両年式</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="2020/01/01" readonly>
            </div>
            <!-- 車両タイプ -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車両タイプ</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="RXN" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 走行距離 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">走行距離</div>
            <div class="col-sm-2">
                <input type="number" class="form-control m-1 numberMaxLength8" min="0">
            </div>
        </div>
    </form>


    <h4 class="mt-3">整備点検内容<button class="ml-4 btn button-black mb-1" data-toggle="modal" data-target="#ModalLong">整備点検項目追加</button></h4>
    <form class="">
        <table class="table table-bordered bt-2 table-sm text-left mt-3">
            <thead class="bg-light">
            <tr>
                <th></th>
                <th scope="col" class="align-middle text-center">整備点検項目名称</th>
                <th scope="col" class="align-middle text-center">整備点検記録</th>
                <th scope="col" class="align-middle text-center">整備点検部品</th>
                <th scope="col" class="align-middle text-center">備考</th>
                <th scope="col" class="align-middle text-center"></th>
            </tr>
            </thead>
            <tbody>
            <!-- かじ取り装置 -->
            <tr>
                <td width="13%" rowspan="2">かじ取り装置</td>
                <td width="12%">ステアリングオイル<button class="btn button-black py-1 px-2 float-right">追加</button></td>
                <td width="15%">
                    <select class="form-control">
                        <option>選択してください</option>
                        <option>◎︎</option>
                        <option>該当なし</option>
                    </select>
                </td>
                <td scope="col" width="15%">
                    <select class="form-control mb-1">
                        <option>選択してください</option>
                        <option>オイル</option>
                        <option>ストラット</option>
                        <option>ターボチャージャー</option>
                    </select>
					その他
                    <input type="text" class="form-control input_alphanumeric" maxlength="50" placeholder="半角英数字50文字以内">
                </td>
                <td scope="col" width="15%">
                    <textarea class="form-control" rows="4" maxlength="100" placeholder="全角100文字以内"></textarea>
                </td>
                <td scope="col" class="width-005 align-middle text-center">
					<button class="btn button-black mb-1">削除</button>
				</td>
            </tr>
            <tr>
                <td>ハンドル<button class="btn button-black py-1 px-2 float-right">追加</button></td>
                <td>
                    <select class="form-control">
                        <option>選択してください</option>
                        <option>◎︎</option>
                        <option>該当なし</option>
                    </select>
                </td>
                <td>
                    <select class="form-control">
                        <option>選択してください</option>
                        <option>オイル</option>
                        <option>ストラット</option>
                        <option>ターボチャージャー</option>
                    </select>
					その他
                    <input type="text" class="form-control input_alphanumeric" maxlength="50" placeholder="半角英数字50文字以内">
                </td>
                <td scope="col" width="15%">
                    <textarea class="form-control" rows="4" maxlength="100" placeholder="全角100文字以内"></textarea>
                </td>
                <td scope="col" class="width-005 align-middle text-center">
					<button class="btn button-black mb-1">削除</button>
				</td>
            </tr>
            <!-- 制御装置 -->
            <tr>
                <td rowspan="3">制御装置</td>
                <td>ブレーキペダル<button class="btn button-black py-1 px-2 float-right">追加</button></td>
                <td>
                    <select class="form-control">
                        <option>選択してください</option>
                        <option>◎︎</option>
                        <option>該当なし</option>
                    </select>
                </td>
                <td>
                    <select class="form-control">
                        <option>選択してください</option>
                        <option>オイル</option>
                        <option>ストラット</option>
                        <option>ターボチャージャー</option>
                    </select>
					その他
                    <input type="text" class="form-control input_alphanumeric" maxlength="50" placeholder="半角英数字50文字以内">
                </td>
                <td scope="col" width="15%">
                    <textarea class="form-control" rows="4" maxlength="100" placeholder="全角100文字以内"></textarea>
                </td>
                <td scope="col" class="width-005 align-middle text-center">
					<button class="btn button-black mb-1">削除</button>
				</td>
            </tr>
            <tr>
                <td>Pブレーキ<button class="btn button-black py-1 px-2 float-right">追加</button></td>
                <td>
                    <select class="form-control">
                        <option>選択してください</option>
                        <option>◎︎</option>
                        <option>該当なし</option>
                    </select>
                </td>
                <td>
                    <select class="form-control">
                        <option>選択してください</option>
                        <option>オイル</option>
                        <option>ストラット</option>
                        <option>ターボチャージャー</option>
                    </select>
					その他
                    <input type="text" class="form-control input_alphanumeric" maxlength="50" placeholder="半角英数字50文字以内">
                </td>
                <td scope="col" width="15%">
                    <textarea class="form-control" rows="4" maxlength="100" placeholder="全角100文字以内"></textarea>
                </td>
                <td scope="col" class="width-005 align-middle text-center">
					<button class="btn button-black mb-1">削除</button>
				</td>
            </tr>
            <tr>
                <td>リターダー<button class="btn button-black py-1 px-2 float-right">追加</button></td>
                <td>
                    <select class="form-control">
                        <option>選択してください</option>
                        <option>◎︎</option>
                        <option>該当なし</option>
                    </select>
                </td>
                <td>
                    <select class="form-control">
                        <option>選択してください</option>
                        <option>オイル</option>
                        <option>ストラット</option>
                        <option>ターボチャージャー</option>
                    </select>
					その他
                    <input type="text" class="form-control input_alphanumeric" maxlength="50" placeholder="半角英数字50文字以内">
                </td>
                <td scope="col" width="15%">
                    <textarea class="form-control" rows="4" maxlength="100" placeholder="全角100文字以内"></textarea>
                </td>
                <td scope="col" class="width-005 align-middle text-center">
					<button class="btn button-black mb-1">削除</button>
				</td>
            </tr>
            <!-- その他 -->
            <tr>
                <td rowspan="3">その他</td>
                <td>点検項目<button class="btn button-black py-1 px-2 float-right">追加</button></td>
                <td>
                    <select class="form-control">
                        <option>選択してください</option>
                        <option>◎︎</option>
                        <option>該当なし</option>
                    </select>
                </td>
                <td>
                    <select class="form-control">
                        <option>選択してください</option>
                        <option>オイル</option>
                        <option>ストラット</option>
                        <option>ターボチャージャー</option>
                    </select>
					その他
                    <input type="text" class="form-control input_alphanumeric" maxlength="50" placeholder="半角英数字50文字以内">
                </td>
                <td scope="col" width="15%">
                    <textarea class="form-control" rows="4" maxlength="100" placeholder="全角100文字以内"></textarea>
                </td>
                <td scope="col" class="width-005 align-middle text-center">
					<button class="btn button-black mb-1">削除</button>
				</td>
            </tr>
            <tr>
                <td>実施内容<button class="btn button-black py-1 px-2 float-right">追加</button></td>
                <td>
                    <select class="form-control">
                        <option>選択してください</option>
                        <option>◎︎</option>
                        <option>該当なし</option>
                    </select>
                </td>
                <td>
                    <select class="form-control">
                        <option>選択してください</option>
                        <option>オイル</option>
                        <option>ストラット</option>
                        <option>ターボチャージャー</option>
                    </select>
					その他
                    <input type="text" class="form-control input_alphanumeric" maxlength="50" placeholder="半角英数字50文字以内">
                </td>
                <td scope="col" width="15%">
                    <textarea class="form-control" rows="4" maxlength="100" placeholder="全角100文字以内"></textarea>
                </td>
                <td scope="col" class="width-005 align-middle text-center">
					<button class="btn button-black mb-1">削除</button>
				</td>
            </tr>
            </tbody>
        </table>
    </form>

    <form class="ml-3 mr-3">
        <div class="form-group row border mt-3 mb-0">
            <!-- 備考詳細 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">詳細内容</div>
            <div class="col">
                <textarea class="form-control m-1" maxlength="200" placeholder="全角200文字以内"></textarea>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 整備点検記録ファイル -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備点検記録ファイル</div>
            <div class="col-sm-4 input-group align-middle m-1">
                <div class="custom-file">
                    <input type="file" class="custom-file-input">
                    <label class="custom-file-label text-left" for="" data-browse="参照">ファイルを選択</label>
                </div>
                <div class="input-group-append">
                    <button type="button" class="btn input-group-text">削除</button>
                </div>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 即時メール共有 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">即時メール共有</div>
            <div class="col form-check form-check-inline m-3">
                <input class="form-check-input ml-2" type="checkbox" checked>あり
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 事故ヒヤリハット故障ID -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">事故ヒヤリハット故障ID</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1">
                <small class="form-text text-muted ml-1"></small>
            </div>
            <div class="d-flex align-items-center">
                <div class="btn button-black m-1">事故ヒヤリハット故障検索</div>
            </div>
        </div>

        <div class="form-group row border-top mt-5 text-center footer-border">
<!--            <div th:if="${type} == 'edit'" class="btn button-black mt-2" data-toggle="modal" data-target="#updateModal">編集</div>-->
<!--            <div th:if="${type} == 'regist'" class="btn button-black mt-2" data-toggle="modal" data-target="#createModal">登録</div>-->
            <div class="btn button-black mt-2" data-toggle="modal" data-target="#createModal">登録</div>
        </div>
		<div class="form-group row">
			<div class="btn button-black" onclick="history.back()">前に戻る</div>
		</div>
    </form>

</main>


		<!-- Modal -->
		<div class="modal fade" id="ModalLong" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<button class="btn button-black mb-1" style="width:100%" data-toggle="collapse" data-target="#multiCollapse1" aria-expanded="false">かじ取り装置</button>
						<div class="collapse multi-collapse" id="multiCollapse1">
							<table class="table table-bordered table-sm text-left mt-1" style="width: 100%">
								<tbody>
									<!-- かじ取り装置 -->
									<tr>
										<td>ステアリングオイル</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>ハンドル</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<button class="btn button-black mb-1" style="width:100%" data-toggle="collapse" data-target="#multiCollapse2" aria-expanded="false">制御装置</button>
						<div class="collapse multi-collapse" id="multiCollapse2">
							<table class="table table-bordered table-sm text-left" style="width: 100%">
								<tbody>
									<!-- かじ取り装置 -->
									<tr>
										<td>ブレーキペダル</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>Pブレーキ</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>リターダー</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<button class="btn button-black mb-1" style="width:100%" data-toggle="collapse" data-target="#multiCollapse3" aria-expanded="false">走行装置</button>
						<div class="collapse multi-collapse" id="multiCollapse3">
							<table class="table table-bordered table-sm text-left mt-1" style="width: 100%">
								<tbody>
									<!-- かじ取り装置 -->
									<tr>
										<td>ブレーキペダル</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>Pブレーキ</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>リターダー</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<button class="btn button-black mb-1" style="width:100%" data-toggle="collapse" data-target="#multiCollapse4" aria-expanded="false">緩衝装置</button>
						<div class="collapse multi-collapse" id="multiCollapse4">
							<table class="table table-bordered table-sm text-left mt-1" style="width: 100%">
								<tbody>
									<!-- かじ取り装置 -->
									<tr>
										<td>グロース</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<button class="btn button-black mb-1" style="width:100%" data-toggle="collapse" data-target="#multiCollapse5" aria-expanded="false">動力伝達装置装置</button>
						<div class="collapse multi-collapse" id="multiCollapse5">
							<table class="table table-bordered table-sm text-left mt-1" style="width: 100%">
								<tbody>
									<!-- かじ取り装置 -->
									<tr>
										<td>クラッチ</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<button class="btn button-black mb-1" style="width:100%" data-toggle="collapse" data-target="#multiCollapse6" aria-expanded="false">電気装置</button>
						<div class="collapse multi-collapse" id="multiCollapse6">
							<table class="table table-bordered table-sm text-left mt-1" style="width: 100%">
								<tbody>
									<tr>
										<td>バッテリー液</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>バックアイテレビ</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>灯火類</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>計器類</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>各種室内灯</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>放送機器</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<button class="btn button-black mb-1" style="width:100%" data-toggle="collapse" data-target="#multiCollapse7" aria-expanded="false">原動機</button>
						<div class="collapse multi-collapse" id="multiCollapse7">
							<table class="table table-bordered table-sm text-left mt-1" style="width: 100%">
								<tbody>
									<tr>
										<td>エンジン始動</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>冷却水</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>エンジンオイル</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>各ベルト</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<button class="btn button-black mb-1" style="width:100%" data-toggle="collapse" data-target="#multiCollapse8" aria-expanded="false">付属装置等</button>
						<div class="collapse multi-collapse" id="multiCollapse8">
							<table class="table table-bordered table-sm text-left mt-1" style="width: 100%">
								<tbody>
									<tr>
										<td>ワイパー</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>ウォッシャー液</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>エアー圧力</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>エアコン</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<button class="btn button-black mb-1" style="width:100%" data-toggle="collapse" data-target="#multiCollapse9" aria-expanded="false">車体</button>
						<div class="collapse multi-collapse" id="multiCollapse9">
							<table class="table table-bordered table-sm text-left mt-1" style="width: 100%">
								<tbody>
									<tr>
										<td>ボデー</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>窓・フロントガラス</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>ドアー</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>エアータンク</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>燃料タンク</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>オートグリス</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>アドブルー</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>ミラー</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>座席</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<button class="btn button-black mb-1" style="width:100%" data-toggle="collapse" data-target="#multiCollapse10" aria-expanded="false">オイル補給量</button>
						<div class="collapse multi-collapse" id="multiCollapse10">
							<table class="table table-bordered table-sm text-left mt-1" style="width: 100%;">
								<tbody>
									<tr>
										<td height="33px">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<button class="btn button-black mb-1" style="width:100%" data-toggle="collapse" data-target="#multiCollapse11" aria-expanded="false">タイヤ空気圧測定</button>
						<div class="collapse multi-collapse" id="multiCollapse11">
							<table class="table table-bordered table-sm text-left mt-1" style="width: 100%;">
								<tbody>
									<tr>
										<td>右前</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>左前</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>右後(外輪)</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>右後(内輪)</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>左後(外輪)</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>左後(内輪)</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<button class="btn button-black mb-1" style="width:100%" data-toggle="collapse" data-target="#multiCollapse12" aria-expanded="false">タイヤの溝の深さ測定</button>
						<div class="collapse multi-collapse" id="multiCollapse12">
							<table class="table table-bordered table-sm text-left mt-1" style="width: 100%;">
								<tbody>
									<tr>
										<td>右前</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>左前</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>右後(外輪)</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>右後(内輪)</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>左後(外輪)</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>左後(内輪)</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<button class="btn button-black mb-1" style="width:100%" data-toggle="collapse" data-target="#multiCollapse13" aria-expanded="false">その他</button>
						<div class="collapse multi-collapse" id="multiCollapse13">
							<table class="table table-bordered table-sm text-left mt-1" style="width: 100%;">
								<tbody>
									<tr>
										<td>点検項目</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>実施内容</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>
										<td>備考</td>
										<td style="width:10%">
											<div class="form-group form-check text-center">
												<input type="checkbox" class="form-check-input" checked>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn button-black" data-dismiss="modal">設定</button>
					</div>
				</div>
			</div>
		</div>




<div th:replace="layouts/footer :: footer"></div>
<div th:replace="layouts/formModals :: formModals(@{/maintenance/result},@{/maintenance/search},@{/maintenance/result})"></div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/maintenance.js}"></script>
</body>
</html>