<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>

<main class="content">

	<h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">整備点検管理 ／
		<span class="h4" th:case="search" th:text="検索"></span>
		<span class="h4" th:case="result" th:text="検索結果"></span>
	</h4>
	
	<button class="btn button-black mb-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" th:if="${type} == 'result'">
		検索条件表示
	</button>
	
	<div class="collapse" id="collapseExample" th:classappend="${show} ? 'show' : ''">

		<form class="ml-3 mr-3">
			<div class="form-group row border mb-0">
				<!-- 整備点検日 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備点検日</div>
				<div class="col-sm-2">
					<input type="date" class="form-control m-1">
				</div>
				<div class="col-sm-1 d-flex align-items-center justify-content-center">から</div>
				<div class="col-sm-2">
					<input type="date" class="form-control m-1">
				</div>
			</div>
		
			<div class="form-group row border border-top-0 mb-0">
				<!-- 営業所 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">営業所</div>
				<div class="col form-check form-check-inline m-2 flex-wrap">
					<span class="text-nowrap">
						<input class="form-check-input ml-3 checkAll" type="checkbox" id="officeAll">
						<label class="form-check-label" for="officeAll">すべて</label>
					</span>
					<div class="row ml-0">
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office1">
							<label class="form-check-label" for="office1">仙台営業所</label>
						</span>
						<span class="text-nowrap">
		 					<input class="form-check-input ml-3 officeAll" type="checkbox" id="office2">
							<label class="form-check-label" for="office2">千葉営業所</label>
						</span>
						<span class="text-nowrap">
		 					<input class="form-check-input ml-3 officeAll" type="checkbox" id="office3">
							<label class="form-check-label" for="office3">本社営業所</label>
						</span>
						<span class="text-nowrap">
		 					<input class="form-check-input ml-3 officeAll" type="checkbox" id="office4">
							<label class="form-check-label" for="office4">池袋営業所</label>
						</span>
						<span class="text-nowrap">
		 					<input class="form-check-input ml-3 officeAll" type="checkbox" id="office5">
							<label class="form-check-label" for="office5">新潟営業所</label>
						</span>
						<span class="text-nowrap">
		 					<input class="form-check-input ml-3 officeAll" type="checkbox" id="office6">
							<label class="form-check-label" for="office6">長野営業所</label>
						</span>
						<span class="text-nowrap">
		 					<input class="form-check-input ml-3 officeAll" type="checkbox" id="office7">
							<label class="form-check-label" for="office7">新清水中継所</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office8">
							<label class="form-check-label" for="office8">名古屋営業所</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office9">
							<label class="form-check-label" for="office9">大阪営業所</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office10">
							<label class="form-check-label" for="office10">広島営業所</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office11">
							<label class="form-check-label" for="office11">大阪さやま交通</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office12">
							<label class="form-check-label" for="office12">日本高速</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office13">
							<label class="form-check-label" for="office13">ニュープリンス高速</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office14">
							<label class="form-check-label" for="office14">ベイライン</label>
						</span>
					</div>
 				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 整備担当者氏名 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備担当者氏名</div>
				<div class="col-sm-4">
					<input type="text" class="form-control m-1" maxlength="20" placeholder="全角20文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 整備担当者フリガナ -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備担当者フリガナ</div>
				<div class="col-sm-10">
					<input type="text" class="form-control m-1" maxlength="40" placeholder="全角40文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>

			<!-- 整備点検区分 -->
			<div class="form-group row border border-top-0 mb-0">
				<div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
					<div class="font-weight-bold">整備点検区分</div>
				</div>
				<div class="col form-check m-2">
					<span class="text-nowrap">
						<input class="checkAll" type="checkbox" id="kubunAll">
						<label class="form-check-label" for="kubunAll">すべて</label>
					</span>
					<div class="row ml-0">
						<span class="mr-3 text-nowrap">
							<input class="kubunAll" type="checkbox" id="kubun1" value="option1">
							<label class="form-check-label" for="kubun1">日常点検</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="kubunAll" type="checkbox" id="kubun2" value="option2">
							<label class="form-check-label" for="kubun2">一ヶ月点検</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="kubunAll" type="checkbox" id="kubun3" value="option3">
							<label class="form-check-label" for="kubun3">定期点検(3ヶ月)</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="kubunAll" type="checkbox" id="kubun4" value="option4">
							<label class="form-check-label" for="kubun4">定期点検(車検)</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="kubunAll" type="checkbox" id="kubun5" value="option2">
							<label class="form-check-label" for="kubun5">整備</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="kubunAll" type="checkbox" id="kubun6" value="option3">
							<label class="form-check-label" for="kubun6">故障</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="kubunAll" type="checkbox" id="kubun7" value="option4">
							<label class="form-check-label" for="kubun7">その他</label>
						</span>
					</div>
				</div>
			</div>
			
			<!-- 教育訓練種別 -->
			<div class="form-group row border border-top-0 mb-0">
				<!-- 車両メーカー -->
				<div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
					<div class="font-weight-bold">車両メーカー</div>
				</div>
				<div class="col form-check form-check-inline m-2 flex-wrap">
					<span class="text-nowrap">
						<input class="form-check-input ml-3" type="checkbox" id="maker1" value="option1">
						<label class="form-check-label" for="maker1">Ｊバス</label>
					</span>
					<span class="text-nowrap">
						<input class="form-check-input ml-3" type="checkbox" id="maker2" value="option2">
						<label class="form-check-label" for="maker2">三菱ふそう</label>
					</span>
					<span class="text-nowrap">
						<input class="form-check-input ml-3" type="checkbox" id="maker3" value="option2">
						<label class="form-check-label" for="maker3">ヒュンダイ</label>
					</span>
					<span class="text-nowrap">
						<input class="form-check-input ml-3" type="checkbox" id="maker4" value="option2">
						<label class="form-check-label" for="maker4">日野</label>
					</span>
				</div>
			</div>
			
			<div class="form-group row border border-top-0 mb-0">
				<!-- 車両登録番号 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両登録番号</div>
				<div class="col-sm-4">
					<input type="text" class="form-control m-1" maxlength="20" placeholder="全角20文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 車台番号 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車台番号</div>
				<div class="col-sm-4">
					<input type="text" class="form-control m-1 input_alphanumeric" maxlength="12" placeholder="半角英数字12文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 型式 -->
				<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">型式</div>
				<div class="col-sm-4">
					<input type="text" class="form-control m-1">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 車両年式 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両年式</div>
				<div class="col-sm-4">
					<select class="form-control m-1">
						<option>〇〇</option>
						<option>〇〇〇〇</option>
					</select>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 車両タイプ -->
				<div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
					<div class="font-weight-bold">車両タイプ</div>
				</div>
				<div class="col form-check m-2">
					<span class="text-nowrap">
						<input class="checkAll" type="checkbox" id="typeAll">
						<label class="form-check-label" for="typeAll">すべて</label>
					</span>
					<div class="row ml-0">
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type1" value="option1">
							<label class="form-check-label" for="type1">ＲＸＮ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type2" value="option2">
							<label class="form-check-label" for="type2">ＴＲＮ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type3" value="option2">
							<label class="form-check-label" for="type3">ＧＲＮ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type4" value="option2">
							<label class="form-check-label" for="type4">ＢＯＮ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type5" value="option1">
							<label class="form-check-label" for="type5">ＬＵＸ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type6" value="option2">
							<label class="form-check-label" for="type6">ＢＵＴ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type7" value="option2">
							<label class="form-check-label" for="type7">ＡＩＲ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type8" value="option2">
							<label class="form-check-label" for="type8">ＲＴＢ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type9" value="option1">
							<label class="form-check-label" for="type9">ＩＫＥＢＵＳ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type10" value="option2">
							<label class="form-check-label" for="type10">ＳＴＤ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type11" value="option2">
							<label class="form-check-label" for="type11">ＣＯＣ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type12" value="option2">
							<label class="form-check-label" for="type12">ＥＸＥ</label>
						</span>
					</div>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 部品名称 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">部品名称</div>
				<div class="col-sm-4">
					<input type="text" class="form-control m-1">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>

			<div class="form-group row border-top mt-2 footer-border">
				<a type="button" class="btn button-black mt-2 col-sm-1" href="#" th:href="@{/maintenance/result}">検索</a>
				<a class="btn button-black mt-2 ml-2 col-sm-1" href="#" th:href="@{/maintenance/regist}" role="button">新規登録</a>
			</div>
			
		</form>

	</div>

	<div>
		<!-- ページング -->
		<nav class="d-flex" aria-label="..." th:if="${type} == 'result'">
			<ul class="pagination">
				<li class="page-item disabled">
					<span class="page-link">前へ</span>
				</li>
				<li class="page-item active">
					<span class="page-link">1</span>
				</li>
				<li class="page-item" aria-current="page">
					<a class="page-link">2</a>
				</li>
				<li class="page-item">
					<a class="page-link">3</a>
				</li>
				<li class="page-item">
					<a class="page-link">次へ</a>
				</li>
			</ul>
			<button type="button" class="btn button-black btn-sm ml-auto py-2 h-75">年間計画表ダウンロード</button>
		</nav>

		<table id="dt" class="table table-bordered table-sm bt-2" th:if="${type} == 'result'">
			<thead class="bg-light">
				<tr>
					<th scope="col" class="align-middle text-center">車両登録番号</th>
					<th scope="col" class="align-middle text-center">営業所</th>
					<th scope="col" class="align-middle text-center">整備担当者１</th>
					<th scope="col" class="align-middle text-center">整備点検区分</th>
					<th scope="col" class="align-middle text-center">詳細内容</th>
					<th scope="col" class="align-middle text-center">車両メーカー</th>
					<th scope="col" class="align-middle text-center">車台番号</th>
					<th scope="col" class="align-middle text-center">型式</th>
					<th scope="col" class="align-middle text-center">車両年式</th>
					<th scope="col" class="align-middle text-center">走行距離（km）</th>
					<th scope="col" class="width-005"></th>
				</tr>
			</thead>
			
			<tbody>
				<tr>
					<td class="align-middle text-truncate">000001</td>
					<td class="align-middle text-truncate">B営業所</td>
					<td class="align-middle text-truncate">宇野 太郎</td>
					<td class="align-middle text-truncate">区分D</td>
					<td class="align-middle text-truncate">内容E</td>
					<td class="align-middle text-truncate">Jバス</td>
					<td class="align-middle text-truncate">000006</td>
					<td class="align-middle text-truncate">AAAAAAAAAAAA</td>
					<td class="align-middle text-truncate">2020/01</td>
					<td class="align-middle text-truncate" data-im-format-options="useseparator">1,000,000</td>
					<td class="align-middle text-truncate">
						<a class="btn button-black btn-sm" th:href="@{/maintenance/edit}">編集</a>
						<a class="btn button-black btn-sm" th:href="@{/maintenance/detail}">詳細</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">000001</td><td class="align-middle">B営業所</td>
					<td class="align-middle">宇野 太郎</td><td class="align-middle">区分D</td>
					<td class="align-middle">内容E</td>
					<td class="align-middle">Jバス</td>
					<td class="align-middle">000006</td>
					<td class="align-middle">AA</td>
					<td class="align-middle text-truncate">2020/01</td>
					<td class="align-middle">100</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/maintenance/edit}">編集</a>
						<a class="btn button-black btn-sm" th:href="@{/maintenance/detail}">詳細</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">000001</td><td class="align-middle">B営業所</td>
					<td class="align-middle">宇野 太郎</td><td class="align-middle">区分D</td>
					<td class="align-middle">内容E</td>
					<td class="align-middle">Jバス</td>
					<td class="align-middle">000006</td>
					<td class="align-middle">AA</td>
					<td class="align-middle text-truncate">2020/01</td>
					<td class="align-middle">100</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/maintenance/edit}">編集</a>
						<a class="btn button-black btn-sm" th:href="@{/maintenance/detail}">詳細</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">000001</td><td class="align-middle">B営業所</td>
					<td class="align-middle">宇野 太郎</td><td class="align-middle">区分D</td>
					<td class="align-middle">内容E</td>
					<td class="align-middle">Jバス</td>
					<td class="align-middle">000006</td>
					<td class="align-middle">AA</td>
					<td class="align-middle text-truncate">2020/01</td>
					<td class="align-middle">100</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/maintenance/edit}">編集</a>
						<a class="btn button-black btn-sm" th:href="@{/maintenance/detail}">詳細</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">000001</td><td class="align-middle">B営業所</td>
					<td class="align-middle">宇野 太郎</td><td class="align-middle">区分D</td>
					<td class="align-middle">内容E</td>
					<td class="align-middle">Jバス</td>
					<td class="align-middle">000006</td>
					<td class="align-middle">AA</td>
					<td class="align-middle text-truncate">2020/01</td>
					<td class="align-middle">100</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/maintenance/edit}">編集</a>
						<a class="btn button-black btn-sm" th:href="@{/maintenance/detail}">詳細</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">000001</td><td class="align-middle">B営業所</td>
					<td class="align-middle">宇野 太郎</td><td class="align-middle">区分D</td>
					<td class="align-middle">内容E</td>
					<td class="align-middle">Jバス</td>
					<td class="align-middle">000006</td>
					<td class="align-middle">AA</td>
					<td class="align-middle text-truncate">2020/01</td>
					<td class="align-middle">100</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/maintenance/edit}">編集</a>
						<a class="btn button-black btn-sm" th:href="@{/maintenance/detail}">詳細</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">000001</td><td class="align-middle">B営業所</td>
					<td class="align-middle">宇野 太郎</td><td class="align-middle">区分D</td>
					<td class="align-middle">内容E</td>
					<td class="align-middle">Jバス</td>
					<td class="align-middle">000006</td>
					<td class="align-middle">AA</td>
					<td class="align-middle text-truncate">2020/01</td>
					<td class="align-middle">100</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/maintenance/edit}">編集</a>
						<a class="btn button-black btn-sm" th:href="@{/maintenance/detail}">詳細</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- ページング -->
	<nav class="mb-5" aria-label="..." th:if="${type} == 'result'">
		<ul class="pagination">
			<li class="page-item disabled">
				<span class="page-link">前へ</span>
			</li>
			<!-- active = 今表示しているページ -->
			<li class="page-item active">
				<span class="page-link">1</span>
			</li>
			<li class="page-item" aria-current="page">
				<a class="page-link">2</a>
			</li>
			<li class="page-item">
				<a class="page-link">3</a>
			</li>
			<li class="page-item">
				<a class="page-link">次へ</a>
			</li>
		</ul>
	</nav>
</main>

<!-- Footer -->
<div th:replace="layouts/footer :: footer"></div>
	
</body>
<!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/datatable.js}"></script>
</html>