<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>
<!-- 個別呼び出しCSS -->
<link rel="stylesheet" th:href="@{/css/style.css}" />

<main class="content">
    <h4 class="mt-3 mb-3 border-bottom title-border">従業員管理 ／ 詳細</h4>
    <form class="mx-3">
        <div class="form-group row d-flex align-items-center">
            <!-- 証明写真 -->
            <div class="col-sm-2">
                <a href="/images/face.png" target="_blank">
	                <img th:src="@{/images/face.png}" alt="免許証画像（表）" class="img-fluid" height="100">
	        	</a>
                <label class="form-control-plaintext text-left">撮影日時:2020/03/20</label>
            </div>
            <div class="col-sm-10">
		        <div class="form-group row mt-3 mb-0">
		            <!-- フリガナ -->
		            <div class="col-sm-10">
		                <label class="text-left">ウノ タロウ</label>
		            </div>
		        </div>
		        <div class="form-group row mb-0">
		            <!-- 氏名 -->
		            <div class="col-sm-4">
		                <label class="h1 font-weight-bold text-left">宇野 太郎</label>
		            </div>
		            <!-- 営業所 -->
		            <div class="col-sm-2 d-flex align-items-center">
		                <label class="text-left">●●営業所</label>
		            </div>
		            <!-- 職種 -->
		            <div class="col-sm-3 d-flex align-items-center">
		                <label class="text-left">乗務員【リーダー】</label>
		            </div>
		        </div>
		    </div>
        </div>

        <div class="form-group row border mt-3 mb-0 text-center">
            <!-- 従業員ID -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">従業員ID</div>
            <div class="col-sm-4">
                <label class="form-control-plaintext text-left">111111</label>
            </div>
            <!-- 社員コード -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">社員コード</div>
            <div class="col-sm-4">
                <label class="form-control-plaintext text-left">1234</label>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 生年月日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">生年月日</div>
            <div class="col-sm-4">
                <label class="form-control-plaintext text-left">1999/11/11</label>
            </div>
            <!-- 年齢 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">年齢</div>
            <div class="col-sm-4">
                <label class="form-control-plaintext text-left">21</label>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 血液型 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">血液型</div>
            <div class="col-sm-4">
                <label class="form-control-plaintext text-left">A型</label>
            </div>
            <!-- 雇用形態 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">雇用形態</div>
            <div class="col-sm-4">
                <label class="form-control-plaintext text-left">正社員</label>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 連絡先 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">連絡先</div>
            <div class="col-sm-4">
                <label class="form-control-plaintext text-left">090-9999-1111</label>
            </div>
            <!-- 緊急連絡先 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">緊急連絡先</div>
            <div class="col-sm-4">
                <label class="form-control-plaintext text-left">090-8888-2222</label>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 学歴・職歴等 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">学歴・職歴等</div>
            <div class="col-sm-2">
                <label class="form-control-plaintext text-left">学歴・職歴等</label>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 郵便番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">郵便番号</div>
            <div class="col-sm-2">
                <label class="form-control-plaintext text-left">郵便番号</label>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 住所 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">住所</div>
            <div class="col-sm-2">
                <label class="form-control-plaintext text-left">住所</label>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 入社日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">入社日</div>
            <div class="col-sm-4">
                <label class="form-control-plaintext text-left">2020/04/01</label>
            </div>
            <!-- 退職日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">退職日</div>
            <div class="col-sm-4">
                <label class="form-control-plaintext text-left"></label>
            </div>
        </div>
    </form>

    <div class="mx-3">
	    <!-- 運転免許証関係 -->
	    <h4 class="mt-3">運転免許証関係</h4>
	    <table class="table table-bordered w-50">
	        <tr>
	            <th scope="col" class="bg-light w-25">運転免許番号</th>
	            <th scope="col" class="align-middle">987654321098</th>
	        </tr>
	    </table>
	    
	    <table class="table table-bordered bt-2 w-50">
	        <thead class="bg-light">
		        <tr>
		            <th scope="col" class="align-middle text-center w-25">免許の種類</th>
		            <th scope="col" class="align-middle text-center">免許取得年月日</th>
		        </tr>
	        </thead>	
	        <tbody>
		        <tr>
		            <td class="text-center align-middle">大型</td>
		            <td class="text-center align-middle">平成元年04月01日</td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">大自二</td>
		            <td class="text-center align-middle">昭和61年04月01日</td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">普通</td>
		            <td class="text-center align-middle">昭和60年04月01日</td>
		        </tr>
	        </tbody>
	    </table>
	    
	    <table class="table table-bordered table-sm bt-2">
	        <thead class="bg-light">
	        <tr>
	            <th scope="col" class="align-middle text-center width-010">有効期限</th>
	            <th scope="col" class="align-middle text-center width-010">免許条件</th>
	            <th scope="col" class="align-middle text-center">免許証画像（表）</th>
	            <th scope="col" class="align-middle text-center">免許証画像（裏）</th>
	        </tr>
	        </thead>
	
	        <tbody>
	        <tr>
	            <td class="text-center align-middle">2022/04/12</td>
	            <td class="text-center align-middle">眼鏡等</td>
	            <td class="text-center align-middle">
		            <a href="/images/lisence.png" target="_blank">
		                <img th:src="@{/images/lisence.png}" alt="免許証画像（表）">
		            </a>
	            </td>
	            <td class="text-center align-middle">
	                <a href="/images/lisence_back.png" target="_blank">
		                <img th:src="@{/images/lisence_back.png}" alt="免許証画像（裏）">
		        	</a>
	            </td>
	        </tr>
	        <tr>
	            <td class="text-center align-middle">2017/04/12</td>
	            <td class="text-center align-middle">眼鏡等</td>
	            <td class="text-center align-middle">
		            <a href="/images/lisence.png" target="_blank">
		                <img th:src="@{/images/lisence.png}" alt="免許証画像（表）">
		            </a>
	            </td>
	            <td class="text-center align-middle">
	                <a href="/images/lisence_back.png" target="_blank">
		                <img th:src="@{/images/lisence_back.png}" alt="免許証画像（裏）">
		            </a>
	            </td>
	        </tr>
	        </tbody>
	    </table>
	
	    <!-- 定期健康診断・適正診断 -->
	    <h4 class="mt-3">定期健康診断・適正診断</h4>
	    <h5>■健康診断</h5>
	    <table class="table table-bordered table-sm bt-2">
	        <thead class="bg-light">
		        <tr>
		            <th scope="col" rowspan="2" class="align-middle text-center">受診日</th>
		            <th scope="col" colspan="4" class="align-middle text-center">検査詳細</th>
		        </tr>
		        <tr>
		            <th scope="col" class="align-middle text-center">項目</th>
		            <th scope="col" class="align-middle text-center">結果</th>
		            <th scope="col" class="align-middle text-center">状態</th>
		            <th scope="col" class="align-middle text-center">治療方法</th>
		        </tr>
	        </thead>
	        <tbody>
		        <tr>
		            <td rowspan="5" class="text-center align-middle">2020/02/15</td>
		            <td class="text-center align-middle">血圧</td>
		            <td class="text-center align-middle">異常なし</td>
		            <td class="text-center align-middle"></td>
		            <td class="text-center align-middle"></td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">脂質</td>
		            <td class="text-center align-middle">異常あり</td>
		            <td class="text-center align-middle">通院中</td>
		            <td class="text-center align-middle"></td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">血糖値</td>
		            <td class="text-center align-middle">異常なし</td>
		            <td class="text-center align-middle"></td>
		            <td class="text-center align-middle"></td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">NT-proBNP(心不全)</td>
		            <td class="text-center align-middle">異常なし</td>
		            <td class="text-center align-middle"></td>
		            <td class="text-center align-middle"></td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">心電図</td>
		            <td class="text-center align-middle">異常なし</td>
		            <td class="text-center align-middle"></td>
		            <td class="text-center align-middle"></td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">2020/01/16</td>
		            <td class="text-center align-middle">脳ドック</td>
		            <td class="text-center align-middle">異常なし</td>
		            <td class="text-center align-middle"></td>
		            <td class="text-center align-middle"></td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">2020/01/17</td>
		            <td class="text-center align-middle">肺心血管</td>
		            <td class="text-center align-middle">異常なし</td>
		            <td class="text-center align-middle"></td>
		            <td class="text-center align-middle"></td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">2020/01/18</td>
		            <td class="text-center align-middle">SAS</td>
		            <td class="text-center align-middle">異常あり</td>
		            <td class="text-center align-middle">治療中</td>
		            <td class="text-center align-middle">マウスピース</td>
		        </tr>
	        </tbody>
	    </table>
	
	    <h5>■適正診断</h5>
	    <table class="table table-bordered table-sm bt-2">
	        <thead class="bg-light">
	        <tr>
	            <th scope="col" class="align-middle text-center">診断種別</th>
	            <th scope="col" class="align-middle text-center">受診日</th>
	            <th scope="col" class="align-middle text-center">受診場所</th>
	            <th scope="col" class="align-middle text-center">状態</th>
	            <th scope="col" class="align-middle text-center">診断結果ファイル</th>
	        </tr>
	        </thead>
	        <tbody>
		        <tr>
		            <td class="text-center align-middle">特定診断Ⅰ</td>
		            <td class="text-center align-middle">2020/05/01</td>
		            <td class="text-center align-middle">１２３４</td>
		            <td class="text-center align-middle">状態１</td>
		            <td class="text-center align-middle">
		                <div class="btn button-black btn-sm">ダウンロード</div>
		            </td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">特定診断</td>
		            <td class="text-center align-middle">2019/08/01</td>
		            <td class="text-center align-middle">５６７８</td>
		            <td class="text-center align-middle">状態２</td>
		            <td class="text-center align-middle">
		                <div class="btn button-black btn-sm">ダウンロード</div>
		            </td>
		        </tr>
	        </tbody>
	    </table>
	
	    <h4 class="mt-3">教育訓練
	    	<a class="float-right" href="#" th:href="@{/education/detail}">
	    		<button class="btn button-black mb-2">教育訓練一覧</button>
	    	</a>
	    </h4>
	    <table class="table table-bordered table-sm bt-2">
	        <thead class="bg-light">
	        <tr>
	            <th scope="col" class="align-middle text-center">年月日</th>
	            <th scope="col" class="align-middle text-center">教育訓練名称</th>
	            <th scope="col" class="align-middle text-center">教育訓練概要</th>
	            <th scope="col" class="align-middle text-center">ID</th>
	        </tr>
	        </thead>
	        <tbody>
		        <tr>
		            <td class="text-center align-middle">2020/01/15</td>
		            <td class="text-center align-middle">雪山研修②</td>
		            <td class="text-center align-middle">雪山での発進・停止・急旋回座実地訓練</td>
		            <td class="text-center align-middle">
		            	<a href="#" th:href="@{/education/detail}">100</a>
		            </td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">2019/12/12</td>
		            <td class="text-center align-middle">雪山研修①</td>
		            <td class="text-center align-middle">雪山での発進・停止・急旋回座学</td>
		            <td class="text-center align-middle">
		            	<a href="#" th:href="@{/education/detail}">91</a>
		            </td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">2019/10/10</td>
		            <td class="text-center align-middle">マナー研修</td>
		            <td class="text-center align-middle">お客様との対話(マナー)</td>
		            <td class="text-center align-middle">
		            	<a href="#" th:href="@{/education/detail}">89</a>
		            </td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">2019/09/09</td>
		            <td class="text-center align-middle">安全運転研修</td>
		            <td class="text-center align-middle">安全運転への心得</td>
		            <td class="text-center align-middle">
		            	<a href="#" th:href="@{/education/detail}">75</a>
		            </td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">2019/02/02</td>
		            <td class="text-center align-middle">雪山研修</td>
		            <td class="text-center align-middle">雪山での発進・停止・急旋回</td>
		            <td class="text-center align-middle">
		            	<a href="#" th:href="@{/education/detail}">40</a>
		            </td>
		        </tr>
	        </tbody>
	    </table>
	
	    <!-- 選任解任歴 (職種＝整備士の場合の場合のみ表示)-->
	    <h4 th:switch="${type}" class="mt-3">選任解任歴</h4>
	    <table class="table table-bordered table-sm bt-2">
	        <thead class="bg-light">
	        <tr>
	            <th scope="col" class="align-middle text-center">区分</th>
	            <th scope="col" class="align-middle text-center">営業所</th>
	            <th scope="col" class="align-middle text-center">選任状況</th>
	            <th scope="col" class="align-middle text-center">資格者証管理番号</th>
	            <th scope="col" class="align-middle text-center">資格者証</th>
	            <th scope="col" class="align-middle text-center">選任解任日</th>
	            <th scope="col" class="align-middle text-center">解任理由</th>
	        </tr>
	        </thead>
	        <tbody>
	        <tr>
	            <td class="text-center align-middle">選任</td>
	            <td class="text-center align-middle">名古屋</td>
	            <td class="text-center align-middle">2</td>
	            <td class="text-center align-middle">123456</td>
	            <td class="text-center align-middle">
	            	<a href="#">AAAA</a>
	            </td>
	            <td class="text-center align-middle">2019/10/01</td>
	            <td class="text-center align-middle">7</td>
	        </tr>
	        </tbody>
	    </table>
	
	    <!-- 選任解任歴 (職種＝運行管理者の場合のみ表示)-->
	    <h4 th:switch="${type}" class="mt-3">選任解任歴</h4>
	    <table class="table table-bordered table-sm bt-2">
	        <thead class="bg-light">
	        <tr>
	            <th scope="col" class="align-middle text-center">区分</th>
	            <th scope="col" class="align-middle text-center">営業所</th>
	            <th scope="col" class="align-middle text-center">選任区分</th>
	            <th scope="col" class="align-middle text-center">選任状況</th>
	            <th scope="col" class="align-middle text-center">資格者証管理番号</th>
	            <th scope="col" class="align-middle text-center">資格者証</th>
	            <th scope="col" class="align-middle text-center">選任解任日</th>
	            <th scope="col" class="align-middle text-center">解任理由</th>
	        </tr>
	        </thead>
	        <tbody>
	        <tr>
	            <td class="text-center align-middle">選任</td>
	            <td class="text-center align-middle">新潟</td>
	            <td class="text-center align-middle">3</td>
	            <td class="text-center align-middle">4</td>
	            <td class="text-center align-middle">123456</td>
	            <td class="text-center align-middle">
	            	<a href="#">BBBB</a>
	            </td>
	            <td class="text-center align-middle">2019/10/01</td>
	            <td class="text-center align-middle">8</td>
	        </tr>
	        </tbody>
	    </table>
	
	    <!-- 自動車事故・故障歴 (職種＝乗務員の場合のみ表示)-->
	    <h4 th:switch="${type}" class="mt-3">自動車事故・故障歴<button class="btn button-black float-right mb-1">事故ヒヤリハット故障一覧</button></h4>
	    <h5>○入社後</h5>
	    <table class="table table-bordered table-sm bt-2">
	        <thead class="bg-light">
		        <tr>
		            <th scope="col" class="align-middle text-center">年月日</th>
		            <th scope="col" class="align-middle text-center">概要</th>
		            <th scope="col" class="align-middle text-center">事故ID</th>
		        </tr>
	        </thead>
	        <tbody>
		        <tr>
		            <td class="text-center align-middle">2018/06/01</td>
		            <td class="text-center align-middle">左折時にミラーを街路樹に接触した。ミラーに傷あり。物損扱い。</td>
		            <td class="text-center align-middle"><a href="#" th:href="@{/accident/detail}">100</a></td>
		        </tr>
	        </tbody>
	    </table>
	    
	    <h5>○入社前</h5>
	    <table class="table table-bordered table-sm bt-2">
	        <thead class="bg-light">
	        <tr>
	            <th scope="col" class="align-middle text-center">年月日</th>
	            <th scope="col" class="align-middle text-center">概要</th>
	        </tr>
	        </thead>
	        <tbody>
	        <tr>
	            <td class="text-center align-middle">2015/07/01</td>
	            <td class="text-center align-middle">駐車する際に左横の車両に接触。両者傷程度、物損扱い。</td>
	        </tr>
	        <tr>
	            <td class="text-center align-middle">2012/03/04</td>
	            <td class="text-center align-middle">右折時に対向車と接触。両者軽傷。</td>
	        </tr>
	        </tbody>
	    </table>
	
	    <!-- 道交法違反歴(職種＝運行管理者の場合のみ表示)-->
	    <h4 th:switch="${type}" class="mt-3">道交法違反歴</h4>
	    <table class="table table-bordered table-sm bt-2">
	        <thead class="bg-light">
	        <tr>
	            <th scope="col" class="align-middle text-center" width="8%">違反年月日</th>
	            <th scope="col" class="align-middle text-center">違反内容</th>
	            <th scope="col" class="align-middle text-center">備考</th>
	        </tr>
	        </thead>
	        <tbody>
	        <tr>
	            <td class="text-center align-middle">2017/10/31</td>
	            <td class="text-center align-middle">2</td>
	            <td class="text-center align-middle">3</td>
	        </tr>
	        </tbody>
	    </table>

	    <!-- 道交法違反歴 (職種＝乗務員の場合のみ表示)-->
	    <h4 th:switch="${type}" class="mt-3">道交法違反歴</h4>
	    <table class="table table-bordered table-sm bt-2">
	        <thead class="bg-light">
	        <tr>
	            <th scope="col" class="align-middle text-center" width="8%">違反年月日</th>
	            <th scope="col" class="align-middle text-center">違反内容</th>
	            <th scope="col" class="align-middle text-center">備考</th>
	        </tr>
	        </thead>
	        <tbody>
	        <tr>
	            <td class="text-center align-middle">2015/06/01</td>
	            <td class="text-center align-middle">スピード違反</td>
	            <td class="text-center align-middle"></td>
	        </tr>
	        </tbody>
	    </table>
	
	    <!-- 運転経歴 (職種＝乗務員の場合のみ表示)-->
	    <h4 th:switch="${type}" class="mt-3">運転経歴</h4>
		    <table class="table table-bordered table-sm bt-2 mt-3">
		        <thead class="bg-light">
		        <tr>
		            <th scope="col" class="align-middle text-center">種類</th>
		            <th scope="col" class="align-middle text-center">会社</th>
		            <th scope="col" class="align-middle text-center">種別または積載量</th>
		            <th scope="col" class="align-middle text-center">経験年数</th>
		        </tr>
		        </thead>
		        <tbody>
			        <tr>
			            <td class="text-center align-middle">バス</td>
			            <td class="text-center align-middle">A運送会社</td>
			            <td class="text-center align-middle">高速路線（大型）</td>
			            <td class="text-center align-middle">3年5ヶ月</td>
			        </tr>
			        <tr>
			            <td class="text-center align-middle">バス</td>
			            <td class="text-center align-middle">A運送会社</td>
			            <td class="text-center align-middle">一般路線（中型）</td>
			            <td class="text-center align-middle">0年6ヶ月</td>
			        </tr>
			        <tr>
			            <td class="text-center align-middle">トラック</td>
			            <td class="text-center align-middle">B運送会社</td>
			            <td class="text-center align-middle">10t</td>
			            <td class="text-center align-middle">1年0ヶ月</td>
			        </tr>
			        <tr>
			            <td class="text-center align-middle">バス</td>
			            <td class="text-center align-middle">C交通</td>
			            <td class="text-center align-middle">一般路線（中型）</td>
			            <td class="text-center align-middle">1年0ヶ月</td>
			        </tr>
		        </tbody>
		    </table>
	
	    <!-- 異動歴 (職種＝乗務員の場合のみ表示)-->
	    <h4 th:switch="${type}" class="mt-3">異動歴</h4>
	    <table class="table table-bordered table-sm bt-2">
	        <thead class="bg-light">
		        <tr>
		            <th scope="col" class="align-middle text-center">異動区分</th>
		            <th scope="col" class="align-middle text-center">営業所</th>
		            <th scope="col" class="align-middle text-center">年月日</th>
		            <th scope="col" class="align-middle text-center">備考</th>
		            <th scope="col" class="align-middle text-center">備考（事由）</th>
		            <th scope="col"></th>
		        </tr>
	        </thead>
	        <tbody>
		        <tr>
		            <td class="text-center align-middle">着任</td>
		            <td class="text-center align-middle">名古屋</td>
		            <td class="text-center align-middle">2020/05/01</td>
		            <td class="text-center align-middle"></td>
		            <td class="text-center align-middle"></td>
		            <td class="text-center align-middle"></td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">転任</td>
		            <td class="text-center align-middle">大阪</td>
		            <td class="text-center align-middle">2020/04/30</td>
		            <td class="text-center align-middle"></td>
		            <td class="text-center align-middle"></td>
		            <td class="text-center align-middle">
					    <button class="btn button-black">台帳ダウンロード</button>
		            </td>
		        </tr>
	        </tbody>
	    </table>
	
	    <!-- 選任解任歴 (職種＝乗務員の場合のみ表示)-->
	    <h4 th:switch="${type}" class="mt-3">選任解任歴</h4>
	    <table class="table table-bordered table-sm bt-2">
	        <thead class="bg-light">
	        <tr>
	            <th scope="col" class="align-middle text-center">区分</th>
	            <th scope="col" class="align-middle text-center">営業所</th>
	            <th scope="col" class="align-middle text-center">年月日</th>
	            <th scope="col" class="align-middle text-center">理由</th>
	        </tr>
	        </thead>
	        <tbody>
	        <tr>
	            <td class="text-center align-middle">選任</td>
	            <td class="text-center align-middle">名古屋</td>
	            <td class="text-center align-middle">2020/05/01</td>
	            <td class="text-center align-middle"></td>
	        </tr>
	        </tbody>
	    </table>
	
	    <div class="form-group row border-top mt-5 text-center footer-border">
	        <a class="btn button-black mt-2 col-sm-1" href="#" th:href="@{/crew/edit}">編集</a>
	        <button type="button" class="btn button-black mt-2 ml-2 col-sm-1" data-toggle="modal" data-target="#deleteModal">削除</button>
    		<button class="btn button-black ml-auto mt-2">台帳ダウンロード</button>
	    </div>
		<div class="form-group row">
			<div class="btn button-black" onclick="history.back()">前に戻る</div>
		</div>
    </div>

</main>
<div th:replace="layouts/footer :: footer"></div>
<div th:replace="layouts/formModals :: formModals(@{/maintenance/result},@{/maintenance/search},@{/maintenance/result})"></div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>
</html>