<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>
<!-- 個別呼び出しCSS -->
<link rel="stylesheet" th:href="@{/css/style.css}" />

<main class="content">
    <h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">従業員管理／
        <span class="h4" th:case="edit" th:text="編集"></span>
        <span class="h4" th:case="regist" th:text="登録"></span>
    </h4>

    <form class="ml-3 mr-3">
        <div class="form-group row border mt-3 mb-0 text-center">
            <!-- 従業員ID -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">従業員ID</div>
            <div class="col-sm-4">
                <label class="form-control-plaintext m-1 text-left">111111</label>
            </div>
            <!-- 社員コード -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center justify-content-between">
            	社員コード<div class="req">必須</div>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1 input_numeric" maxlength="8" placeholder="数字8文字以内" value="1234">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 氏名 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center justify-content-between">
            	氏名<div class="req">必須</div>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1" maxlength="20" placeholder="全角20文字以内">
            </div>
            <!-- フリガナ -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center justify-content-between">
            	フリガナ<div class="req">必須</div>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1" maxlength="40" placeholder="全角40文字以内">
            </div>
        </div>

        <div class="form-group row border mt-3 mb-0 text-center">
            <!-- 生年月日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">生年月日</div>
            <div class="col-sm-4">
                <input type="date" class="form-control m-1 dateOfBirth">
            </div>
            <!-- 年齢 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">年齢</div>
            <div class="col-sm-4 d-flex align-items-center">
                <label class="mx-auto calculatedAge"></label>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 血液型 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">血液型</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>A</option>
                    <option>B</option>
                    <option>O</option>
                    <option>AB</option>
                    <option>不明</option>
                </select>
            </div>
            <!-- 雇用形態 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">雇用形態</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1" maxlength="20" placeholder="全角20文字以内">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 職種 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center justify-content-between">
            	職種<div class="req">必須</div>
            </div>
            <div class="col-sm-4">
                <select id="occupationType" class="form-control m-1">
                    <option>乗務員</option>
                    <option>整備士</option>
                    <option>運行管理者</option>
                </select>
				<div class="col form-check form-check-inline flex-wrap crewDisp">
					<input class="form-check-input ml-2" type="checkbox" id="search1">
					<label class="form-check-label" for="search1">リーダー</label>
 				</div>
            </div>
            <!-- 営業所 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center justify-content-between">
            	営業所<div class="req">必須</div>
            </div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>●●営業所</option>
                    <option>●●営業所</option>
                </select>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 連絡先 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">連絡先</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1 input_numeric" maxlength="13" placeholder="半角数字13文字以内">
            </div>
            <!-- 緊急連絡先 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">緊急連絡先</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1 input_numeric" maxlength="13" placeholder="半角数字13文字以内">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 学歴・職歴等 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">学歴・職歴等</div>
            <div class="col-sm-10">
                <textarea class="form-control m-1" maxlength="200" placeholder="全角200文字以内"></textarea>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 郵便番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">郵便番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1 input_numeric" maxlength="7" placeholder="半角数字7文字以内">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 住所 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">住所</div>
            <div class="col-sm-10">
                <textarea class="form-control m-1" maxlength="200" placeholder="全角200文字以内"></textarea>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 入社日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center justify-content-between">
            	入社日<div class="req">必須</div>
            </div>
            <div class="col-sm-4">
            	<input type="date" class="form-control m-1">
            </div>
            <!-- 退職日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">退職日</div>
            <div class="col-sm-4">
                <input type="date" class="form-control m-1">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 証明写真 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">証明写真</div>
            <div class="col-sm-4">
                <div class="input-group m-1">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input">
                        <label class="custom-file-label text-left" for="" data-browse="参照">ファイルを選択</label>
                    </div>
                    <div class="input-group-append">
                        <button type="button" class="btn input-group-text">取消</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 撮影年月日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">撮影年月日</div>
            <div class="col-sm-4">
	            <input type="date" class="form-control m-1">
            </div>
        </div>

	    <!-- 運転免許証関係 -->
	    <h4 class="mt-3">運転免許証関係</h4>
        <div class="form-group row border w-50">
            <!-- 運転免許番号 -->
            <div class="col-sm-3 font-weight-bold bg-light border-right d-flex align-items-center">運転免許番号</div>
            <div class="col-sm-5">
                <input type="text" class="form-control m-1 input_numeric" maxlength="12" placeholder="半角数字12文字以内">
            </div>
        </div>
        	    
        <div class="form-group row border mb-0 text-center w-50">
            <!-- 免許の種類 -->
            <div class="col-sm-3 font-weight-bold bg-light border-right d-flex align-items-center">免許の種類</div>
            <div class="col-sm-5">
                <select class="form-control m-1">
                    <option>大型</option>
                    <option>中型</option>
                    <option>準中型</option>
                    <option>普通</option>
                    <option>大型特殊</option>
                    <option>大型二輪</option>
                    <option>普通二輪</option>
                    <option>小型特殊</option>
                    <option>原付</option>
                </select>
            </div>
        </div>

        <div class="form-group row border border-top-0 text-center w-50 float-left">
            <!-- 免許取得年月日 -->
            <div class="col-sm-3 font-weight-bold bg-light border-right d-flex align-items-center">免許取得年月日</div>
            <div class="col-sm-5">
				<input type="date" class="form-control m-1">
            </div>
        </div>
		<div class="text-right mt-2">
			<button class="ml-4 btn button-black mb-1">追加</button>
		</div>

	    <table class="table table-bordered table-sm mt-3">
	        <thead class="bg-light">
	        <tr>
	            <th scope="col" class="align-middle text-center">免許の種類</th>
	            <th scope="col" class="align-middle text-center">免許取得年月日</th>
	            <th scope="col" class="align-middle text-center">削除</th>
	        </tr>
	        </thead>
	
	        <tbody>
	        <tr>
	            <td class="text-center align-middle">大型</td>
	            <td class="text-center align-middle">平成元年04月01日</td>
	            <td class="text-center align-middle">
	                <div class="btn button-black btn-sm">削除</div>
	            </td>
	        </tr>
	        <tr>
	            <td class="text-center align-middle">普通</td>
	            <td class="text-center align-middle">昭和60年04月01日</td>
	            <td class="text-center align-middle">
	                <div class="btn button-black btn-sm">削除</div>
	            </td>
	        </tr>
	        <tr>
	            <td class="text-center align-middle">大型二輪</td>
	            <td class="text-center align-middle">昭和61年04月01日</td>
	            <td class="text-center align-middle">
	                <div class="btn button-black btn-sm">削除</div>
	            </td>
	        </tr>
	        </tbody>
	    </table>

        <div class="form-group row border mt-3 mb-0 text-center w-75">
            <!-- 有効期限 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">有効期限</div>
            <div class="col-sm-4">
				<input type="date" class="form-control m-1">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center w-75">
            <!-- 免許条件 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">免許条件</div>
            <div class="col-sm-10">
	            <textarea class="form-control m-1" rows="2" maxlength="100" placeholder="全角100文字以内"></textarea>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center w-75">
            <!-- 免許証画像（表） -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">免許証画像（表）</div>
            <div class="col-sm-4">
            	<div class="input-group align-middle m-1">
	                <div class="custom-file">
	                    <input type="file" class="custom-file-input">
	                    <label class="custom-file-label text-left" for="" data-browse="参照">ファイルを選択</label>
	                </div>
	                <div class="input-group-append">
	                    <button type="button" class="btn input-group-text">削除</button>
	                </div>
            	</div>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center w-75 float-left">
            <!-- 免許証画像（裏） -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">免許証画像（裏）</div>
            <div class="col-sm-4">
            	<div class="input-group align-middle m-1">
	                <div class="custom-file">
	                    <input type="file" class="custom-file-input">
	                    <label class="custom-file-label text-left" for="" data-browse="参照">ファイルを選択</label>
	                </div>
	                <div class="input-group-append">
	                    <button type="button" class="btn input-group-text">削除</button>
	                </div>
	            </div>
            </div>
        </div>
		<div class="text-right mt-2">
			<button class="ml-4 btn button-black mb-1">追加</button>
		</div>

	    <table class="table table-bordered table-sm mt-3">
	        <thead class="bg-light">
		        <tr>
		            <th scope="col" class="align-middle text-center">有効期限</th>
		            <th scope="col" class="align-middle text-center">免許条件</th>
		            <th scope="col" class="align-middle text-center">免許証画像（表）</th>
		            <th scope="col" class="align-middle text-center">免許証画像（裏）</th>
		            <th scope="col">削除</th>
		        </tr>
	        </thead>
	        <tbody>
	        <tr>
	            <td class="text-center align-middle">2022/04/12</td>
	            <td class="text-center align-middle">眼鏡等</td>
	            <td class="text-center align-middle">
	                <img th:src="@{/images/lisence.png}" alt="免許証画像（表）">
	            </td>
	            <td class="text-center align-middle">
	                <img th:src="@{/images/lisence_back.png}" alt="免許証画像（表）">
	            </td>
	            <td class="text-center align-middle">
	                <div class="btn button-black btn-sm">削除</div>
	            </td>
	        </tr>
	        <tr>
	            <td class="text-center align-middle">2017/04/12</td>
	            <td class="text-center align-middle">眼鏡等</td>
	            <td class="text-center align-middle">
	                <img th:src="@{/images/lisence.png}" alt="免許証画像（表）">
	            </td>
	            <td class="text-center align-middle">
	                <img th:src="@{/images/lisence_back.png}" alt="免許証画像（表）">
	            </td>
	            <td class="text-center align-middle">
	                <div class="btn button-black btn-sm">削除</div>
	            </td>
	        </tr>
	        </tbody>
	    </table>

	    <!-- 定期健康診断・適正診断 -->
	    <h4 class="mt-3">定期健康診断・適正診断</h4>
	    <h5>■健康診断</h5>
       	<div class="bg-light d-flex row border justify-content-center align-items-center">
       		<div class="font-weight-bold">健康診断</div>
       	</div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 受診日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">受診日</div>
            <div class="col-sm-2">
				<input type="date" class="form-control m-1">
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 検査詳細 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">検査詳細</div>
            <div class="col-sm-10">
			    <table class="table table-bordered table-sm bt-2 mt-3">
			        <thead class="bg-light">
				        <tr>
				            <th scope="col" class="align-middle text-center">項目</th>
				            <th scope="col" class="align-middle text-center">結果</th>
				            <th scope="col" class="align-middle text-center">状態</th>
				        </tr>
			        </thead>
			        <tbody>
				        <tr>
				            <td class="text-center align-middle">血圧</td>
				            <td class="text-center align-middle">
				                <select class="form-control">
				                    <option>異常なし</option>
				                    <option>経過観察</option>
				                    <option>異常あり</option>
				                </select>
				            </td>
				            <td class="text-center align-middle">
				                <select class="form-control">
				                    <option>未受診</option>
				                    <option>受診済</option>
				                    <option>通院中</option>
				                    <option>治療中</option>
				                </select>
				            </td>
				        </tr>
				        <tr>
				            <td class="text-center align-middle">脂質</td>
				            <td class="text-center align-middle">
				                <select class="form-control">
				                    <option>異常なし</option>
				                    <option>経過観察</option>
				                    <option>異常あり</option>
				                </select>
				            </td>
				            <td class="text-center align-middle">
				                <select class="form-control">
				                    <option>未受診</option>
				                    <option>受診済</option>
				                    <option>通院中</option>
				                    <option>治療中</option>
				                </select>
				            </td>
				        </tr>
				        <tr>
				            <td class="text-center align-middle">血糖値</td>
				            <td class="text-center align-middle">
				                <select class="form-control">
				                    <option>異常なし</option>
				                    <option>経過観察</option>
				                    <option>異常あり</option>
				                </select>
				            </td>
				            <td class="text-center align-middle">
				                <select class="form-control">
				                    <option>未受診</option>
				                    <option>受診済</option>
				                    <option>通院中</option>
				                    <option>治療中</option>
				                </select>
				            </td>
				        </tr>
				        <tr>
				            <td class="text-center align-middle">NT-proBNP(心不全)</td>
				            <td class="text-center align-middle">
				                <select class="form-control">
				                    <option>異常なし</option>
				                    <option>経過観察</option>
				                    <option>異常あり</option>
				                </select>
				            </td>
				            <td class="text-center align-middle">
				                <select class="form-control">
				                    <option>未受診</option>
				                    <option>受診済</option>
				                    <option>通院中</option>
				                    <option>治療中</option>
				                </select>
				            </td>
				        </tr>
				        <tr>
				            <td class="text-center align-middle">心電図</td>
				            <td class="text-center align-middle">
				                <select class="form-control">
				                    <option>異常なし</option>
				                    <option>経過観察</option>
				                    <option>異常あり</option>
				                </select>
				            </td>
				            <td class="text-center align-middle">
				                <select class="form-control">
				                    <option>未受診</option>
				                    <option>受診済</option>
				                    <option>通院中</option>
				                    <option>治療中</option>
				                </select>
				            </td>
				        </tr>
			        </tbody>
			    </table>
            </div>
        </div>
       	<div class="bg-light d-flex row border border-top-0 justify-content-center align-items-center">
       		<div class="font-weight-bold">脳ドック</div>
       	</div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 受診日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">受診日</div>
            <div class="col-sm-2">
				<input type="date" class="form-control">
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 検査詳細 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">検査詳細</div>
            <div class="col-sm-10">
			    <table class="table table-bordered table-sm bt-2 mt-3">
			        <thead class="bg-light">
				        <tr>
				            <th scope="col" class="align-middle text-center">結果</th>
				            <th scope="col" class="align-middle text-center">状態</th>
				        </tr>
			        </thead>
			        <tbody>
				        <tr>
				            <td class="text-center align-middle">
				                <select class="form-control">
				                    <option>異常なし</option>
				                    <option>経過観察</option>
				                    <option>異常あり</option>
				                </select>
				            </td>
				            <td class="text-center align-middle">
				                <select class="form-control">
				                    <option>未受診</option>
				                    <option>受診済</option>
				                    <option>通院中</option>
				                    <option>治療中</option>
				                </select>
				            </td>
				        </tr>
			        </tbody>
			    </table>
            </div>
        </div>
       	<div class="bg-light d-flex row border border-top-0 justify-content-center align-items-center">
       		<div class="font-weight-bold">肺心血管</div>
       	</div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 受診日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">受診日</div>
            <div class="col-sm-2">
				<input type="date" class="form-control m-1">
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 検査詳細 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">検査詳細</div>
            <div class="col-sm-10">
			    <table class="table table-bordered table-sm bt-2 mt-3">
			        <thead class="bg-light">
				        <tr>
				            <th scope="col" class="align-middle text-center">結果</th>
				            <th scope="col" class="align-middle text-center">状態</th>
				        </tr>
			        </thead>
			        <tbody>
				        <tr>
				            <td class="text-center align-middle">
				                <select class="form-control">
				                    <option>異常なし</option>
				                    <option>経過観察</option>
				                    <option>異常あり</option>
				                </select>
				            </td>
				            <td class="text-center align-middle">
				                <select class="form-control">
				                    <option>未受診</option>
				                    <option>受診済</option>
				                    <option>通院中</option>
				                    <option>治療中</option>
				                </select>
				            </td>
				        </tr>
			        </tbody>
			    </table>
            </div>
        </div>
       	<div class="bg-light d-flex row border border-top-0 justify-content-center align-items-center">
       		<div class="font-weight-bold">SAS</div>
       	</div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 受診日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">受診日</div>
            <div class="col-sm-2">
				<input type="date" class="form-control m-1">
            </div>
        </div>
        <div class="form-group row border border-top-0 text-center">
            <!-- 検査詳細 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">検査詳細</div>
            <div class="col-sm-10">
			    <table class="table table-bordered table-sm bt-2 mt-3">
			        <thead class="bg-light">
				        <tr>
				            <th scope="col" class="align-middle text-center">結果</th>
				            <th scope="col" class="align-middle text-center">状態</th>
				            <th scope="col" class="align-middle text-center">治療方法</th>
				        </tr>
			        </thead>
			        <tbody>
				        <tr>
				            <td class="text-center align-middle">
				                <select class="form-control">
				                    <option>異常なし</option>
				                    <option>経過観察</option>
				                    <option>異常あり</option>
				                </select>
				            </td>
				            <td class="text-center align-middle">
				                <select class="form-control">
				                    <option>未受診</option>
				                    <option>受診済</option>
				                    <option>通院中</option>
				                    <option>治療中</option>
				                </select>
				            </td>
				            <td class="text-center align-middle">
				                <select class="col-sm-5 form-control">
				                    <option>CPAP</option>
				                    <option>マウスピース</option>
				                </select>
				            </td>
				        </tr>
			        </tbody>
			    </table>
            </div>
        </div>
        
	    <h5>■適正診断</h5>
        <div class="form-group row border mb-0 text-center">
            <!-- 診断種別 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">診断種別</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>初任診断</option>
                    <option>適齢診断</option>
                    <option>特定診断Ⅰ</option>
                    <option>特定診断Ⅱ</option>
                </select>
            </div>
            <!-- 受診日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">受診日</div>
            <div class="col-sm-4">
                <input type="date" class="form-control m-1">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 受診場所 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">受診場所</div>
            <div class="col-sm-10">
                <input type="text" class="form-control m-1" maxlength="50" placeholder="全角50文字以内">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">        
            <!-- 状態 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">状態</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>異状なし</option>
                    <option>別紙</option>
                </select>
            </div>
            <!-- 結果ファイル -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">結果ファイル</div>
            <div class="col-sm-4">
                <div class="input-group align-middle m-1">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input">
                        <label class="custom-file-label text-left" for="" data-browse="参照">ファイルを選択</label>
                    </div>
                    <div class="input-group-append">
                        <button type="button" class="btn input-group-text">削除</button>
                    </div>
                </div>
            </div>
        </div>
        
		<div class="text-right mt-2">
			<button class="ml-4 btn button-black mb-1">追加</button>
		</div>
        
	    <table class="table table-bordered table-sm bt-2 mt-3">
	        <thead class="bg-light">
	        <tr>
	            <th scope="col" class="align-middle text-center">受診種別</th>
	            <th scope="col" class="align-middle text-center">受診日</th>
	            <th scope="col" class="align-middle text-center">受診場所</th>
	            <th scope="col" class="align-middle text-center">状態</th>
	            <th scope="col" class="align-middle text-center">結果ファイル</th>
	            <th scope="col"></th>
	        </tr>
	        </thead>
	        <tbody>
		        <tr>
		            <td class="text-center align-middle">初任診断</td>
		            <td class="text-center align-middle">2015/07/01</td>
		            <td class="text-center align-middle">堺</td>
		            <td class="text-center align-middle">異状なし</td>
		            <td class="text-center align-middle"><a href="#">1234</a></td>
		            <td class="text-center align-middle">
		                <div class="btn button-black btn-sm">削除</div>
		            </td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">適齢診断</td>
		            <td class="text-center align-middle">2010/04/01</td>
		            <td class="text-center align-middle">堺</td>
		            <td class="text-center align-middle">異状なし</td>
		            <td class="text-center align-middle"><a href="#">5678</a></td>
		            <td class="text-center align-middle">
		                <div class="btn button-black btn-sm">削除</div>
		            </td>
		        </tr>
	        </tbody>
	    </table>
		        
	    <div class="crewDisp">
		    <!-- 入社前自動車事故・故障歴 (職種＝乗務員の場合のみ表示)-->
		    <h4 th:switch="${type}" class="mt-3">入社前自動車事故・故障歴</h4>
	
	        <div class="form-group row border mt-3 mb-0 text-center">
	            <!-- 発生年月日 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">発生年月日</div>
	            <div class="col-sm-4">
					<input type="date" class="form-control m-1">
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center">
	            <!-- 概要 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">概要</div>
	            <div class="col-sm-10">
	                <textarea class="form-control m-1" maxlength="200" placeholder="全角200文字以内"></textarea>
	            </div>
	        </div>
	
			<div class="text-right mt-2">
				<button class="ml-4 btn button-black mb-1">追加</button>
			</div>
        
		    <table class="table table-bordered table-sm bt-2 mt-3">
		        <thead class="bg-light">
		        <tr>
		            <th scope="col" class="align-middle text-center">発生年月日</th>
		            <th scope="col" class="align-middle text-center">概要</th>
		            <th scope="col"></th>
		        </tr>
		        </thead>
		        <tbody>
			        <tr>
			            <td class="text-center align-middle">2015/07/01</td>
			            <td class="text-left align-middle">駐車する際に左横の車両に接触。両者傷程度、物損扱い。</td>
			            <td class="text-center align-middle">
			                <div class="btn button-black btn-sm">削除</div>
			            </td>
			        </tr>
			        <tr>
			            <td class="text-center align-middle">2010/04/01</td>
			            <td class="text-left align-middle">右折時に対向車と接触。両者軽傷。</td>
			            <td class="text-center align-middle">
			                <div class="btn button-black btn-sm">削除</div>
			            </td>
			        </tr>
		        </tbody>
		    </table>
		    
		    <!-- 道交法違反歴 (職種＝乗務員の場合のみ表示)-->
		    <h4 th:switch="${type}" class="mt-3">道交法違反歴</h4>
	
	        <div class="form-group row border mt-3 mb-0 text-center">
	            <!-- 違反年月日 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">違反年月日</div>
	            <div class="col-sm-4">
					<input type="date" class="form-control m-1">
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center">
	            <!-- 違反内容 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">違反内容</div>
	            <div class="col-sm-10">
	                <textarea class="form-control m-1" maxlength="200" placeholder="全角200文字以内"></textarea>
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center">
	            <!-- 備考 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">備考</div>
	            <div class="col-sm-10">
	                <textarea class="form-control m-1" maxlength="200" placeholder="全角200文字以内"></textarea>
	            </div>
	        </div>
	
			<div class="text-right mt-2">
				<button class="ml-4 btn button-black mb-1">追加</button>
			</div>

		    <table class="table table-bordered table-sm bt-2 mt-3">
		        <thead class="bg-light">
		        <tr>
		            <th scope="col" class="align-middle text-center">違反年月日</th>
		            <th scope="col" class="align-middle text-center">違反内容</th>
		            <th scope="col" class="align-middle text-center">備考</th>
		            <th scope="col"></th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr>
		            <td class="text-center align-middle">2005/07/07</td>
		            <td class="text-center align-middle">2</td>
		            <td class="text-center align-middle">3</td>
		            <td class="text-center align-middle">
		                <div class="btn button-black btn-sm">削除</div>
		            </td>
		        </tr>
		        </tbody>
		    </table>
		
		    <!-- 入社前運転経歴 (職種＝乗務員の場合のみ表示)-->
		    <h4 th:switch="${type}" class="mt-3">入社前運転経歴</h4>
	
	        <div class="form-group row border mt-3 mb-0 text-center">
	            <!-- 種類 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">種類</div>
	            <div class="col-sm-4">
	                <select class="form-control m-1">
	                    <option>選択してください</option>
	                    <option>バス</option>
	                    <option>トラック</option>
	                    <option>タクシー</option>
	                </select>
	            </div>
	        </div>
	        <div class="form-group row border border-top-0 mb-0 text-center">
	            <!-- 会社 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">会社</div>
	            <div class="col-sm-10">
	                <input type="text" class="form-control m-1" maxlength="100" placeholder="全角100文字以内">
	            </div>
	        </div>
	        <div class="form-group row border border-top-0 mb-0 text-center">
	            <!-- 種別 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">種別</div>
	            <div class="col-sm-4">
	                <select class="form-control m-1">
	                    <option>選択してください</option>
	                    <option>高速路線(大型)</option>
	                    <option>高速路線(中型)</option>
	                    <option>一般路線(大型)</option>
	                    <option>一般路線(中型)</option>
	                    <option>貸切</option>
	                </select>
	            </div>
	        </div>
	        <div class="form-group row border border-top-0 mb-0 text-center">
	            <!-- 積載量 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">積載量</div>
	            <div class="col-sm-1">
	                <input type="number" class="form-control m-1 numberMaxLength4" min="">
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center align-middle">
	            <!-- 経験年数 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">経験年数</div>
	            <div class="col-sm-1">
	                <input type="text" class="form-control m-1 input_numeric" maxlength="2">
	            </div>年
	            <div class="col-sm-1">
	                <input type="text" class="form-control m-1 input_numeric" maxlength="2">
	            </div>月
	        </div>
	
			<div class="text-right mt-2">
				<button class="ml-4 btn button-black mb-1">追加</button>
			</div>

		    <table class="table table-bordered table-sm bt-2 mt-3">
		        <thead class="bg-light">
		        <tr>
		            <th scope="col" class="align-middle text-center">種類</th>
		            <th scope="col" class="align-middle text-center">会社</th>
		            <th scope="col" class="align-middle text-center">種別または積載量</th>
		            <th scope="col" class="align-middle text-center">経験年数</th>
		            <th scope="col">削除</th>
		        </tr>
		        </thead>
		        <tbody>
			        <tr>
			            <td class="text-center align-middle">バス</td>
			            <td class="text-center align-middle">A運送会社</td>
			            <td class="text-center align-middle">高速路線（大型）</td>
			            <td class="text-center align-middle">3年5ヶ月</td>
			            <td class="text-center align-middle">
			                <div class="btn button-black btn-sm">削除</div>
			            </td>
			        </tr>
			        <tr>
			            <td class="text-center align-middle">バス</td>
			            <td class="text-center align-middle">A運送会社</td>
			            <td class="text-center align-middle">一般路線（中型）</td>
			            <td class="text-center align-middle">0年6ヶ月</td>
			            <td class="text-center align-middle">
			                <div class="btn button-black btn-sm">削除</div>
			            </td>
			        </tr>
			        <tr>
			            <td class="text-center align-middle">トラック</td>
			            <td class="text-center align-middle">B運送会社</td>
			            <td class="text-center align-middle">10t</td>
			            <td class="text-center align-middle">1年0ヶ月</td>
			            <td class="text-center align-middle">
			                <div class="btn button-black btn-sm">削除</div>
			            </td>
			        </tr>
			        <tr>
			            <td class="text-center align-middle">バス</td>
			            <td class="text-center align-middle">C交通</td>
			            <td class="text-center align-middle">一般路線（中型）</td>
			            <td class="text-center align-middle">1年0ヶ月</td>
			            <td class="text-center align-middle">
			                <div class="btn button-black btn-sm">削除</div>
			            </td>
			        </tr>
		        </tbody>
		    </table>
		</div>
		
	    <div class="mechanicDisp">
		    <!-- 選任解任歴 (職種＝整備士の場合の場合のみ表示)-->
		    <h4 th:switch="${type}" class="mt-3">選任解任歴</h4>
	
	        <div class="form-group row border mb-0 text-center">
	            <!-- 区分 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">区分</div>
	            <div class="col-sm-4">
	                <select class="form-control m-1">
	                    <option>選任</option>
	                    <option>解任</option>
	                </select>
	            </div>
	            <!-- 選任状況 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">選任状況</div>
	            <div class="col-sm-4">
	                <select id="maintAdmin" class="form-control m-1">
	                    <option>整備管理者</option>
	                    <option>整備管理補助者</option>
	                </select>
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center">
	            <!-- 資格者証管理番号 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">資格者証管理番号</div>
	            <div class="col-sm-4">
		            <input type="text" class="form-control input_numeric m-1">
	            </div>
	            <!-- 資格者証 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">資格者証</div>
	            <div class="col-sm-4">
	            	<div class="input-group align-middle m-1">
		                <div class="custom-file">
		                    <input type="file" class="custom-file-input">
		                    <label class="custom-file-label text-left" for="" data-browse="参照">ファイルを選択</label>
		                </div>
		                <div class="input-group-append">
		                    <button type="button" class="btn input-group-text">削除</button>
		                </div>
	            	</div>
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center maintMain">
	            <!-- 整備管理者選任解任日 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備管理者選任解任日</div>
	            <div class="col-sm-4">
					<input type="date" class="form-control m-1">
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center maintMain">
	            <!-- 解任理由 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">解任理由</div>
	            <div class="col-sm-10">
	                <textarea class="form-control m-1" maxlength="1000" placeholder="全角1000文字以内"></textarea>
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center maintSub">
	            <!-- 整備管理補助者選任解任日 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備管理補助者選任解任日</div>
	            <div class="col-sm-4">
					<input type="date" class="form-control m-1">
	            </div>
	        </div>
			
	        <div class="form-group row border border-top-0 mb-0 text-center maintSub">
	            <!-- 解任理由 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">解任理由</div>
	            <div class="col-sm-10">
	                <textarea class="form-control m-1" maxlength="1000" placeholder="全角1000文字以内"></textarea>
	            </div>
	        </div>
	
			<div class="text-right mt-2">
				<button class="ml-4 btn button-black mb-1">追加</button>
			</div>

		    <table class="table table-bordered table-sm bt-2 mt-3">
		        <thead class="bg-light">
		        <tr>
		            <th scope="col" class="align-middle text-center">区分</th>
		            <th scope="col" class="align-middle text-center">営業所</th>
		            <th scope="col" class="align-middle text-center">選任状況</th>
		            <th scope="col" class="align-middle text-center">資格者証管理番号</th>
		            <th scope="col" class="align-middle text-center">資格者証</th>
		            <th scope="col" class="align-middle text-center">選任解任日</th>
		            <th scope="col" class="align-middle text-center">解任理由</th>
		            <th scope="col"></th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr>
		            <td class="text-center align-middle">選任</td>
		            <td class="text-center align-middle">名古屋</td>
		            <td class="text-center align-middle">整備管理者</td>
		            <td class="text-center align-middle">3</td>
		            <td class="text-center align-middle">4</td>
		            <td class="text-center align-middle">2019/10/01</td>
		            <td class="text-center align-middle">7</td>
		            <td class="text-center align-middle">
		                <div class="btn button-black btn-sm">削除</div>
		            </td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">解任</td>
		            <td class="text-center align-middle">大阪</td>
		            <td class="text-center align-middle">整備管理補助者</td>
		            <td class="text-center align-middle">3</td>
		            <td class="text-center align-middle">4</td>
		            <td class="text-center align-middle">2019/10/01</td>
		            <td class="text-center align-middle">7</td>
		            <td class="text-center align-middle">
		                <div class="btn button-black btn-sm">削除</div>
		            </td>
		        </tr>
		        </tbody>
		    </table>
		</div>
		
	    <div class="operationMngDisp">
		    <!-- 選任解任歴 (職種＝運行管理者の場合のみ表示)-->
		    <h4 th:switch="${type}" class="mt-3">選任解任歴</h4>
	
	        <div class="form-group row border mb-0 text-center">
	            <!-- 区分 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">区分</div>
	            <div class="col-sm-4">
	                <select class="form-control m-1">
	                    <option>選択してください</option>
	                    <option>選任</option>
	                    <option>解任</option>
	                </select>
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center">
	            <!-- 選任区分 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">選任区分</div>
	            <div class="col-sm-4">
	                <select class="form-control m-1">
	                    <option>選択してください</option>
	                    <option>乗合</option>
	                    <option>貸切</option>
	                    <option>兼務</option>
	                </select>
	            </div>
	            <!-- 選任状況 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">選任状況</div>
	            <div class="col-sm-4">
	                <select id="operationMngAdmin" class="form-control m-1">
	                    <option>運行管理者</option>
	                    <option>運行管理補助者</option>
	                </select>
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center">
	            <!-- 資格者証管理番号 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">資格者証管理番号</div>
	            <div class="col-sm-4">
		            <input type="text" class="form-control input_numeric m-1">
	            </div>
	            <!-- 資格者証 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">資格者証</div>
	            <div class="col-sm-4">
	            	<div class="input-group align-middle m-1">
		                <div class="custom-file">
		                    <input type="file" class="custom-file-input">
		                    <label class="custom-file-label text-left" for="" data-browse="参照">ファイルを選択</label>
		                </div>
		                <div class="input-group-append">
		                    <button type="button" class="btn input-group-text">削除</button>
		                </div>
	            	</div>
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center operationMngMain">
	            <!-- 運行管理者選任解任日 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">運行管理者選任解任日</div>
	            <div class="col-sm-4">
					<input type="date" class="form-control m-1">
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center operationMngMain">
	            <!-- 解任理由 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">解任理由</div>
	            <div class="col-sm-10">
	                <textarea class="form-control m-1" maxlength="1000" placeholder="全角1000文字以内"></textarea>
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center operationMngSub">
	            <!-- 運行管理補助者選任解任日 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">運行管理補助者選任解任日</div>
	            <div class="col-sm-4">
					<input type="date" class="form-control m-1">
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center operationMngSub">
	            <!-- 解任理由 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">解任理由</div>
	            <div class="col-sm-10">
	                <textarea class="form-control m-1" maxlength="1000" placeholder="全角1000文字以内"></textarea>
	            </div>
	        </div>
	
			<div class="text-right mt-2">
				<button class="ml-4 btn button-black mb-1">追加</button>
			</div>

		    <table class="table table-bordered table-sm bt-2 mt-3">
		        <thead class="bg-light">
		        <tr>
		            <th scope="col" class="align-middle text-center">区分</th>
		            <th scope="col" class="align-middle text-center">営業所</th>
		            <th scope="col" class="align-middle text-center">選任区分</th>
		            <th scope="col" class="align-middle text-center">選任状況</th>
		            <th scope="col" class="align-middle text-center">資格者証管理番号</th>
		            <th scope="col" class="align-middle text-center">資格者証</th>
		            <th scope="col" class="align-middle text-center">選任解任日</th>
		            <th scope="col" class="align-middle text-center">解任理由</th>
		            <th scope="col"></th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr>
		            <td class="text-center align-middle">選任</td>
		            <td class="text-center align-middle">名古屋</td>
		            <td class="text-center align-middle">運行管理者</td>
		            <td class="text-center align-middle">3</td>
		            <td class="text-center align-middle">4</td>
		            <td class="text-center align-middle">5</td>
		            <td class="text-center align-middle">2019/10/01</td>
		            <td class="text-center align-middle">8</td>
		            <td class="text-center align-middle">
		                <div class="btn button-black btn-sm">削除</div>
		            </td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">解任</td>
		            <td class="text-center align-middle">大阪</td>
		            <td class="text-center align-middle">運行管理補助者</td>
		            <td class="text-center align-middle">3</td>
		            <td class="text-center align-middle">4</td>
		            <td class="text-center align-middle">5</td>
		            <td class="text-center align-middle">2019/10/01</td>
		            <td class="text-center align-middle">8</td>
		            <td class="text-center align-middle">
		                <div class="btn button-black btn-sm">削除</div>
		            </td>
		        </tr>
		        </tbody>
		    </table>
		
		    <!-- 道交法違反歴(職種＝運行管理者の場合のみ表示)-->
		    <h4 th:switch="${type}" class="mt-3">道交法違反歴</h4>
	
	        <div class="form-group row border mt-3 mb-0 text-center">
	            <!-- 違反年月日 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">違反年月日</div>
	            <div class="col-sm-4">
					<input type="date" class="form-control m-1">
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center">
	            <!-- 違反内容 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">違反内容</div>
	            <div class="col-sm-10">
	                <textarea class="form-control m-1" maxlength="200" placeholder="全角200文字以内"></textarea>
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center">
	            <!-- 備考 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">備考</div>
	            <div class="col-sm-10">
	                <textarea class="form-control m-1" maxlength="200" placeholder="全角200文字以内"></textarea>
	            </div>
	        </div>
	
			<div class="text-right mt-2">
				<button class="ml-4 btn button-black mb-1">追加</button>
			</div>

		    <table class="table table-bordered table-sm bt-2 mt-3">
		        <thead class="bg-light">
		        <tr>
		            <th scope="col" class="align-middle text-center">違反年月日</th>
		            <th scope="col" class="align-middle text-center">違反内容</th>
		            <th scope="col" class="align-middle text-center">備考</th>
		            <th scope="col"></th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr>
		            <td class="text-center align-middle">2017/10/31</td>
		            <td class="text-center align-middle">2</td>
		            <td class="text-center align-middle">3</td>
		            <td class="text-center align-middle">
		                <div class="btn button-black btn-sm">削除</div>
		            </td>
		        </tr>
		        </tbody>
		    </table>
		</div>
		
	    <div class="crewDisp">
	    	<!-- 異動歴 (職種＝乗務員の場合のみ表示)-->
		    <h4 th:switch="${type}" class="mt-3">異動歴</h4>

	        <div class="form-group row border mt-3 mb-0 text-center">
	            <!-- 異動区分 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">異動区分</div>
	            <div class="col-sm-4">
	                <select class="form-control m-1">
	                    <option>選択してください</option>
	                    <option>着任のみ</option>
	                    <option>転任＋着任</option>
	                </select>
	            </div>
	            <!-- 異動日 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">異動日</div>
	            <div class="col-sm-4">
					<input type="date" class="form-control m-1">
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center">
	            <!-- 営業所（異動先） -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">営業所（異動先）</div>
	            <div class="col-sm-4">
	                <select class="form-control m-1">
	                    <option>選択してください</option>
	                    <option>●●営業所</option>
	                    <option>●●営業所</option>
	                </select>
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center">
	            <!-- 備考（異動元） -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">備考（異動元）</div>
	            <div class="col-sm-10">
		            <input type="text" class="form-control m-1" value="備考（異動元）">
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center">
	            <!-- 備考（異動先） -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">備考（異動先）</div>
	            <div class="col-sm-10">
		            <input type="text" class="form-control m-1" value="備考（異動先）">
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center">
	            <!-- 備考（事由） -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">備考（事由）</div>
	            <div class="col-sm-10">
		            <input type="text" class="form-control m-1" value="備考（事由）">
	            </div>
	        </div>
	
			<div class="text-right mt-2">
				<button class="ml-4 btn button-black mb-1">追加</button>
			</div>

		    <table class="table table-bordered table-sm bt-2　 mt-3">
		        <thead class="bg-light">
			        <tr>
			            <th scope="col" class="align-middle text-center">異動区分</th>
			            <th scope="col" class="align-middle text-center">営業所</th>
			            <th scope="col" class="align-middle text-center">年月日</th>
			            <th scope="col" class="align-middle text-center">備考</th>
			            <th scope="col" class="align-middle text-center">備考（事由）</th>
			            <th scope="col" class="align-middle text-center">台帳</th>
			            <th scope="col"></th>
			        </tr>
		        </thead>
		        <tbody>
			        <tr>
			            <td class="text-center align-middle">着任</td>
			            <td class="text-center align-middle">名古屋</td>
			            <td class="text-center align-middle">2020/05/01</td>
			            <td class="text-center align-middle"></td>
			            <td class="text-center align-middle"></td>
			            <td class="text-center align-middle">
			                <div class="btn button-black btn-sm">ダウンロード</div>
			            </td>
			            <td class="text-center align-middle">
			                <div class="btn button-black btn-sm">削除</div>
			            </td>
			        </tr>
			        <tr>
			            <td class="text-center align-middle">転任</td>
			            <td class="text-center align-middle">大阪</td>
			            <td class="text-center align-middle">2020/04/30</td>
			            <td class="text-center align-middle"></td>
			            <td class="text-center align-middle"></td>
			            <td class="text-center align-middle">
			                <div class="btn button-black btn-sm">ダウンロード</div>
			            </td>
			            <td class="text-center align-middle">
			                <div class="btn button-black btn-sm">削除</div>
			            </td>
			        </tr>
		        </tbody>
		    </table>
	
		    <!-- 選任解任歴 (職種＝乗務員の場合のみ表示)-->
		    <h4 th:switch="${type}" class="mt-3">選任解任歴</h4>
			
	        <div class="form-group row border mt-3 mb-0 text-center">
	            <!-- 選任選任日 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">区分</div>
	            <div class="col-sm-2">
	                <select class="form-control m-1">
	                    <option>選任</option>
	                    <option>解任</option>
	                </select>
                </div>
	            <div class="col-sm-2"></div>
	            <!-- 選任解任日 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">選任解任日</div>
	            <div class="col-sm-2">
					<input type="date" class="form-control m-1">
	            </div>
	        </div>
	
	        <div class="form-group row border border-top-0 mb-0 text-center">
	            <!-- 解任理由 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">解任理由</div>
	            <div class="col-sm-10">
	                <textarea class="form-control m-1" maxlength="1000" placeholder="全角1000文字以内"></textarea>
	            </div>
	        </div>
	
			<div class="text-right mt-2">
				<button class="ml-4 btn button-black mb-1">追加</button>
			</div>

		    <table class="table table-bordered table-sm bt-2 mt-3">
		        <thead class="bg-light">
		        <tr>
		            <th scope="col" class="align-middle text-center">区分</th>
		            <th scope="col" class="align-middle text-center">営業所</th>
		            <th scope="col" class="align-middle text-center">年月日</th>
		            <th scope="col" class="align-middle text-center">解任理由</th>
		            <th scope="col"></th>
		        </tr>
		        </thead>
		        <tbody>
			        <tr>
			            <td class="text-center align-middle">選任</td>
			            <td class="text-center align-middle">名古屋</td>
			            <td class="text-center align-middle">2020/05/01</td>
			            <td class="text-center align-middle"></td>
			            <td class="text-center align-middle">
			                <div class="btn button-black btn-sm">削除</div>
			            </td>
			        </tr>
			        <tr>
			            <td class="text-center align-middle">解任</td>
			            <td class="text-center align-middle">大阪</td>
			            <td class="text-center align-middle">2020/04/30</td>
			            <td class="text-center align-middle"></td>
			            <td class="text-center align-middle">
			                <div class="btn button-black btn-sm">削除</div>
			            </td>
			        </tr>
		        </tbody>
		    </table>		
		</div>
	    
	    <div class="form-group row border-top mt-5 text-center footer-border">
            <div class="btn button-black mt-2" data-toggle="modal" data-target="#createModal">登録</div>
	    </div>
		<div class="form-group row">
			<div class="btn button-black" onclick="history.back()">前に戻る</div>
		</div>
    </form>

</main>


<div th:replace="layouts/footer :: footer"></div>
<div th:replace="layouts/formModals :: formModals(@{/crew/result},@{/crew/search},@{/crew/result})"></div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/crew.js}"></script>
</body>
</html>