<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>

<main class="content">

	<h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">従業員管理 ／
		<span class="h4" th:case="search" th:text="検索"></span>
		<span class="h4" th:case="result" th:text="検索結果"></span>
	</h4>
	
	<button class="btn button-black mb-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" th:if="${type} == 'result'">
		検索条件表示
	</button>
	
	<div class="collapse" id="collapseExample" th:classappend="${show} ? 'show' : ''">

		<form class="ml-3 mr-3">
			<div class="form-group row border mb-0">
				<!-- 検索対象 -->
				<div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
					<div class="font-weight-bold">検索対象</div>
				</div>
				<div class="col form-check form-check-inline m-2 flex-wrap">
					<span class="text-nowrap">
						<input class="form-check-input ml-3" type="checkbox" id="search1">
						<label class="form-check-label" for="search1">乗務員</label>
					</span>
					<span class="text-nowrap">
	 					<input class="form-check-input ml-3" type="checkbox" id="search2">
						<label class="form-check-label" for="search2">整備士</label>
					</span>
					<span class="text-nowrap">
	 					<input class="form-check-input ml-3" type="checkbox" id="search3">
						<label class="form-check-label" for="search3">運行管理者</label>
					</span>
 				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 社員コード -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">社員コード</div>
				<div class="col-sm-4">
					<input type="number" class="form-control m-1 numberMaxLength10" placeholder="半角数字10文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>
		
			<div class="form-group row border border-top-0 mb-0">
				<!-- 氏名 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">氏名</div>
				<div class="col-sm-4">
					<input type="text" class="form-control m-1" maxlength="20" placeholder="全角20文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- フリガナ -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">フリガナ</div>
				<div class="col-sm-10">
					<input type="text" class="form-control m-1" maxlength="40" placeholder="全角40文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 所属営業所 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">所属営業所</div>
				<div class="col form-check form-check-inline m-2 flex-wrap">
					<span class="text-nowrap">
						<input class="form-check-input ml-3 checkAll" type="checkbox" id="officeAll">
						<label class="form-check-label" for="officeAll">すべて</label>
					</span>
					<div class="row ml-0">
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office1">
							<label class="form-check-label" for="office1">仙台営業所</label>
						</span>
						<span class="text-nowrap">
		 					<input class="form-check-input ml-3 officeAll" type="checkbox" id="office2">
							<label class="form-check-label" for="office2">千葉営業所</label>
						</span>
						<span class="text-nowrap">
		 					<input class="form-check-input ml-3 officeAll" type="checkbox" id="office3">
							<label class="form-check-label" for="office3">本社営業所</label>
						</span>
						<span class="text-nowrap">
		 					<input class="form-check-input ml-3 officeAll" type="checkbox" id="office4">
							<label class="form-check-label" for="office4">池袋営業所</label>
						</span>
						<span class="text-nowrap">
		 					<input class="form-check-input ml-3 officeAll" type="checkbox" id="office5">
							<label class="form-check-label" for="office5">新潟営業所</label>
						</span>
						<span class="text-nowrap">
		 					<input class="form-check-input ml-3 officeAll" type="checkbox" id="office6">
							<label class="form-check-label" for="office6">長野営業所</label>
						</span>
						<span class="text-nowrap">
		 					<input class="form-check-input ml-3 officeAll" type="checkbox" id="office7">
							<label class="form-check-label" for="office7">新清水中継所</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office8">
							<label class="form-check-label" for="office8">名古屋営業所</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office9">
							<label class="form-check-label" for="office9">大阪営業所</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office10">
							<label class="form-check-label" for="office10">広島営業所</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office11">
							<label class="form-check-label" for="office11">大阪さやま交通</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office12">
							<label class="form-check-label" for="office12">日本高速</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office13">
							<label class="form-check-label" for="office13">ニュープリンス高速</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office14">
							<label class="form-check-label" for="office14">ベイライン</label>
						</span>
					</div>
 				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 免許証有効期限 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">免許証有効期限</div>
				<div class="col-sm-2">
					<input type="date" class="form-control m-1">
				</div>
				<div class="col-sm-1 d-flex align-items-center justify-content-center">から</div>
				<div class="col-sm-2">
					<input type="date" class="form-control m-1">
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 入社日 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">入社日</div>
				<div class="col-sm-2">
					<input type="date" class="form-control m-1">
				</div>
				<div class="col-sm-1 d-flex align-items-center justify-content-center">から</div>
				<div class="col-sm-2">
					<input type="date" class="form-control m-1">
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 定期健診診断 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">定期健診診断</div>
				<div class="col-sm-2">
					<input type="date" class="form-control m-1">
				</div>
				<div class="col-sm-1 d-flex align-items-center justify-content-center">から</div>
				<div class="col-sm-2">
					<input type="date" class="form-control m-1">
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 違反／事故・故障発生日 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">違反／事故・故障発生日</div>
				<div class="col-sm-2">
					<input type="date" class="form-control m-1">
				</div>
				<div class="col-sm-1 d-flex align-items-center justify-content-center">から</div>
				<div class="col-sm-2">
					<input type="date" class="form-control m-1">
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 選任区分 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">選任区分</div>
				<div class="col form-check form-check-inline m-2 flex-wrap">
					<span class="text-nowrap">
						<input class="form-check-input ml-3" type="checkbox" id="election1" value="option1">
						<label class="form-check-label" for="election1">乗合</label>
					</span>
					<span class="text-nowrap">
						<input class="form-check-input ml-3" type="checkbox" id="election2" value="option2">
						<label class="form-check-label" for="election2">貸切</label>
					</span>
					<span class="text-nowrap">
						<input class="form-check-input ml-3" type="checkbox" id="election3" value="option2">
						<label class="form-check-label" for="election3">兼務</label>
					</span>
				</div>
			</div>
			<div class="form-group row border border-top-0 mb-0">
				<!-- 退職者 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">退職者</div>
				<div class="col form-check form-check-inline m-2 flex-wrap">
					<span class="text-nowrap">
						<input class="form-check-input ml-3" type="checkbox" id="office1">
						<label class="form-check-label" for="office1">退職者を含める</label>
					</span>
				</div>
			</div>
			
			<div class="form-group row border-top mt-2 footer-border">
				<a type="button" class="btn button-black mt-2" href="#" th:href="@{/crew/result}">検索</a>
				<a class="btn button-black mt-2 ml-2" href="#" th:href="@{/crew/regist}" role="button">新規登録</a>
			</div>
		</form>

	</div>

	<div>
		<div>
			<nav class="d-flex" aria-label="..." th:if="${type} == 'result'">
				<ul class="pagination">
					<li class="page-item disabled">
						<span class="page-link">前へ</span>
					</li>
					<li class="page-item active">
						<span class="page-link">1</span>
					</li>
					<li class="page-item" aria-current="page">
						<a class="page-link">2</a>
					</li>
					<li class="page-item">
						<a class="page-link">3</a>
					</li>
					<li class="page-item">
						<a class="page-link">次へ</a>
					</li>
				</ul>
				<button type="button" class="btn button-black btn-sm ml-auto py-2 h-75">台帳ダウンロード</button>
			</nav>
			
		</div>
		<!-- ページング -->
		

		<table class="table table-bordered table-sm bt-2" id="dt" th:if="${type} == 'result'">
			<thead class="bg-light">
				<tr>
		            <th scope="col" class="align-middle text-center">
		                <div class="form-check form-check-inline flex-wrap mr-0">
							<input class="form-check-input checkAll ml-4" type="checkbox" id="resultAll">
						</div>
		            </th>
					<th scope="col" class="align-middle text-center w-10">社員コード</th>
					<th scope="col" class="align-middle text-center w-20">職種</th>
					<th scope="col" class="align-middle text-center w-20">氏名</th>
					<th scope="col" class="align-middle text-center w-10">フリガナ</th>
					<th scope="col" class="align-middle text-center w-10">所属営業所</th>
					<th scope="col" class="align-middle text-center w-10">入社日</th>
					<th scope="col" class="align-middle text-center w-10">選任区分</th>
					<th scope="col" class="width-005"></th>
				</tr>
			</thead>
			
			<tbody>
				<tr>
		            <td class="align-middle text-center">
		                <div class="form-check form-check-inline flex-wrap mr-0">
							<input class="form-check-input resultAll" type="checkbox" id="result1">
						</div>
		            </td>
					<td class="align-middle text-truncate">000001</td>
					<td class="align-middle text-truncate">職種</td>
					<td class="align-middle text-truncate">宇野 太郎</td>
					<td class="align-middle text-truncate">ウノ タロウ</td>
					<td class="align-middle text-truncate">所属営業所</td>
					<td class="align-middle text-truncate">2020/01/01</td>
					<td class="align-middle text-truncate">選任区分</td>
					<td class="align-middle text-truncate">
						<a class="btn button-black btn-sm" th:href="@{/crew/edit}">編集</a>
						<a class="btn button-black btn-sm" th:href="@{/crew/detail}">詳細</a>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
	
	<!-- ページング -->
	<nav class="mb-5" aria-label="..." th:if="${type} == 'result'">
		<ul class="pagination">
			<li class="page-item disabled">
				<span class="page-link">前へ</span>
			</li>
			<!-- active = 今表示しているページ -->
			<li class="page-item active">
				<span class="page-link">1</span>
			</li>
			<li class="page-item" aria-current="page">
				<a class="page-link">2</a>
			</li>
			<li class="page-item">
				<a class="page-link">3</a>
			</li>
			<li class="page-item">
				<a class="page-link">次へ</a>
			</li>
		</ul>
	</nav>
</main>

<!-- Footer -->
<div th:replace="layouts/footer :: footer"></div>
	
</body>
<!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/datable_check.js}"></script>
</html>