<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>

<main class="content">
	<h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">マスタ管理／ロール権限管理 ／
		<span class="h4" th:case="edit" th:text="編集"></span>
		<span class="h4" th:case="regist" th:text="登録"></span>
	</h4>

	<form class="ml-3 mr-3">
		<div class="form-group row border mb-3">
			<!-- ロール権限名称 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center justify-content-between">
				ロール権限名称<div class="req">必須</div>
			</div>
			<div class="col">
				<input type="text" class="form-control m-1" maxlength="50" placeholder="全角50文字以内" required>
			</div>
		</div>
	</form>

	<!-- table -->
	<form>
		<table class="table table-bordered table-sm w-100">
			<thead class="bg-light">
			<tr>
				<th scope="col" class="align-middle">業務分類</th>
				<th scope="col" class="align-middle">画面</th>
				<th scope="col" class="align-middle">アクセス権限</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td rowspan="14">乗務員/運行管理者/整備士管理</td>
				<td>乗務員 検索一覧<br>乗務員 詳細（通常権限）</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_driver_list_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_driver_list_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>
			<tr>
				<td>乗務員 詳細（個人情報閲覧権限）</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_driver_detail_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_driver_detail_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>
			<tr>
				<td>乗務員 登録・編集</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_driver_detail_privacy_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_driver_detail_privacy_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>乗務員 削除</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_driver_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_driver_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>乗務員台帳ダウンロード</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_driver_download" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_driver_download" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>運行管理者 検索一覧<br>運行管理者 詳細（通常権限）</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_operator" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_operator" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>運行管理者 詳細（個人情報閲覧権限）</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_operator_list" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_operator_list" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>
			<tr>
				<td>運行管理者 登録・編集</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_operator_detail_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_operator_detail_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>運行管理者 削除</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_operator_detail_privacy_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_operator_detail_privacy_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					整備士 検索一覧<br>
					整備士 詳細（通常権限）
				</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_operator_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_operator_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>



			<tr>
				<td>整備士 詳細（個人情報閲覧権限）</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_mechanic_list" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_mechanic_list" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>
			<tr>
				<td>整備士 登録・編集</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_mechanic_detail_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_mechanic_detail_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>整備士 削除</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_mechanic_detail_privacy_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_mechanic_detail_privacy_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>HRMOS CORE最新データ取込</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_mechanic_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_mechanic_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>



			<tr>
				<td rowspan="5">車両管理</td><td>車両 検索一覧<br>車両 詳細</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_car_list_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_car_list_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>車両 登録・編集</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_car_detail_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_car_detail_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>車両営業所間移動 検索一覧<br>車両営業所間移動 詳細</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_car_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_car_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>車両営業所間移動 登録・編集</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_car_move_list_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_car_move_list_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>車両 削除(売却)</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_car_move_detail_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_car_move_detail_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td rowspan="3">事故・ヒヤリハット・故障 一覧</td>
				<td>
					事故・ヒヤリハット・故障 検索一覧<br>
					事故・ヒヤリハット・故障 詳細<br>
					事故報告書出力<br>
					事故事例出力<br>
					不適合事項等報告書出力
				</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_accident_list_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_accident_list_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>事故・ヒヤリハット・故障 登録・編集</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_car_accident_detail_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_car_accident_detail_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>事故・ヒヤリハット・故障 削除</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_car_accident_delete_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_car_accident_delete_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td rowspan="3">整備/点検管理</td>
				<td>
					整備・点検 検索一覧<br>
					整備・点検 詳細<br>
					整備・点検 年間計画表ダウンロード
				</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_maint_list_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_maint_list_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>整備・点検 登録・編集</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_maint_list_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_maint_list_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>整備・点検 削除</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_maint_list_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_maint_list_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>




			<tr>
				<td rowspan="2">教育訓練管理</td>
				<td>
					教育訓練予定 検索一覧<br>
					教育訓練予定 詳細<br>
					教育訓練実施 検索一覧<br>
					教育訓練実施 詳細
				</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_education_list_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_education_list_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					教育訓練予定 登録・編集<br>
					教育訓練実施 登録・編集
				</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_education_detail_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_education_detail_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>



			<tr>
				<td rowspan="6">マスタ管理</td><td>ログインユーザ管理</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_master_login_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_master_login_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>ロール権限管理</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_master_role_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_master_role_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>整備点検科目管理</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_master_maint_category_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_master_maint_category_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>整備点検項目管理</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_master_maint_item_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_master_maint_item_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>整備点検部品管理</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_master_maint_parts_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_master_maint_parts_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>

			<tr>
				<td>お知らせ管理</td>
				<td>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="has_master_news_edit" id="inlineRadio1" value="option1" checked>
						<label class="form-check-label" for="inlineRadio1">有効</label>
						<input class="form-check-input ml-3" type="radio" name="has_master_news_edit" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">無効</label>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</form>

	<!-- bottom -->
	<form class="ml-3 mr-3">
		<div class="form-group row border-top mt-2 text-center footer-border">
			<div type="button" class="btn button-black mt-2" data-toggle="modal" data-target="#createModal">登録</div>
			<!--			<div th:if="${type} == 'edit'" type="button" class="btn button-black mt-2" data-toggle="modal" data-target="#updateModal">編集</div>-->
			<div th:if="${type} == 'edit'" type="button" class="btn button-black mt-2 ml-2" data-toggle="modal" data-target="#deleteModal">削除</div>
			<!--			<div th:if="${type} == 'regist'" type="button" class="btn button-black mt-2" data-toggle="modal" data-target="#createModal">登録</div>-->
		</div>
		<div class="form-group row">
			<div class="btn button-black" onclick="history.back()">前に戻る</div>
		</div>
	</form>

</main>

<div th:replace="layouts/footer :: footer"></div>
<div th:replace="layouts/formModals :: formModals(@{/system/role/result},@{/system/role/search},@{/system/role/result})"></div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

</body>
</html>