<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
	<!-- Header -->
	<div th:replace="layouts/header :: header"></div>
	<!-- HeaderMenu -->
	<div th:replace="layouts/header_menu :: header_menu"></div>
	
	<main class="content">
		<h4 th:switch="${type}" class="mt-3 mb-3 border-bottom" style="border-color: #be77d2!important;border-width: 3px!important;">マスタ管理　ログインユーザー管理 ／
			<span th:case="search" th:text="検索"></span>
			<span th:case="result" th:text="検索結果"></span>
		</h4>
		
		<button class="btn btn-primary mb-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" th:if="${type} == 'result'">
			検索条件表示
		</button>
		<!-- th:text="${type == 'edit'} ? '教育訓練結果についてを説明します。' : ''" -->
		<div class="collapse" id="collapseExample" th:classappend="${show} ? 'show' : ''">

			<form class="mr-3 ml-3">
				<div class="form-group row border mb-0 text-center">
					<!-- 営業所 -->
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">名前：姓</div>
					<div class="col-sm-2">
						<input type="text" class="form-control m-1">
					</div>
					<!-- 整備担当者 -->
					<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">名前：名</div>
					<div class="col-sm-2">
						<input type="text" class="form-control m-1">
					</div>
				</div>
				
				<div class="form-group row border border-top-0 mb-0 text-center">
					<!-- 営業所 -->
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">フリガナ：セイ</div>
					<div class="col-sm-2">
						<input type="text" class="form-control m-1">
					</div>
					<!-- 整備担当者 -->
					<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">フリガナ：メイ</div>
					<div class="col-sm-2">
						<input type="text" class="form-control m-1">
					</div>
				</div>
				
				<div class="form-group row border border-top-0 mb-0 text-center">
					<!-- 営業所 -->
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">所属部署</div>
					<div class="col-sm-2">
						<select class="form-control m-1">
							<option>〇〇</option>
							<option>〇〇</option>
						</select>
					</div>
					<!-- 整備担当者 -->
					<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">営業所</div>
					<div class="col-sm-2">
						<select class="form-control m-1">
							<option>〇〇営業所</option>
							<option>〇〇営業所</option>
						</select>
					</div>
				</div>
				
				<div class="form-group row border border-top-0 mb-0 text-center">
					<!-- 営業所 -->
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">役職</div>
					<div class="col-sm-2">
						<select class="form-control m-1">
							<option>〇〇</option>
							<option>〇〇</option>
						</select>
					</div>
					<!-- 整備担当者 -->
					<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">職種</div>
					<div class="col-sm-2">
						<select class="form-control m-1">
							<option>〇〇</option>
							<option>〇〇</option>
						</select>
					</div>
				</div>
				
				<div class="form-group row border border-top-0 mb-0 text-center">
					<!-- 営業所 -->
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">ログインID</div>
					<div class="col-sm-2">
						<input type="text" class="form-control m-1">
					</div>
					<!-- 整備担当者 -->
					<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">ロール権限</div>
					<div class="col-sm-2">
						<select class="form-control m-1">
							<option>〇〇</option>
							<option>〇〇</option>
						</select>
					</div>
				</div>
				
				<div class="form-group row border-top mt-2 text-center" style="border-width: 3px!important;">
					<a type="button" class="btn btn-primary mt-2 col-sm-1" href="#" th:href="@{/system/login/result}">検索</a>
				</div>
				
			</form>

		</div>
		<!-- ページング -->
		<nav aria-label="..." th:if="${type} == 'result'">
			<ul class="pagination">
				<li class="page-item disabled">
					<span class="page-link">前へ</span>
				</li>
				<!-- active = 今表示しているページ -->
				<li class="page-item active">
					<span class="page-link">1</span>
				</li>
				<li class="page-item" aria-current="page">
					<a class="page-link">2</a>
				</li>
				<li class="page-item">
					<a class="page-link">3</a>
				</li>
				<li class="page-item">
					<a class="page-link">次へ</a>
				</li>
			</ul>
		</nav>
		
		<div>
			<table class="table table-sm table-striped bt-2" th:if="${type} == 'result'">
				<thead>
					<tr>
						<th scope="col" class="align-middle text-center">名前</th>
						<th scope="col" class="align-middle text-center">フリガナ</th>
						<th scope="col" class="align-middle text-center">所属部署</th>
						<th scope="col" class="align-middle text-center">営業所</th>
						<th scope="col" class="align-middle text-center">役職</th>
						<th scope="col" class="align-middle text-center">職種</th>
						<th scope="col" class="align-middle text-center">ログインID</th>
						<th scope="col" class="align-middle text-center">ロール権限</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center align-middle">テスト 太郎</td>
						<td class="text-center align-middle">テスト タロウ</td>
						<td class="text-center align-middle">管理部</td>
						<td class="text-center align-middle">〇〇営業所</td>
						<td class="text-center align-middle">役職</td>
						<td class="text-center align-middle">乗務員</td>
						<td class="text-center align-middle">ABCDEFG</td>
						<td class="text-center align-middle">〇〇</td>
						<td class="text-center align-middle">
							<a class="btn btn-primary btn-sm" th:href="@{/system/login/edit}">編集</a>
						</td>
					</tr>
					<tr>
						<td class="text-center align-middle">テスト 太郎</td>
						<td class="text-center align-middle">テスト タロウ</td>
						<td class="text-center align-middle">管理部</td>
						<td class="text-center align-middle">〇〇営業所</td>
						<td class="text-center align-middle">役職</td>
						<td class="text-center align-middle">乗務員</td>
						<td class="text-center align-middle">ABCDEFG</td>
						<td class="text-center align-middle">〇〇</td>
						<td class="text-center align-middle">
							<a class="btn btn-primary btn-sm" th:href="@{/system/login/edit}">編集</a>
						</td>
					</tr>
					<tr>
						<td class="text-center align-middle">テスト 太郎</td>
						<td class="text-center align-middle">テスト タロウ</td>
						<td class="text-center align-middle">管理部</td>
						<td class="text-center align-middle">〇〇営業所</td>
						<td class="text-center align-middle">役職</td>
						<td class="text-center align-middle">乗務員</td>
						<td class="text-center align-middle">ABCDEFG</td>
						<td class="text-center align-middle">〇〇</td>
						<td class="text-center align-middle">
							<a class="btn btn-primary btn-sm" th:href="@{/system/login/edit}">編集</a>
						</td>
					</tr>
					<tr>
						<td class="text-center align-middle">テスト 太郎</td>
						<td class="text-center align-middle">テスト タロウ</td>
						<td class="text-center align-middle">管理部</td>
						<td class="text-center align-middle">〇〇営業所</td>
						<td class="text-center align-middle">役職</td>
						<td class="text-center align-middle">乗務員</td>
						<td class="text-center align-middle">ABCDEFG</td>
						<td class="text-center align-middle">〇〇</td>
						<td class="text-center align-middle">
							<a class="btn btn-primary btn-sm" th:href="@{/system/login/edit}">編集</a>
						</td>
					</tr>
					<tr>
						<td class="text-center align-middle">テスト 太郎</td>
						<td class="text-center align-middle">テスト タロウ</td>
						<td class="text-center align-middle">管理部</td>
						<td class="text-center align-middle">〇〇営業所</td>
						<td class="text-center align-middle">役職</td>
						<td class="text-center align-middle">乗務員</td>
						<td class="text-center align-middle">ABCDEFG</td>
						<td class="text-center align-middle">〇〇</td>
						<td class="text-center align-middle">
							<a class="btn btn-primary btn-sm" th:href="@{/system/login/edit}">編集</a>
						</td>
					</tr>
					<tr>
						<td class="text-center align-middle">テスト 太郎</td>
						<td class="text-center align-middle">テスト タロウ</td>
						<td class="text-center align-middle">管理部</td>
						<td class="text-center align-middle">〇〇営業所</td>
						<td class="text-center align-middle">役職</td>
						<td class="text-center align-middle">乗務員</td>
						<td class="text-center align-middle">ABCDEFG</td>
						<td class="text-center align-middle">〇〇</td>
						<td class="text-center align-middle">
							<a class="btn btn-primary btn-sm" th:href="@{/system/login/edit}">編集</a>
						</td>
					</tr>
					<tr>
						<td class="text-center align-middle">テスト 太郎</td>
						<td class="text-center align-middle">テスト タロウ</td>
						<td class="text-center align-middle">管理部</td>
						<td class="text-center align-middle">〇〇営業所</td>
						<td class="text-center align-middle">役職</td>
						<td class="text-center align-middle">乗務員</td>
						<td class="text-center align-middle">ABCDEFG</td>
						<td class="text-center align-middle">〇〇</td>
						<td class="text-center align-middle">
							<a class="btn btn-primary btn-sm" th:href="@{/system/login/edit}">編集</a>
						</td>
					</tr>
					<tr>
						<td class="text-center align-middle">テスト 太郎</td>
						<td class="text-center align-middle">テスト タロウ</td>
						<td class="text-center align-middle">管理部</td>
						<td class="text-center align-middle">〇〇営業所</td>
						<td class="text-center align-middle">役職</td>
						<td class="text-center align-middle">乗務員</td>
						<td class="text-center align-middle">ABCDEFG</td>
						<td class="text-center align-middle">〇〇</td>
						<td class="text-center align-middle">
							<a class="btn btn-primary btn-sm" th:href="@{/system/login/edit}">編集</a>
						</td>
					</tr>
					<tr>
						<td class="text-center align-middle">テスト 太郎</td>
						<td class="text-center align-middle">テスト タロウ</td>
						<td class="text-center align-middle">管理部</td>
						<td class="text-center align-middle">〇〇営業所</td>
						<td class="text-center align-middle">役職</td>
						<td class="text-center align-middle">乗務員</td>
						<td class="text-center align-middle">ABCDEFG</td>
						<td class="text-center align-middle">〇〇</td>
						<td class="text-center align-middle">
							<a class="btn btn-primary btn-sm" th:href="@{/system/login/edit}">編集</a>
						</td>
					</tr>
					<tr>
						<td class="text-center align-middle">テスト 太郎</td>
						<td class="text-center align-middle">テスト タロウ</td>
						<td class="text-center align-middle">管理部</td>
						<td class="text-center align-middle">〇〇営業所</td>
						<td class="text-center align-middle">役職</td>
						<td class="text-center align-middle">乗務員</td>
						<td class="text-center align-middle">ABCDEFG</td>
						<td class="text-center align-middle">〇〇</td>
						<td class="text-center align-middle">
							<a class="btn btn-primary btn-sm" th:href="@{/system/login/edit}">編集</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- ページング -->
		<nav class="mb-5" aria-label="..." th:if="${type} == 'result'">
			<ul class="pagination">
				<li class="page-item disabled">
					<span class="page-link">前へ</span>
				</li>
				<!-- active = 今表示しているページ -->
				<li class="page-item active">
					<span class="page-link">1</span>
				</li>
				<li class="page-item" aria-current="page">
					<a class="page-link">2</a>
				</li>
				<li class="page-item">
					<a class="page-link">3</a>
				</li>
				<li class="page-item">
					<a class="page-link">次へ</a>
				</li>
			</ul>
		</nav>
	</main>
	
	<!-- Footer -->
	<div th:replace="layouts/footer :: footer"></div>
	
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</html>