<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Header -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
	
	<!-- main -->
	<div th:replace="layouts/header :: header"></div>
    <main class="container p-0">
    	
    	
    	
    	<div class="border-bottom mb-2">
    		<span class="h5 font-weight-bold text-dark">お知らせ</span>
    	</div>
		<div class="row bg-white m-2 rounded" style="height: 200px;">
			<ul class="list-unstyled ml-2 overflow-auto" style="height: 100%; width: 100%;">
				<li>お知らせ１</li>
				<li>お知らせ２</li>
				<li>お知らせ３</li>
				<li>お知らせ４</li>
				<li>お知らせ５</li>
				<li>お知らせ６</li>
			</ul>
		</div>

		<div class="row" style="height: 500px">
			<div class="col-sm">
				<ul class="list-group list-group-flush">
					<li class="list-group-item d-flex justify-content-between align-items-center bg-light">
						<a>【乗務員・整備士・運行管理者 管理】</a>
						<button>
							<i class="fas fa-bell p-1"></i>3
						</button>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center bg-light">
						<a>【車両 管理】</a>
						<button>
							<i class="fas fa-bell p-1"></i>4
						</button>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center bg-light">
						<a>【車両営業所移動 管理】</a>
						<button>
							<i class="fas fa-bell p-1"></i>5
						</button>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-cente bg-light">
						<a>【事故・ヒヤリハット・故障 管理】</a>
					</li>

					<li class="list-group-item d-flex justify-content-between align-items-center bg-light">
						<a th:href="@{/maintenance/search}">【整備・点検 管理】</a>
					</li>

					<li class="list-group-item d-flex justify-content-between align-items-center bg-light">
						<a th:href="@{/education/search}">【教育訓練 管理】</a>
					</li>

					<li class="list-group-item d-flex justify-content-between align-items-center bg-light">
						<a th:href="@{/educationImpl/search}">【教育訓練実施 管理】</a>
					</li>

					<li class="list-group-item d-flex justify-content-between align-items-center bg-light">
						<a>【HERMOSCORE取り込み】</a>
					</li>
				</ul>
			</div>
			<div class="col-sm">
				<ul class="list-group list-group-flush">
					<li class="list-group-item d-flex justify-content-between align-items-center bg-light">
						<a th:href="@{/system/login/search}">【ログインユーザー管理】</a>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center bg-light">
						<a>【ロール権限管理】</a>
					</li>

					<li class="list-group-item d-flex justify-content-between align-items-center bg-light">
						<a>【お知らせ管理】</a>
					</li>

					<li class="list-group-item d-flex justify-content-between align-items-center bg-light">
						<a>【整備点検カテゴリ項目管理】</a>
					</li>

					<li class="list-group-item d-flex justify-content-between align-items-center bg-light">
						<a>【整備点検部品項目管理】</a>
					</li>

					<li class="list-group-item d-flex justify-content-between align-items-center bg-light">
						<a>【整備点検項目管理】</a>
					</li>
				</ul>
			</div>
		</div>

	</main>
    <!-- footer -->
    <div th:replace="layouts/footer :: footer"></div>
</body>
</html>