<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>
<!-- 個別呼び出しCSS -->
<link rel="stylesheet" th:href="@{/css/style.css}" />

<main class="content">
	<h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">マスタ管理／お知らせ管理 ／
		<span class="h4" th:case="edit" th:text="編集"></span>
		<span class="h4" th:case="regist" th:text="登録"></span>
	</h4>

	<form class="ml-3 mr-3">
    	<div class="form-group row border mb-0">
        	<!-- 会社 -->
        	<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">会社</div>
			<div class="col-sm-4">
				<select class="form-control m-1" required>
					<option>選択してください</option>
					<option>会社A</option>
					<option>会社B</option>
				</select>
			</div>
		</div>

		<div class="form-group row border border-top-0 mb-0">
			<!-- 部 -->
			<div class="col-sm-2 bg-light border-right font-weight-bold d-flex align-items-center">部</div>
			<div class="col-sm-4">
				<select class="form-control m-1" required>
					<option>選択してください</option>
					<option>〇〇</option>
					<option>〇〇</option>
				</select>
			</div>
		</div>

		<div class="form-group row border border-top-0 mb-0">
	    	<!-- 部署 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">部署</div>
			<div class="col-sm-4">
				<select class="form-control m-1" required>
					<option>選択してください</option>
					<option>〇〇</option>
					<option>〇〇</option>
				</select>
			</div>
		</div>

		<div class="form-group row border border-top-0 mb-0">
			<!-- 営業所 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">営業所</div>
			<div class="col-sm-4">
				<select class="form-control m-1" required>
					<option>選択してください</option>
					<option>〇〇営業所</option>
					<option>〇〇営業所</option>
				</select>
			</div>
		</div>
		
		<div class="form-group row border border-top-0 mb-0 text-center">
			<!-- 役職/職種 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">役職/職種</div>
			<div class="col-sm-4">
				<select class="form-control m-1" required>
					<option>選択してください</option>
					<option>〇〇</option>
					<option>〇〇</option>
					<option>〇〇</option>
					<option>〇〇</option>
				</select>
			</div>
		</div>
		
		<div class="form-group row border border-top-0 mb-0">
			<!-- タイトル -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">タイトル</div>
			<div class="col">
				<input type="text" class="form-control m-1" maxlength="50" placeholder="全角50文字以内">
			</div>
		</div>

		<div class="form-group row border border-top-0 mb-0">
			<!-- お知らせ内容 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">お知らせ内容</div>
			<div class="col-sm-10">
				<textarea class="form-control m-1" rows="5" maxlength="1000"></textarea>
			</div>
		</div>

		<div class="form-group row border border-top-0 mb-0 text-center">
			<!-- 掲載期間 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">掲載期間</div>
			<div class="col-sm-2">
				<input type="date" class="form-control m-1">
			</div>
			<div class="col-sm-1 d-flex align-items-center justify-content-center">から</div>
			<div class="col-sm-2">
				<input type="date" class="form-control m-1">
			</div>
		</div>

		<div class="form-group row border border-top-0 mb-0 text-center">
			<!-- 重要マーク -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">重要マーク</div>
        	<div class="col form-check m-2">
				<div class="row ml-0">
					<span class="mr-3 text-nowrap">
	                    <input type="checkbox" id="division1">
	                    <label class="form-check-label" for="division1">付与する</label>
	                </span>
	            </div>
        	</div>
		</div>

		<div class="form-group row border border-top-0 mb-0 text-center">
			<!-- 表示/非表示 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">表示/非表示</div>
        	<div class="col form-check m-2">
				<div class="row ml-0">
					<span class="mr-3 text-nowrap">
	                    <input type="radio" name="visible" class="mr-2">表示する
	                </span>
					<span class="mr-3 text-nowrap">
	                    <input type="radio" name="visible" class="mr-2">表示しない
	                </span>
	            </div>
        	</div>
		</div>
		
		<div class="form-group row border-top mt-2 text-center footer-border">
			<div type="button" class="btn button-black mt-2" data-toggle="modal" data-target="#createModal">登録</div>
			<!--			<div th:if="${type} == 'edit'" type="button" class="btn button-black mt-2" data-toggle="modal" data-target="#updateModal">編集</div>-->
			<div th:if="${type} == 'edit'" type="button" class="btn button-black mt-2 ml-2" data-toggle="modal" data-target="#deleteModal">削除</div>
			<!--			<div th:if="${type} == 'regist'" type="button" class="btn button-black mt-2" data-toggle="modal" data-target="#createModal">登録</div>-->
		</div>
		<div class="form-group row">
			<div class="btn button-black" onclick="history.back()">前に戻る</div>
		</div>
	</form>

</main>

<div th:replace="layouts/footer :: footer"></div>
<div th:replace="layouts/formModals :: formModals(@{/system/news/result},@{/system/news/search},@{/system/news/result})"></div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

</body>
</html>