<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>
<!-- 個別呼び出しCSS -->
<link rel="stylesheet" th:href="@{/css/style.css}" />

<main class="content">
    <h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">事故・ヒヤリハット・故障管理 ／ 詳細</h4>

	<form class="ml-3 mr-3">
		<div class="form-group row flex-wrap mx-0 my-3">
		    <a class="m-2" href="#pageLink1">▼基礎情報</a>
		    <a class="m-2" href="#pageLink2">▼確認状況</a>
		    <a class="m-2" href="#pageLink3">▼車種変更内容</a>
		    <a class="m-2" href="#pageLink4">▼不適合報告内容</a>
		    <a class="m-2" href="#pageLink5">▼【社内向け】事故事例</a>
		    <a class="m-2" href="#pageLink6">▼【国交省向け】事故報告書＜表面＞</a>
		    <a class="m-2" href="#pageLink7">▼【国交省向け】事故報告書＜裏面＞</a>
		    <a class="m-2" href="#pageLink8">▼別表２　運転者の健康状態に起因する事故の調査事項</a>
		    <a class="m-2" href="#pageLink9">▼別表３　車両故障事故現場報告書添付票</a>
		</div>

	    <div class="form-group row border mb-0">
	        <!-- 事故・ヒヤリハット・故障ID -->
	        <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center justify-content-between">事故・ヒヤリハット・故障ID</div>
	        <div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="123456" readonly>
	        </div>
	    </div>
	    
		<div class="form-group row border mt-3 mb-0">
			<!-- 登録区分 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center justify-content-between">登録区分</div>
	        <div class="col-sm-2">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="事故" readonly>
	        </div>
            <span class="notice">事故報告書対象事案</span>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
			<!-- 担当バス会社 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center justify-content-between">担当バス会社</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="大阪営業所" readonly>
			</div>
			<!-- 担当運行管理者 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center justify-content-between">担当運行管理者</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="宇野 太郎" readonly>
			</div>
		</div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 発生日時 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">発生日時</div>
            <div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="2020/05/23" readonly>
            </div>
            <!-- 発生場所 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">発生場所</div>
            <div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="吹田IC" readonly>
            </div>
		</div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 概要報告 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">概要報告</div>
            <div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
            </div>
        </div>

	    <h4 id="pageLink1" class="mt-3">基礎情報</h4>
        <div class="form-group row border mb-0 text-center">
			<!-- 対象バス会社 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">対象バス会社</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="新潟営業所" readonly>
			</div>
		</div>
        <div class="form-group row border border-top-0 mb-0 text-center">
			<!-- 対象路線 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">対象路線</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="路線１" readonly>
			</div>
            <!-- 発生エリア -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">発生エリア</div>
            <div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="エリアA" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 出発日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">出発日</div>
            <div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="2020/05/23" readonly>
            </div>
            <!-- 便名 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">便名</div>
            <div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="便名１" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
			<!-- 乗務員氏名１ -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">乗務員氏名１</div>
			<div class="col-sm-4 text-left d-flex align-items-center">
	            <a class="m-2" href="#" th:href="@{/crew/detail}">テスト 太郎</a>
			</div>
			<!-- 乗務員氏名２ -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">乗務員氏名２</div>
			<div class="col-sm-4 text-left d-flex align-items-center">
	            <a class="m-2" href="#" th:href="@{/crew/detail}">テスト 次郎</a>
			</div>
		</div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 始発地 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">始発地</div>
            <div class="col-sm-10">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 経由地 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">経由地</div>
            <div class="col-sm-10">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 最終目的地 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">最終目的地</div>
            <div class="col-sm-10">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 乗客数 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">乗客数</div>
            <div class="col-sm-1">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="19" readonly>
            </div>
            <div class="col-sm-3"></div>
			<!-- 運行状況 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right border-left d-flex align-items-center">運行状況</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="実車" readonly>
			</div>
		</div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 車両登録番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両登録番号</div>
			<div class="col-sm-4 text-left d-flex align-items-center">
	            <a class="m-2" href="#" th:href="@{/car/detail}">堺 200 は 1234</a>
			</div>
			<!-- 車両メーカー -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車両メーカー</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="三菱ふそう" readonly>
			</div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
			<!-- 年式 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">年式</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="" readonly>
			</div>
			<!-- 車両タイプ -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車両タイプ</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="〇〇" readonly>
			</div>
		</div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- ドラレコ番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">ドラレコ番号</div>
            <div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="" readonly>
            </div>
            <!-- ドラレコ日時 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">ドラレコ日時</div>
            <div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="2020/05/23" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 走行距離 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">走行距離</div>
            <div class="col-sm-1">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="125" readonly>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
			<!-- 天候 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">天候</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="晴" readonly>
			</div>
			<!-- 路面状況 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">路面状況</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="悪" readonly>
			</div>
		</div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 時系列報告 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">時系列報告</div>
            <div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
            </div>
        </div>

    	<h4 id="pageLink3" class="mt-3">車種変更内容</h4>
       	<div class="form-group row border mb-0 text-center">
            <!-- 対象路線 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">対象路線</div>
            <div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="〇〇" readonly>
            </div>
			<!-- 便名 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">便名</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="便名１" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 車両タイプ -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両タイプ</div>
            <div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="ＧＲＮ" readonly>
            </div>
        </div>
       	<div class="form-group row border border-top-0 mb-0 text-center">
			<!-- 期間（From） -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">期間（From）</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="2020/05/24" readonly>
			</div>
			<!-- 期間（To） -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">期間（To）</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="2020/05/24" readonly>
			</div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 添付資料 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">添付資料</div>
            <div class="col-sm-4">
				<a class="form-control-plaintext px-1 m-1" href="#">AAA</a>
            </div>
        </div>

    	<h4 id="pageLink2" class="mt-3">確認状況</h4>
       	<div class="bg-light d-flex font-weight-bold row border justify-content-center align-items-center">
       		－路線管理チーム：記載内容－
       	</div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 確認日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">確認日</div>
            <div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="2020/05/24" readonly>
            </div>
			<!-- 担当者 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">担当者</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="テスト 太郎" readonly>
			</div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 記載欄 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">記載欄</div>
            <div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 確認状況 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">確認状況</div>
            <div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-2 m-1" value="着手" readonly>
            </div>
        </div>

       	<div class="bg-light d-flex font-weight-bold row border border-top-0 justify-content-center align-items-center">
       		－統括管理チーム：記載内容－
       	</div>
       	<div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 確認日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">確認日</div>
            <div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="2020/05/25" readonly>
            </div>
			<!-- 担当者 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">担当者</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="テスト 次郎" readonly>
			</div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 記載欄 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">記載欄</div>
            <div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 確認状況 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">確認状況</div>
            <div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="着手" readonly>
            </div>
        </div>
       	<div class="bg-light d-flex font-weight-bold row border border-top-0 justify-content-center align-items-center">
       		－CSチーム：記載内容－
       	</div>
       	<div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 確認日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">確認日</div>
            <div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="2020/05/24" readonly>
            </div>
			<!-- 担当者 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">担当者</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="テスト 太郎" readonly>
			</div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 記載欄 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">記載欄</div>
            <div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 確認状況 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">確認状況</div>
            <div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="未着手" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
			<!-- メール送信者 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">メール送信者</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="テスト 太郎" readonly>
			</div>
			<!-- メールチェック者 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">メールチェック者</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="テスト 次郎" readonly>
			</div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 事案発生時の旅客対応 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">事案発生時の旅客対応</div>
            <div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
			<!-- 商品券・QUOカード対応 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">商品券・QUOカード対応</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="〇〇" readonly>
			</div>
        </div>

    	<h4 id="pageLink4" class="mt-3">不適合報告内容</h4>
       	<div class="form-group row border mb-0 text-center">
            <!-- 社歴 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">社歴</div>
            <div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="６ヶ月" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
			<!-- 過去不適合事項件数　累積 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">過去不適合事項件数<br>累積</div>
			<div class="col-sm-1">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="4" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 過去不適合事項件数　直近一年以内 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">過去不適合事項件数<br>直近一年以内</div>
			<div class="col-sm-1">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="2" readonly>
			</div>
			<div class="col-sm-3"></div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
			<!-- 不適合等区分① -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">不適合等区分①</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="〇〇" readonly>
 			</div>
			<!-- 不適合等区分② -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">不適合等区分②</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="〇〇" readonly>
 			</div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
			<!-- 不適合等区分③ -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">不適合等区分③</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="〇〇" readonly>
			</div>
		</div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- その他不適合等 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">その他不適合等</div>
            <div class="col-sm-10">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 当日状況 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">当日状況</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="当日状況１" readonly>
			</div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 主観的事実 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">主観的事実</div>
			<div class="col-sm-4">
	            <input type="text" class="form-control-plaintext px-1 m-1" value="主観的事実1" readonly>
			</div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- その他の原因 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">その他の原因</div>
			<div class="col-sm-10">
	            <input type="text" class="form-control-plaintext m-1" value="その他の原因1" readonly>
	            <input type="text" class="form-control-plaintext m-1">
			</div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 再発防止策 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">再発防止策</div>
            <div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 事案概要 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">事案概要</div>
            <div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- どのように（概要） -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">どのように（概要）</div>
            <div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- なぜ（原因） -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">なぜ（原因）</div>
            <div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 特記事項 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">特記事項</div>
            <div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
            </div>
        </div>
        
		<div class="text-right mt-2">
	        <button type="button" class="btn button-black">不適合事項等報告書出力</button>
		</div>

        <div class="form-group row border mt-3 mb-0">
            <!-- 【社内向け】事故報告書 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">【社内向け】<br>事故報告書</div>
            <div class="col-sm-4">
	            <a href="#" class="form-control-plaintext m-1">主観的事実1</a>
            </div>
        </div>

    	<h4 id="pageLink5" class="mt-3">【社内向け】事故事例</h4>
       	<div class="form-group row border mb-0">
			<!-- 営業所 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">営業所</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="新潟営業所" readonly>
			</div>
			<!-- 事故番号 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">事故番号</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="123456" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 発生日 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">発生日</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="2000/01/01" readonly>
			</div>
			<!-- 時刻 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">時刻</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="00:30:44" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 天候 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">天候</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="曇" readonly>
			</div>
			<!-- 発生場所 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">発生場所</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="吹田IC" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 発生エリア -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">発生エリア</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="エリアD" readonly>
			</div>
			<!-- 乗務員氏名 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">乗務員氏名</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="宇野 太郎" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 性別 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">性別</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="男" readonly>
			</div>
			<!-- 年齢 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">年齢</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="29" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 便名 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">便名</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="便名AAAA" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 始発地 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">始発地</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="阿倍野バスターミナル" readonly>
			</div>
			<!-- 最終目的地 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">最終目的地</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="新宿バスターミナル" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 車台番号 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車台番号</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="は12-34" readonly>
			</div>
			<!-- 車種 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車種</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="TDX" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 事故種別 -->
			<div class="col-sm-2 bg-light border-right d-flex align-items-center">
				<div class="font-weight-bold">事故種別</div>
			</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="○○" readonly>
			</div>
			<!-- 事故原因 -->
			<div class="col-sm-2 bg-light border-left border-right d-flex align-items-center">
				<div class="font-weight-bold">事故原因</div>
			</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="○○" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 路面状況 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">路面状況</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1" value="良" readonly>
			</div>
			<!-- 事故発生時の速度 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">事故発生時の速度</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1" value="160" readonly>
			</div>
			<div class="col-sm-2"></div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- その他特記事項 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">その他特記事項</div>
			<div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 旅客（人数） -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">旅客（人数）</div>
			<div class="col-sm-1">
                <input type="number" class="form-control-plaintext m-1 px-1" value="18" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 最近出勤しなかった日から事故日までの勤務日数 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center text-wrap">最近出勤しなかった日から事故日までの勤務日数</div>
			<div class="col-sm-1">
                <input type="number" class="form-control-plaintext m-1 px-1" value="5" readonly>
			</div>
			<div class="col-sm-3"></div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 事故前日の睡眠時間（時分） -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">事故前日の睡眠時間（時分）</div>
			<div class="col-sm-2">
                <input type="number" class="form-control-plaintext m-1 px-1" value="6:30" readonly>
			</div>
			<div class="col-sm-2"></div>
			<!-- 運転開始から事故まで（時分） -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center text-wrap">運転開始から事故まで（時分）</div>
			<div class="col-sm-2">
                <input type="number" class="form-control-plaintext m-1 px-1" value="0:30" readonly>
			</div>
			<div class="col-sm-2"></div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 運転開始から事故まで（距離） -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">運転開始から事故まで（距離）</div>
			<div class="col-sm-1">
                <input type="number" class="form-control-plaintext m-1 px-1" value="14" readonly>
			</div>
			<div class="col-sm-3"></div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 運転経歴｜種類 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center text-wrap">運転経歴｜種類</div>
			<div class="col-sm-4">
                <input type="number" class="form-control-plaintext m-1 px-1" value="トラック" readonly>
			</div>
			<!-- 運転経歴｜経験年数 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center text-wrap">運転経歴｜経験年数</div>
			<div class="col-sm-1">
                <input type="number" class="form-control-plaintext m-1 px-1" value="5" readonly>
			</div>
			<div class="col-sm-3"></div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 運転経歴｜定員 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center text-wrap">運転経歴｜定員</div>
			<div class="col-sm-1">
                <input type="number" class="form-control-plaintext m-1 px-1" value="18" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 運転経歴｜積載量 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center text-wrap">運転経歴｜積載量</div>
			<div class="col-sm-1">
                <input type="number" class="form-control-plaintext m-1 px-1" value="5" readonly>
			</div>
			<div class="col-sm-3"></div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 概要 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center text-wrap">概要</div>
			<div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 原因補足説明 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center text-wrap">原因補足説明</div>
			<div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 損害金額（見込）・示談結果等 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center text-wrap">損害金額（見込）・示談結果等</div>
			<div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 作成者氏名 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">作成者氏名</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="宇野 太郎" readonly>
			</div>
        </div>

		<div class="text-right mt-2">
	        <button type="button" class="btn button-black">【社内向け】事故事例報告書出力</button>
		</div>

        <div class="form-group row border mt-3 mb-0">
            <!-- 【国交省向け】事故事例報告書 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">【国交省向け】<br>事故事例報告書</div>
            <div class="col-sm-4">
	            <a href="#" class="form-control-plaintext m-1">BBBB</a>
            </div>
		</div>
		
    	<h4 id="pageLink6" class="mt-3">【国交省向け】事故報告書＜表面＞</h4>
       	<div class="form-group row border mb-0">
			<!-- 自動車の使用車の氏名又は名称 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">自動車の使用車の氏名<br>又は名称</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="宇野 太郎" readonly>
			</div>
			<!-- 住所 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">住所</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="東京都新宿区" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 電話番号 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">電話番号</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="000-0000-0000" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 発生日時 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">発生日時</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="00:34:18" readonly>
			</div>
			<!-- 天候 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">天候</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="晴" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 発生場所 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">発生場所</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="吹田IC" readonly>
			</div>
			<!-- 当該自動車の使用の本拠の名称 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">当該自動車の<br>使用の本拠の名称</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 住所 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">住所</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="東京都新宿区" readonly>
			</div>
			<!-- 路線名又は道路名 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">路線名又は道路名</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 自動車登録番号 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">自動車登録番号</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="は12-34" readonly>
			</div>
			<!-- 車両番号 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車両番号</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 当時の状況 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">当時の状況</div>
			<div class="col-sm-10">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 当時の処置 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">当時の処置</div>
			<div class="col-sm-10">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 事故の原因 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">事故の原因</div>
			<div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 再発防止対策 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">再発防止対策</div>
			<div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 備考 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">備考</div>
			<div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
			</div>
        </div>

    	<h4 id="pageLink7" class="mt-3">【国交省向け】事故報告書＜裏面＞</h4>
       	<div class="bg-light d-flex font-weight-bold row border justify-content-center align-items-center">
       		－事故の種類－
       	</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 発生の順 -->
			<div class="col-sm-2 bg-light border-right d-flex align-items-center">
				<div class="font-weight-bold">発生の順</div>
			</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="○○" readonly>
			</div>
			<!-- 転落の状態（落差） -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">転落の状態（落差）</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="3" readonly>
			</div>
			<div class="col-sm-3"></div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 転落の状態（水深） -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">転落の状態（水深）</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="1" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 衝突等の状態 -->
			<div class="col-sm-2 bg-light border-left border-right d-flex align-items-center">
				<div class="font-weight-bold">衝突等の状態</div>
			</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="接触" readonly>
			</div>
        </div>

       	<div class="bg-light d-flex font-weight-bold row border border-top-0 justify-content-center align-items-center">
       		－当該自動車の概要－
       	</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 車名 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車名</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
			<!-- 型式 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">型式</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 車体の形状 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車体の形状</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
			<!-- 初度登録年又は初度検査年 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">初度登録年又は<br>初度検査年</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="2012" readonly>
			</div>
			<div class="col-sm-3"></div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 事業用 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">事業用</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="乗合旅客" readonly>
			</div>
			<!-- 種別 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">種別</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="普通" readonly>
			</div>
			<div class="col-sm-3"></div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 乗車定員 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">乗車定員</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="20" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 当時の乗車人員 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">当時の乗車人員</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="15" readonly>
			</div>
			<div class="col-sm-3"></div>
		</div>

       	<div class="bg-light d-flex font-weight-bold row border border-top-0 justify-content-center align-items-center">
       		－道路等の状況－
       	</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 種類 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">種類</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="高速自動車国道" readonly>
			</div>
			<!-- 道路の幅員 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">道路の幅員</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="3" readonly>
			</div>
			<div class="col-sm-3"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- こう配 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">こう配</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="上り" readonly>
			</div>
			<!-- 道路の形態 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">道路の形態</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="直線" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 路面の状態 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">路面の状態</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="良" readonly>
			</div>
			<!-- 警戒意識の設置 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">警戒意識の設置</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="悪" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 当該道路の制限速度 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">当該道路の制限速度</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="80" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 踏切の状態 -->
			<div class="col-sm-2 bg-light border-left border-right d-flex align-items-center">
				<div class="font-weight-bold">踏切の状態</div>
			</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="遮断機付き" readonly>
			</div>
        </div>

       	<div class="bg-light d-flex font-weight-bold row border border-top-0 justify-content-center align-items-center">
       		－営業所及び運行等の状況－
       	</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 当時の運行計画 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">当時の運行計画</div>
			<div class="col-sm-10">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
       	</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 運送契約の相手方の氏名又は名称 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">運送契約の<br>相手方の氏名又は名称</div>
			<div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
			</div>
		</div>
       	
       	<div class="bg-light d-flex font-weight-bold row border border-top-0 justify-content-center align-items-center">
       		－当時の状況－
       	</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 危険認知時の速度 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">危険認知時の速度</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="180" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 危険認知時の距離 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">危険認知時の距離</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="50" readonly>
			</div>
			<div class="col-sm-3"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- スリップ距離 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">スリップ距離</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="10" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 当該自動車の事故時の走行などの態様 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">当該自動車の<br>事故時の走行などの態様</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="直進（定速）" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 道路上での事故の場合には事故発生地点 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">道路上での事故の場合には<br>事故発生地点</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="車道" readonly>
			</div>
			<!-- 死傷事故の場合には死傷者の状態 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">死傷事故の場合には<br>死傷者の状態</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="自動車運転" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 車輌の故障に起因する場合には故障個所 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車輌の故障に<br>起因する場合には故障個所</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="バンパー" readonly>
			</div>
		</div>

       	<div class="bg-light d-flex font-weight-bold row border border-top-0 justify-content-center align-items-center">
       		－乗務員　運転者－
       	</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 氏名 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">氏名</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="宇野 太郎" readonly>
			</div>
			<!-- 年齢 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">年齢</div>
			<div class="col-sm-4">
                <input type="number" class="form-control-plaintext m-1 px-1" value="28" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 経験年数 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">経験年数</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="7" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 本務・臨時の別 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">本務・臨時の別</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="本務" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 事故日以前1ヶ月間に出勤しなかった日数 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">事故日以前1ヶ月間<br>に出勤しなかった日数</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="0" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 運転開始から事故までの時間 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">運転開始から事故までの時間</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="0:32:15" readonly>
			</div>
			<div class="col-sm-2"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 運転開始から事故までの距離 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">運転開始から事故までの距離</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="16" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 最近出勤しなかった日から事故日までの勤務日数 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">最近出勤しなかった日から<br>事故日までの勤務日数</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="0" readonly>
			</div>
			<div class="col-sm-3"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 最近出勤しなかった日から事故日までの乗務距離 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">最近出勤しなかった日から<br>事故日までの乗務距離</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="200" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 損害の程度 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">損害の程度</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="重症" readonly>
			</div>
			<div class="col-sm-2"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- シートベルトの着用状況 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">シートベルトの着用状況</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="着用" readonly>
			</div>
			<div class="col-sm-2"></div>
			<!-- 交替運転者の配置 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">交替運転者の配置</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="有" readonly>
			</div>
			<div class="col-sm-2"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 交替後の乗務時間 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">交替後の乗務時間</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="20:54:24" readonly>
			</div>
			<div class="col-sm-2"></div>
			<!-- 交替後の乗務距離 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">交替後の乗務距離</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="57" readonly>
			</div>
			<div class="col-sm-3"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 過去3年間の事故件数 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">過去3年間の事故件数</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="4" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 最近の事故年月日 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">最近の事故年月日</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="2020/04/26" readonly>
			</div>
			<div class="col-sm-2"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 過去3年間の道路交通法の違反状況 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">過去3年間の<br>道路交通法の違反状況</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="17" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 最近の違反年月日 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">最近の事故年月日</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="2020/04/26" readonly>
			</div>
			<div class="col-sm-2"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 過去3年間の適性診断の受診状況 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">過去3年間の<br>適性診断の受診状況</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="D" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 最近の受診年月日 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">最近の受診年月日</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="2020/04/26" readonly>
			</div>
			<div class="col-sm-2"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 適性診断受診場所 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">適性診断受診場所</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="堺" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 最近の健康診断の受診年月日 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">最近の健康診断の<br>受診年月日</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="2020/04/26" readonly>
			</div>
			<div class="col-sm-2"></div>
		</div>

       	<div class="bg-light d-flex font-weight-bold row border border-top-0 justify-content-center align-items-center">
       		－乗務員　車掌－
       	</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 本務・臨時の別 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">本務・臨時の別</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="本務" readonly>
			</div>
			<div class="col-sm-2"></div>
			<!-- 損害の程度 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">損害の程度</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="軽傷" readonly>
			</div>
			<div class="col-sm-2"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- シートベルトの着用状況 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">シートベルトの着用状況</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="着用" readonly>
			</div>
			<div class="col-sm-2"></div>
		</div>

       	<div class="bg-light d-flex font-weight-bold row border border-top-0 justify-content-center align-items-center">
       		－運行管理者－
       	</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 担当運行管理者 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">担当運行管理者</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="宇野 太郎" readonly>
			</div>
			<div class="col-sm-2"></div>
			<!-- 運行管理者資格者証番号 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">運行管理者資格者証番号</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="123456" readonly>
			</div>
			<div class="col-sm-2"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 統括運行管理者 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">統括運行管理者</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="宇野 太郎" readonly>
			</div>
			<div class="col-sm-2"></div>
			<!-- 統括運行管理者資格者証番号 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">統括運行管理者資格者証番号</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="123456" readonly>
			</div>
			<div class="col-sm-2"></div>
		</div>

       	<div class="bg-light d-flex font-weight-bold row border border-top-0 justify-content-center align-items-center">
       		－損害の程度－
       	</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 死亡の数 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">死亡の数</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="0" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 死亡のうち乗客の数 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">死亡のうち乗客の数</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="0" readonly>
			</div>
			<div class="col-sm-3"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 重傷の数 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">重傷の数</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="2" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 重傷のうち乗客の数 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">重傷のうち乗客の数</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="1" readonly>
			</div>
			<div class="col-sm-3"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 軽傷の数 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">軽傷の数</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="5" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 軽傷のうち乗客の数 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">軽傷のうち乗客の数</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="4" readonly>
			</div>
			<div class="col-sm-3"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 事業者番号 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">事業者番号</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="123456" readonly>
			</div>
			<div class="col-sm-2"></div>
		</div>

    	<h4 id="pageLink8" class="mt-3">別表2 運転者の健康状態に起因する事故の調査事項</h4>
       	<div class="form-group row border mb-0">
			<!-- 氏名又は名称及び住所 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">氏名又は名称及び住所</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="東京都新宿区" readonly>
			</div>
			<!-- 営業所の名称及び住所 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">営業所の名称及び住所</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="東京都新宿区" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 事業の種類 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">事業の種類</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
			<!-- 営業所の運転者数 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">営業所の運転者数</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="8" readonly>
			</div>
			<div class="col-sm-3"></div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 営業所の車両数 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">営業所の車両数</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="10" readonly>
			</div>
			<div class="col-sm-3"></div>
       	</div>
    	
       	<div class="bg-light d-flex font-weight-bold row border border-top-0 justify-content-center align-items-center">
       		－事故等の概要－
       	</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 発生年月日 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">発生年月日</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="2020/06/25" readonly>
			</div>
			<div class="col-sm-2"></div>
			<!-- 発生場所 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">発生場所</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="吹田IC" readonly>
			</div>
			<div class="col-sm-3"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 道路名 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">道路名</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="阪神自動車道" readonly>
			</div>
			<!-- 幅員 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">幅員</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="15" readonly>
			</div>
			<div class="col-sm-3"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- こう配 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">こう配</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="3" readonly>
			</div>
			<div class="col-sm-2"></div>
			<!-- 形態 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">形態</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="15" readonly>
			</div>
			<div class="col-sm-2"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 自動車登録番号 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">自動車登録番号</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="123456" readonly>
			</div>
			<div class="col-sm-2"></div>
			<!-- 車名 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車名</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
			<div class="col-sm-2"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 型式 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">型式</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
			<div class="col-sm-2"></div>
			<!-- 初度登録年又は初度検査年 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">初度登録年又は<br>初度検査年</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="2012" readonly>
			</div>
			<div class="col-sm-2"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 車体の形状 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車体の形状</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
			<div class="col-sm-2"></div>
			<!-- 乗務員氏名 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">乗務員氏名</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="宇野 太郎" readonly>
			</div>
			<div class="col-sm-2"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 年齢 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">年齢</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="31" readonly>
			</div>
			<div class="col-sm-3"></div>
			<!-- 経験年数 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">経験年数</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="10" readonly>
			</div>
			<div class="col-sm-3"></div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 採用年月日 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">採用年月日</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="2020/01/31" readonly>
			</div>
			<!-- 選任年月日 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">選任年月日</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="2020/01/31" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 事故等の状況（当日の運行状況） -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">事故等の状況<br>（当日の運行状況）</div>
			<div class="col-sm-10">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 損害 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">損害</div>
			<div class="col-sm-10">
                <input type="text" class="form-control-plaintext m-1">
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 推定原因 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">推定原因</div>
			<div class="col-sm-10">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 事故処理の状況 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">事故処理の状況</div>
			<div class="col-sm-10">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 健康診断の受診状況 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">健康診断の受診状況</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 要注意事項精密検査（検査）の状況 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">要注意事項精密検査<br>（検査）の状況</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 加療の状況 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">加療の状況</div>
			<div class="col-sm-10">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 直近1か月の勤務状況 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">直近1か月の<br>勤務状況</div>
			<div class="col-sm-10">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 乗務調整等勤務上の配慮の状況 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">乗務調整等勤務上の<br>配慮の状況</div>
			<div class="col-sm-10">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 当日の点呼執行者及び関係者の所見等 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">当日の点呼執行者及び<br>関係者の所見等</div>
			<div class="col-sm-10">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 健康管理の指導状況 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">健康管理の指導状況</div>
			<div class="col-sm-10">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 健康上の要注意者の状況 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">健康上の要注意者の状況</div>
			<div class="col-sm-10">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 健康上の要注意者に対する管理状況 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">健康上の要注意者に<br>対する管理状況</div>
			<div class="col-sm-10">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 健康上要注意者の勤務における配慮の状況 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">健康上要注意者の<br>勤務における配慮の状況</div>
			<div class="col-sm-10">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 当該事業者における健康状況に起因する事故防止対策の現状と今後の改善 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">当該事業者における<br>健康状況に起因する<br>事故防止対策の現状と<br>今後の改善</div>
			<div class="col-sm-10 d-flex align-items-center">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 当該事業所における同種事故の発生状況(過去3年間) -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">当該事業所における<br>同種事故の発生状況<br>(過去3年間)</div>
			<div class="col-sm-10 d-flex align-items-center">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
		</div>

    	<h4 id="pageLink9" class="mt-3">別表３　車両故障事故現場報告書添付票</h4>
       	<div class="form-group row border mb-0">
			<!-- 自動車検査証の有効期間 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">自動車検査証の有効期間</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="2020/03/18" readonly>
			</div>
			<!-- 使用開始後の総走行距離 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">使用開始後の総走行距離</div>
			<div class="col-sm-2">
                <input type="text" class="form-control-plaintext m-1 px-1" value="80" readonly>
			</div>
			<div class="col-sm-2"></div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 大規模な改造の内容 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">大規模な改造の内容</div>
			<div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 施行期日 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">施行期日</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="2020/05/30" readonly>
			</div>
			<!-- 施行者 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">施行者</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="宇野 太郎" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 破損又は脱落部品名 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">破損又は脱落部品名</div>
			<div class="col-sm-4 d-flex align-items-center">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
			<!-- 同上部品の名称 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">同上部品の名称</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
                <input type="text" class="form-control-plaintext m-1 px-1" value="前" readonly>
            </div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 当該部品を取り付けてから事故発生までの走行キロ -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">当該部品を取り付けてから<br>事故発生までの走行キロ</div>
			<div class="col-sm-1">
                <input type="text" class="form-control-plaintext m-1 px-1" value="120000" readonly>
			</div>
			<div class="col-sm-3"></div>
        </div>

    	<h4 class="mt-3">当該部品を含む装置の整備及び改造の状況</h4>
       	<div class="form-group row border mb-0">
			<!-- 年月日 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">年月日</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="2018/04/17" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 内容 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">内容</div>
			<div class="col-sm-10">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 年月日 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">年月日</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="2018/04/17" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 内容 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">内容</div>
			<div class="col-sm-10">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
			<div class="col-sm-2"></div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 年月日 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">年月日</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="2018/04/17" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 内容 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">内容</div>
			<div class="col-sm-10">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
			<div class="col-sm-2"></div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 破損又は脱落の状態画像 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">破損又は脱落の状態画像</div>
            <div class="col-sm-4">
            	<a href="#" class="form-control-plaintext m-1">CCCC</a>
            </div>
		</div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 当該部品の製作者の氏名又は名称及び住所 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">当該部品の製作者の氏名<br>又は名称及び住所</div>
			<div class="col-sm-10">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 疲労又は急進破壊の別 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">疲労又は急進破壊の別</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- 材質、加工、設計等に対する意見 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">材質、加工、設計等<br>に対する意見</div>
			<div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
			</div>
        </div>

		<div class="text-right mt-2">
	        <button type="button" class="btn button-black">【国交省向け】事故報告書出力</button>
		</div>

	    <h4 class="mt-3">教育訓練
			<span class="float-right mb-2">
		    	<a class="btn button-black ml-2" th:href="@{/education/regist}">教育訓練登録</a>
		    	<a class="btn button-black ml-2" th:href="@{/education/detail}">教育訓練一覧</a>
	    	</span>
	    </h4>
	    <table class="table table-bordered table-sm">
	        <thead class="bg-light">
	        <tr>
	            <th scope="col" class="align-middle text-center">実施日</th>
	            <th scope="col" class="align-middle text-center">教育訓練名称</th>
	            <th scope="col" class="align-middle text-center">教育訓練概要</th>
	            <th scope="col" class="align-middle text-center">ID</th>
	        </tr>
	        </thead>
	        <tbody>
		        <tr>
		            <td class="text-center align-middle">2020/01/15</td>
		            <td class="text-center align-middle">雪山研修②</td>
		            <td class="text-center align-middle">雪山での発進・停止・急旋回座実地訓練</td>
		            <td class="text-center align-middle">
		            	<a href="#" th:href="@{/education/detail}">100</a>
		            </td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">2019/12/12</td>
		            <td class="text-center align-middle">雪山研修①</td>
		            <td class="text-center align-middle">雪山での発進・停止・急旋回座学</td>
		            <td class="text-center align-middle">
		            	<a href="#" th:href="@{/education/detail}">91</a>
		            </td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">2019/10/10</td>
		            <td class="text-center align-middle">マナー研修</td>
		            <td class="text-center align-middle">お客様との対話(マナー)</td>
		            <td class="text-center align-middle">
		            	<a href="#" th:href="@{/education/detail}">89</a>
		            </td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">2019/09/09</td>
		            <td class="text-center align-middle">安全運転研修</td>
		            <td class="text-center align-middle">安全運転への心得</td>
		            <td class="text-center align-middle">
		            	<a href="#" th:href="@{/education/detail}">75</a>
		            </td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle">2019/02/02</td>
		            <td class="text-center align-middle">雪山研修</td>
		            <td class="text-center align-middle">雪山での発進・停止・急旋回</td>
		            <td class="text-center align-middle">
		            	<a href="#" th:href="@{/education/detail}">40</a>
		            </td>
		        </tr>
	        </tbody>
	    </table>
	
	    <h4 class="mt-3">整備点検
			<span class="float-right mb-2">
				<a class="btn button-black" th:href="@{/maintenance/result}">整備点検一覧</a>
	    	</span>
	    </h4>
	    <table class="table table-bordered table-sm">
	        <thead class="bg-light">
	        <tr>
	            <th scope="col" class="align-middle text-center">整備点検区分</th>
	            <th scope="col" class="align-middle text-center">整備点検予定日</th>
	            <th scope="col" class="align-middle text-center">整備点検日</th>
	            <th scope="col" class="align-middle text-center">ID</th>
	        </tr>
	        </thead>
	        <tbody>
		        <tr>
		            <td class="text-center align-middle"></td>
		            <td class="text-center align-middle">2020/08/01</td>
		            <td class="text-center align-middle">2020/08/10</td>
		            <td class="text-center align-middle">
		            	<a href="#" th:href="@{/education/detail}">100</a>
		            </td>
		        </tr>
		        <tr>
		            <td class="text-center align-middle"></td>
		            <td class="text-center align-middle">2020/08/01</td>
		            <td class="text-center align-middle">2020/08/10</td>
		            <td class="text-center align-middle">
		            	<a href="#" th:href="@{/education/detail}">91</a>
		            </td>
		        </tr>
	        </tbody>
	    </table>

		<div class="text-right mt-2">
	        <button type="button" class="btn button-black">詳細</button>
		</div>

    	<h4 class="mt-3">コメント</h4>
       	<div class="form-group row border mb-0">
			<!-- コメント内容 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">コメント内容</div>
			<div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
			</div>
        </div>

		<div class="text-right mt-2">
	        <button type="button" class="btn button-black">コメント追加</button>
		</div>

       	<div class="form-group row border mt-3 mb-0">
			<!-- 投稿日 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">投稿日</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="2020/07/02" readonly>
			</div>
			<!-- 投稿者 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">投稿者</div>
			<div class="col-sm-4">
                <input type="text" class="form-control-plaintext m-1 px-1" value="宇野 太郎" readonly>
			</div>
        </div>
       	<div class="form-group row border border-top-0 mb-0">
			<!-- コメント内容 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">コメント内容</div>
			<div class="col-sm-10">
                <textarea class="form-control-plaintext m-1"></textarea>
			</div>
        </div>

		<div class="text-right mt-2">
	        <button type="button" class="btn button-black">削除</button>
	        <button type="button" class="btn button-black">すべて表示</button>
		</div>

        <div class="form-group row border-top mt-5 text-center footer-border">
            <a class="btn button-black mt-2 col-sm-1" href="#" th:href="@{/accident/edit}">編集</a>
	        <button type="button" class="btn button-black mt-2 ml-2 col-sm-1" data-toggle="modal" data-target="#deleteModal">削除</button>
	        <button type="button" class="btn button-black mt-2 ml-2 col-sm-1">教育訓練登録</button>
        </div>
		<div class="form-group row">
			<div class="btn button-black" onclick="history.back()">前に戻る</div>
		</div>
    </form>

</main>
<div th:replace="layouts/footer :: footer"></div>
<div th:replace="layouts/formModals :: formModals(@{/car/result},@{/car/search},@{/car/result})"></div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>
</html>