<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>

<main class="content">

	<h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">事故・ヒヤリハット・故障管理 ／
		<span class="h4" th:case="search" th:text="検索"></span>
		<span class="h4" th:case="result" th:text="検索結果"></span>
	</h4>

	<button class="btn button-black mb-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" th:if="${type} == 'result'">
		検索条件表示
	</button>
	
	<div class="collapse" id="collapseExample" th:classappend="${show} ? 'show' : ''">

		<form class="ml-3 mr-3">
			<!-- 登録区分 -->
			<div class="form-group row border mb-0">
				<div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
					<div class="font-weight-bold">登録区分</div>
				</div>
				<div class="col form-check m-2">
					<span class="text-nowrap">
						<input class="checkAll" type="checkbox" id="typeAll">
						<label class="form-check-label" for="typeAll">すべて</label>
					</span>
					<div class="row ml-0">
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type1">
							<label class="form-check-label" for="type1">事故</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type2">
							<label class="form-check-label" for="type2">ヒヤリハット</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type3">
							<label class="form-check-label" for="type3">故障</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type4">
							<label class="form-check-label" for="type4">車種変更</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type5">
							<label class="form-check-label" for="type5">不適合事項</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type6">
							<label class="form-check-label" for="type6">その他イレギュラー</label>
						</span>
					</div>
				</div>
			</div>

			<!-- 事故報告書対象 -->
			<div class="form-group row border border-top-0 mb-0">
				<div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
					<div class="font-weight-bold">事故報告書対象</div>
				</div>
				<div class="col form-check m-2 flex-wrap">
					<span class="text-nowrap">
						<input class="checkAll" type="checkbox" id="typeAll">
						<label class="form-check-label" for="typeAll">対象</label>
					</span>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 発生日時 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">発生日時</div>
				<div class="col-sm-2">
					<input type="datetime-local" class="form-control m-1">
				</div>
				<div class="col-sm-1 d-flex align-items-center justify-content-center">から</div>
				<div class="col-sm-2">
					<input type="datetime-local" class="form-control m-1">
				</div>
			</div>
		
			<div class="form-group row border border-top-0 mb-0">
				<!-- 営業所 -->
				<div class="col-sm-2 bg-light border-right d-flex align-items-center">
					<div class="font-weight-bold">営業所</div>
					<div class="form-check form-check-inline">
					</div>
				</div>
				<div class="col form-check m-2 flex-wrap">
					<span class="text-nowrap">
						<input class="checkAll" type="checkbox" id="officeAll">
						<label class="form-check-label" for="officeAll">すべて</label>
					</span>
					<div class="row ml-0">
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office1">
							<label class="form-check-label" for="office1">仙台営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
		 					<input class="officeAll" type="checkbox" id="office2">
							<label class="form-check-label" for="office2">千葉営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
		 					<input class="officeAll" type="checkbox" id="office3">
							<label class="form-check-label" for="office3">本社営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
		 					<input class="officeAll" type="checkbox" id="office4">
							<label class="form-check-label" for="office4">池袋営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
		 					<input class="officeAll" type="checkbox" id="office5">
							<label class="form-check-label" for="office5">新潟営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
		 					<input class="officeAll" type="checkbox" id="office6">
							<label class="form-check-label" for="office6">長野営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
		 					<input class="officeAll" type="checkbox" id="office7">
							<label class="form-check-label" for="office7">新清水中継所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office8">
							<label class="form-check-label" for="office8">名古屋営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office9">
							<label class="form-check-label" for="office9">大阪営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office10">
							<label class="form-check-label" for="office10">広島営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office11">
							<label class="form-check-label" for="office11">大阪さやま交通</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office12">
							<label class="form-check-label" for="office12">日本高速</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office13">
							<label class="form-check-label" for="office13">ニュープリンス高速</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office14">
							<label class="form-check-label" for="office14">ベイライン</label>
						</span>
					</div>
 				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 便名 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">便名</div>
				<div class="col-sm-4">
					<input type="text" class="form-control m-1" maxlength="20" placeholder="全角20文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 運行状況 -->
				<div class="col-sm-2 bg-light border-right d-flex align-items-center">
					<div class="font-weight-bold">運行状況</div>
					<div class="form-check form-check-inline">
					</div>
				</div>
				<div class="col form-check form-check-inline m-2 flex-wrap">
					<span class="text-nowrap">
						<input class="form-check-input ml-3" type="checkbox" id="office1">
						<label class="form-check-label" for="office1">実車</label>
					</span>
					<span class="text-nowrap">
						<input class="form-check-input ml-3" type="checkbox" id="office1">
						<label class="form-check-label" for="office1">回送</label>
					</span>
					<span class="text-nowrap">
						<input class="form-check-input ml-3" type="checkbox" id="office1">
						<label class="form-check-label" for="office1">研修中</label>
					</span>
					<span class="text-nowrap">
	 					<input class="form-check-input ml-3" type="checkbox" id="office2">
						<label class="form-check-label" for="office2">その他</label>
					</span>
 				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 車両登録番号 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両登録番号</div>
				<div class="col-sm-4">
					<input type="text" class="form-control m-1" maxlength="20" placeholder="全角20文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 車台番号 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車台番号</div>
				<div class="col-sm-4">
					<input type="text" class="form-control m-1" maxlength="12" placeholder="全角12文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 乗務員氏名 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">乗務員氏名</div>
				<div class="col-sm-4">
					<input type="text" class="form-control m-1" maxlength="20" placeholder="全角20文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 乗務員氏名（カナ） -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">乗務員氏名（カナ）</div>
				<div class="col-sm-4">
					<input type="text" class="form-control m-1" maxlength="40" placeholder="全角40文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>

			<div class="form-group row border border-top-0 border-right-0 mb-0">
				<div class="col-sm-1 border-right bg-light d-flex align-items-center justify-content-between">
					<div class="font-weight-bold">確認状況</div>
				</div>
				<div class="col-sm-1 px-0 bg-light font-weight-bold align-items-center justify-content-between">
					<div class="p-2 border-bottom">路線管理チーム</div>
					<div class="p-2 border-bottom">統括管理チーム</div>
					<div class="p-2">CSチーム</div>
				</div>
				<div class="col-sm-10">
					<!-- 路線管理チーム -->
					<div class="form-group row border border-top-0 mb-0">
						<div class="form-check form-check-inline m-2 flex-wrap">
							<span class="text-nowrap">
								<input class="form-check-input ml-3" type="checkbox" id="check_task1">
								<label class="form-check-label" for="check_task1">未着手</label>
							</span>
							<span class="text-nowrap">
								<input class="form-check-input ml-3" type="checkbox" id="check_task2">
								<label class="form-check-label" for="check_task2">着手</label>
							</span>
							<span class="text-nowrap">
								<input class="form-check-input ml-3" type="checkbox" id="check_task3">
								<label class="form-check-label" for="check_task3">完了</label>
							</span>
						</div>
					</div>
		
					<!-- 統括管理チーム -->
					<div class="form-group row border border-top-0 mb-0">
						<div class="form-check form-check-inline m-2 flex-wrap">
							<span class="text-nowrap">
								<input class="form-check-input ml-3" type="checkbox" id="check_general1">
								<label class="form-check-label" for="check_general1">未着手</label>
							</span>
							<span class="text-nowrap">
								<input class="form-check-input ml-3" type="checkbox" id="check_general2">
								<label class="form-check-label" for="check_general2">着手</label>
							</span>
							<span class="text-nowrap">
								<input class="form-check-input ml-3" type="checkbox" id="check_general3">
								<label class="form-check-label" for="check_general3">完了</label>
							</span>
						</div>
					</div>
		
					<!-- CSチーム -->
					<div class="form-group row border border-top-0 border-bottom-0 mb-0">
						<div class="form-check form-check-inline m-2 flex-wrap">
							<span class="text-nowrap">
								<input class="form-check-input ml-3" type="checkbox" id="check_cs1">
								<label class="form-check-label" for="check_cs1">未着手</label>
							</span>
							<span class="text-nowrap">
								<input class="form-check-input ml-3" type="checkbox" id="check_cs2">
								<label class="form-check-label" for="check_cs2">着手</label>
							</span>
							<span class="text-nowrap">
								<input class="form-check-input ml-3" type="checkbox" id="check_cs3">
								<label class="form-check-label" for="check_cs3">完了</label>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group row border-top mt-2 footer-border">
				<a type="button" class="btn button-black mt-2 col-sm-1" href="#" th:href="@{/accident/result}">検索</a>
				<a class="btn button-black mt-2 ml-2 col-sm-1" href="#" th:href="@{/accident/regist}" role="button">新規登録</a>
			</div>
		</form>

	</div>

	<div>
		<!-- ページング -->
		<nav class="mb-3" aria-label="..." th:if="${type} == 'result'">
			<ul class="pagination">
				<li class="page-item disabled">
					<span class="page-link">前へ</span>
				</li>
				<li class="page-item active">
					<span class="page-link">1</span>
				</li>
				<li class="page-item" aria-current="page">
					<a class="page-link">2</a>
				</li>
				<li class="page-item">
					<a class="page-link">3</a>
				</li>
				<li class="page-item">
					<a class="page-link">次へ</a>
				</li>
			</ul>
		</nav>

		<table id="dt" class="table table-bordered table-sm bt-2" th:if="${type} == 'result'">
			<thead class="bg-light">
				<tr>
					<th scope="col" class="align-middle text-center">登録区分</th>
					<th scope="col" class="align-middle text-center">事故報告書対象</th>
					<th scope="col" class="align-middle text-center">発生日時</th>
					<th scope="col" class="align-middle text-center">路線バス会社</th>
					<th scope="col" class="align-middle text-center">運行状況</th>
					<th scope="col" class="align-middle text-center">便名</th>
					<th scope="col" class="align-middle text-center">車両登録番号</th>
					<th scope="col" class="align-middle text-center">運行管理者</th>
					<th scope="col" class="align-middle text-center">乗務員</th>
					<th scope="col" class="align-middle text-center">確認状況<br>（業務）</th>
					<th scope="col" class="align-middle text-center">確認状況<br>（統括）</th>
					<th scope="col" class="align-middle text-center">確認状況<br>（CS）</th>
					<th scope="col" class="width-005"></th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td class="align-middle text-truncate">事故</td>
					<td class="align-middle text-truncate">ああああ</td>
					<td class="align-middle text-truncate">2020/01/01 00:00:00</td>
					<td class="align-middle text-truncate">池袋営業所</td>
					<td class="align-middle text-truncate">実車</td>
					<td class="align-middle text-truncate">便名A</td>
					<td class="align-middle text-truncate">AAAAAAAAAAAA</td>
					<td class="align-middle text-truncate">宇野 太郎</td>
					<td class="align-middle text-truncate">宇野 太郎</td>
					<td class="align-middle text-truncate">完了</td>
					<td class="align-middle text-truncate">完了</td>
					<td class="align-middle text-truncate">着手</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/accident/edit}">編集</a>
						<a class="btn button-black btn-sm" th:href="@{/accident/detail}">詳細</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle text-truncate">不適合事項</td>
					<td class="align-middle text-truncate">ああああ</td>
					<td class="align-middle text-truncate">2020/01/01 00:00:00</td>
					<td class="align-middle text-truncate">新潟営業所</td>
					<td class="align-middle text-truncate">回送</td>
					<td class="align-middle text-truncate">便名B</td>
					<td class="align-middle text-truncate">AAAAAAAAAAAA</td>
					<td class="align-middle text-truncate">宇野 太郎</td>
					<td class="align-middle text-truncate">宇野 太郎</td>
					<td class="align-middle text-truncate">完了</td>
					<td class="align-middle text-truncate">完了</td>
					<td class="align-middle text-truncate">着手</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/accident/edit}">編集</a>
						<a class="btn button-black btn-sm" th:href="@{/accident/detail}">詳細</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle text-truncate">不適合事項</td>
					<td class="align-middle text-truncate">ああああ</td>
					<td class="align-middle text-truncate">2020/01/03 00:00:00</td>
					<td class="align-middle text-truncate">日本高速</td>
					<td class="align-middle text-truncate">回送</td>
					<td class="align-middle text-truncate">便名C</td>
					<td class="align-middle text-truncate">AAAAAAAAAAAA</td>
					<td class="align-middle text-truncate">宇野 太郎</td>
					<td class="align-middle text-truncate">宇野 太郎</td>
					<td class="align-middle text-truncate">完了</td>
					<td class="align-middle text-truncate">完了</td>
					<td class="align-middle text-truncate">着手</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/accident/edit}">編集</a>
						<a class="btn button-black btn-sm" th:href="@{/accident/detail}">詳細</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle text-truncate">ヒヤリハット</td>
					<td class="align-middle text-truncate">ああああ</td>
					<td class="align-middle text-truncate">2020/05/03 00:00:00</td>
					<td class="align-middle text-truncate">大阪さやま交通</td>
					<td class="align-middle text-truncate">実車</td>
					<td class="align-middle text-truncate">便名D</td>
					<td class="align-middle text-truncate">AAAAAAAAAAAA</td>
					<td class="align-middle text-truncate">宇野 太郎</td>
					<td class="align-middle text-truncate">宇野 太郎</td>
					<td class="align-middle text-truncate">完了</td>
					<td class="align-middle text-truncate">完了</td>
					<td class="align-middle text-truncate">着手</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/accident/edit}">編集</a>
						<a class="btn button-black btn-sm" th:href="@{/accident/detail}">詳細</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle text-truncate">故障</td>
					<td class="align-middle text-truncate">ああああ</td>
					<td class="align-middle text-truncate">2020/06/03 00:00:00</td>
					<td class="align-middle text-truncate">大阪営業所</td>
					<td class="align-middle text-truncate">実車</td>
					<td class="align-middle text-truncate">便名E</td>
					<td class="align-middle text-truncate">AAAAAAAAAAAA</td>
					<td class="align-middle text-truncate">宇野 太郎</td>
					<td class="align-middle text-truncate">宇野 太郎</td>
					<td class="align-middle text-truncate">完了</td>
					<td class="align-middle text-truncate">完了</td>
					<td class="align-middle text-truncate">着手</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/accident/edit}">編集</a>
						<a class="btn button-black btn-sm" th:href="@{/accident/detail}">詳細</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle text-truncate">事故</td>
					<td class="align-middle text-truncate">ああああ</td>
					<td class="align-middle text-truncate">2020/06/05 00:00:00</td>
					<td class="align-middle text-truncate">新潟営業所</td>
					<td class="align-middle text-truncate">回送</td>
					<td class="align-middle text-truncate">便名F</td>
					<td class="align-middle text-truncate">AAAAAAAAAAAA</td>
					<td class="align-middle text-truncate">宇野 太郎</td>
					<td class="align-middle text-truncate">宇野 太郎</td>
					<td class="align-middle text-truncate">完了</td>
					<td class="align-middle text-truncate">完了</td>
					<td class="align-middle text-truncate">着手</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/accident/edit}">編集</a>
						<a class="btn button-black btn-sm" th:href="@{/accident/detail}">詳細</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- ページング -->
	<nav class="mb-5" aria-label="..." th:if="${type} == 'result'">
		<ul class="pagination">
			<li class="page-item disabled">
				<span class="page-link">前へ</span>
			</li>
			<!-- active = 今表示しているページ -->
			<li class="page-item active">
				<span class="page-link">1</span>
			</li>
			<li class="page-item" aria-current="page">
				<a class="page-link">2</a>
			</li>
			<li class="page-item">
				<a class="page-link">3</a>
			</li>
			<li class="page-item">
				<a class="page-link">次へ</a>
			</li>
		</ul>
	</nav>
</main>

<!-- Footer -->
<div th:replace="layouts/footer :: footer"></div>
	
</body>
<!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/datatable.js}"></script>
</html>