<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>
<!-- 個別呼び出しCSS -->
<link rel="stylesheet" th:href="@{/css/style.css}" />

<main class="content">
    <h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">マスタ管理／整備点検科目管理 ／
        <span class="h4" th:case="edit" th:text="編集"></span>
        <span class="h4" th:case="regist" th:text="登録"></span>
    </h4>

    <form class="ml-3 mr-3">
        <div class="form-group row border mb-0 text-center">
            <!-- 大カテゴリ -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">大カテゴリ</div>
            <div class="col-sm-4">
                <select class="form-control m-1" required>
                	<option>選択してください</option>
                    <option>整備基準</option>
                    <option>点検</option>
                </select>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 科目名称 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">科目名称</div>
            <div class="col">
                <input type="text" class="form-control m-1" maxlength="50" placeholder="全角50文字以内" required>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 科目名称（カナ） -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">科目名称（カナ）</div>
            <div class="col">
                <input type="text" class="form-control m-1" maxlength="100" placeholder="全角カナ100文字以内">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 整備基準適用車両メーカー -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備基準適用車両メーカー</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                	<option>選択してください</option>
                    <option>メーカーA</option>
                    <option>メーカーB</option>
                </select>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 表示順 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">表示順</div>
            <div class="col-sm-4">
                <input type="number" class="form-control m-1 numberMaxLength5" placeholder="半角数字5文字以内">
            </div>
        </div>

        <div class="form-group row border-top mt-2 text-center footer-border">
            <div type="button" class="btn button-black mt-2" data-toggle="modal" data-target="#createModal">登録</div>
            <!--            <div th:if="${type} == 'edit'" type="button" class="btn button-black mt-2" data-toggle="modal" data-target="#updateModal">編集</div>-->
            <div th:if="${type} == 'edit'" type="button" class="btn button-black mt-2 ml-2" data-toggle="modal" data-target="#deleteModal">削除</div>
<!--            <div th:if="${type} == 'regist'" type="button" class="btn button-black mt-2" data-toggle="modal" data-target="#createModal">登録</div>-->
        </div>
		<div class="form-group row">
			<div class="btn button-black" onclick="history.back()">前に戻る</div>
		</div>
    </form>

</main>

<div th:replace="layouts/footer :: footer"></div>
<div th:replace="layouts/formModals :: formModals(@{/system/maint/result},@{/system/maint/search},@{/system/maint/result})"></div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script th:src="@{/js/common.js}"></script>
</body>
</html>