<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>
<!-- 個別呼び出しCSS -->
<link rel="stylesheet" th:href="@{/css/style.css}" />

<main class="content">
	<h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">教育訓練管理 ／ 詳細</h4>
	<div class="alert alert-danger" role="alert"><img th:src="@{/images/caution.png}" alt="会社のロゴ" height="50"> - 未完了の教育訓練対象者がいます。</div>
	
	<form class="ml-3 mr-3">
		<div class="form-group row border mb-0 text-center">
			<!-- 教育訓練ID -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">教育訓練ID</div>
			<div class="col-sm-4 text-left"><label>000000</label></div>
		</div>

		<div class="form-group row border border-top-0 mb-0 text-center">
			<!-- 教育訓練名称 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">教育訓練名称</div>
			<div class="col-sm-10">
				<input type="text" class="form-control-plaintext" value="〇〇" readonly>
			</div>
		</div>

		<div class="form-group row border border-top-0 mb-0 text-center">
			<!-- 教育訓練種別 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">教育訓練種別</div>
			<div class="col-sm-2">
				<input type="text" class="form-control-plaintext" value="ヒヤリハット" readonly>
			</div>
		</div>

		<div class="form-group row border border-top-0 mb-0 text-center">
			<!-- 教育訓練概要 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">教育訓練概要</div>
			<div class="col-sm-6">
				<input type="text" class="form-control-plaintext" value="教育訓練予定の講習内容について、概要を説明します。" readonly>
			</div>
		</div>

		<div class="form-group row border border-top-0 mb-0 text-center">
			<!-- 実施予定日 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">実施予定日</div>
			<div class="col-sm-4">
				<input type="text" class="form-control-plaintext" value="2020/01/01" readonly>
			</div>
			<!-- 実施期限日 -->
			<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">実施期限日</div>
			<div class="col-sm-4">
				<input type="text" class="form-control-plaintext" value="2020/01/01" readonly>
			</div>
		</div>

		<div class="form-group row border border-top-0 mb-0 text-center">
			<!-- アラート対象 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">アラート対象</div>
			<div class="col-sm-2">
				<input type="text" class="form-control-plaintext" value="対象" readonly>
			</div>
		</div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 事故ヒヤリハット故障ID -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">事故ヒヤリハット故障ID</div>
            <div class="col-sm-4 text-left">
            	<a href="#" class="">1234</a>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 発生日時 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">発生日時</div>
            <div class="col-sm-4 text-left">
                <input type="text" class="form-control-plaintext m-1" value="2020/05/01" readonly>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 概要 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">概要</div>
            <div class="col-sm-10">
                <textarea class="form-control-plaintext m-1" readonly></textarea>
            </div>
        </div>
	</form>

	<form class="mt-3 mb-3">
		<!-- 教育訓練対象者 -->
		<h4 th:switch="${type}" class="mb-3">教育訓練対象者</h4>
		<table class="table table-bordered table-sm">
			<thead class="bg-light">
			<tr>
				<th scope="col" class="align-middle text-center">営業所</th>
				<th scope="col" class="align-middle text-center">職種</th>
				<th scope="col" class="align-middle text-center">社員コード</th>
				<th scope="col" class="align-middle text-center">氏名</th>
				<th scope="col" class="align-middle text-center">実施予定日</th>
				<th scope="col" class="align-middle text-center">実施日</th>
				<th scope="col" class="align-middle text-center">実施状況</th>
				<th scope="col" class="align-middle text-center" width="700">教育訓練結果</th>
				<th scope="col" class="align-middle text-center">個別ファイル</th>
			</tr>
			</thead>

			<tbody>
			<tr>
				<td class="text-left align-middle">大阪</td>
				<td class="text-left align-middle">乗務員</td>
				<td class="text-left align-middle">12345678</td>
				<td class="text-left align-middle">田中 太郎</td>
				<td class="text-left align-middle">2020/01/01</td>
				<td class="text-left align-middle">2020/01/01</td>
				<td class="text-center align-middle">不要</td>
				<td class="text-left align-middle">一二三四五六七八九十</td>
				<td class="text-center">
					<div class="btn button-gray btn-sm">ダウンロード</div>
				</td>
			</tr>
			<tr>
				<td class="text-left align-middle">大阪</td>
				<td class="text-left align-middle">乗務員</td>
				<td class="text-left align-middle">12345678</td>
				<td class="text-left align-middle">田中 太郎</td>
				<td class="text-left align-middle">2020/01/01</td>
				<td class="text-left align-middle">2020/01/01</td>
				<td class="text-center align-middle text-danger">未実施</td>
				<td class="text-left align-middle">一二三四五六七八九十</td>
				<td class="text-center">
					<div class="btn button-gray btn-sm">ダウンロード</div>
				</td>
			</tr>
			<tr>
				<td class="text-left align-middle">大阪</td>
				<td class="text-left align-middle">乗務員</td>
				<td class="text-left align-middle">12345678</td>
				<td class="text-left align-middle">田中 太郎</td>
				<td class="text-left align-middle">2020/01/01</td>
				<td class="text-left align-middle">2020/01/01</td>
				<td class="text-center align-middle text-success">実施済</td>
				<td class="text-left align-middle">一二三四五六七八九十</td>
				<td class="text-center">
					<div class="btn button-gray btn-sm">ダウンロード</div>
				</td>
			</tr>
			<tr>
				<td class="text-left align-middle">大阪</td>
				<td class="text-left align-middle">乗務員</td>
				<td class="text-left align-middle">12345678</td>
				<td class="text-left align-middle">田中 太郎</td>
				<td class="text-left align-middle">2020/01/01</td>
				<td class="text-left align-middle">2020/01/01</td>
				<td class="text-center align-middle text-danger">未実施</td>
				<td class="text-left align-middle">一二三四五六七八九十</td>
				<td class="text-center">
					<div class="btn button-gray btn-sm">ダウンロード</div>
				</td>
			</tr>
			<tr>
				<td class="text-left align-middle">大阪</td>
				<td class="text-left align-middle">乗務員</td>
				<td class="text-left align-middle">12345678</td>
				<td class="text-left align-middle">田中 太郎</td>
				<td class="text-left align-middle">2020/01/01</td>
				<td class="text-left align-middle">2020/01/01</td>
				<td class="text-center align-middle text-success">実施済</td>
				<td class="text-left align-middle">一二三四五六七八九十</td>
				<td class="text-center">
					<div class="btn button-gray btn-sm">ダウンロード</div>
				</td>
			</tr>
			</tbody>
		</table>
	</form>

	<!-- 教育訓練実施結果ファイル -->
	<h4>教育訓練実施結果ファイル</h4>
	<form class="ml-3">
		<div class="btn button-gray mt-2" data-dismiss="modal">ダウンロード</div>

		<div class="form-group row border-top mt-3 text-center footer-border">
			<a class="btn button-black mt-2 col-sm-1" href="#" th:href="@{/education/edit}">編集</a>
			<button type="button" class="btn button-black mt-2 ml-2 col-sm-1" data-toggle="modal" data-target="#deleteModal">削除</button>
		</div>
		<div class="form-group row">
			<div class="btn button-black" onclick="history.back()">前に戻る</div>
		</div>
	</form>

</main>
<div th:replace="layouts/footer :: footer"></div>
<div th:replace="layouts/formModals :: formModals(@{/education/result},@{/education/search},@{/education/result})"></div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>
</html>