<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<!-- 個別呼び出しCSS -->
<link rel="stylesheet" th:href="@{/css/style.css}" />
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>


<main class="content">
	<h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">教育訓練管理 ／
		<span class="h4" th:case="edit" th:text="編集"></span>
		<span class="h4" th:case="regist" th:text="登録"></span>
	</h4>
	
	<h5 class="mt-2 text-danger font-weight-bold">ERROR：</h5>
	<ul class="text-danger">
		<li>教育訓練名称を入力してください。</li>
	</ul>

	<form class="ml-3 mr-3">
		<div class="form-group row border mb-0">
			<!-- 教育訓練ID -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">教育訓練ID</div>
			<div class="col-sm-4 d-flex align-items-center mt-2 mb-2">
				000000
			</div>
			
		</div>
		
		<div class="form-group row border border-top-0 mb-0">
			<!-- 教育訓練名称 -->
			<div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
				<div class="font-weight-bold">教育訓練名称</div>
				<div class="req">必須</div>
			</div>
			<div class="col">
				<input type="text" class="form-control m-1 required" maxlength="50" placeholder="全角50文字以内">
			</div>
			
		</div>

		<div class="form-group row border border-top-0 mb-0">
			<!-- 営業所 -->
			<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">教育訓練種別</div>
			<div class="col-sm-4">
				<select class="form-control m-1">
					<option>選択してください</option>
					<option>事故</option>
					<option>故障</option>
					<option>ヒヤリハット</option>
					<option>不適合事項</option>
					<option>初任運転者研修</option>
					<option>事故惹起運転者研修</option>
					<option>高齢運転者研修</option>
					<option>事故時の運行管理者講習</option>
					<option>運行管理者資格更新講習</option>
					<option>整備管理者選任研修</option>
					<option>その他</option>
				</select>
			</div>
		</div>

		<div class="form-group row border border-top-0 mb-0">
			<!-- 教育訓練概要 -->
			<div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
				<div class="font-weight-bold">教育訓練概要</div>
				<div class="req">必須</div>
			</div>
			<div class="col-sm-10">
				<textarea class="form-control m-1" rows="2" maxlength="100" placeholder="全角100文字以内"></textarea>
			</div>
		</div>

		<div class="form-group row border border-top-0 mb-0">
			<!-- 実施予定日 -->
			<div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
				<div class="font-weight-bold">実施予定日</div>
				<div class="req">必須</div>
			</div>
			<div class="col-sm-4">
				<input type="date" class="form-control m-1" required>
			</div>
			<!-- 実施期限日 -->
			<div class="col-sm-2 bg-light border-left border-right d-flex align-items-center justify-content-between">
				<div class="font-weight-bold">実施期限日</div>
				<div class="req">必須</div>
			</div>
			<div class="col-sm-4">
				<input type="date" class="form-control m-1" required>
			</div>
		</div>

		<div class="form-group row border border-top-0 mb-0">
			<!-- アラート対象 -->
			<div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
				<div class="font-weight-bold">アラート対象</div>
				<div class="req">必須</div>
			</div>
			<div class="col form-check form-check-inline m-2">
				<input class="form-check-input ml-4" type="radio" name="alert" id="alert1" checked>
				<label class="form-check-label" for="alert1">対象</label>
				<input class="form-check-input ml-3" type="radio" name="alert" id="alert2">
				<label class="form-check-label" for="alert2">対象外</label>
				<small class="form-text text-muted ml-1">※対象にする事で、実施期限日になると、アラートを表示します。</small>
			</div>
		</div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 事故ヒヤリハット故障ID -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">事故ヒヤリハット故障ID</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1">
                <small class="form-text text-muted ml-1"></small>
            </div>
            <div class="d-flex align-items-center">
                <div class="btn button-black m-1">事故ヒヤリハット故障検索</div>
            </div>
        </div>

		<div class="form-group row border-top mt-2 text-center footer-border">
			<button type="button" class="btn button-black mt-2" data-toggle="modal" data-target="#addTargetModal">教育訓練対象者 追加</button>
		</div>
	</form>

	<!-- 教育訓練対象者 -->
	<form class="mt-5">
		<h4 class="mb-3 mt-3">
			教育訓練対象者一覧 絞り込み
	        <button
	        	type="button"
	        	class="btn button-black"
	        	data-toggle="collapse"
	        	data-target="#traineeListSearch"
	        	aria-expanded="false"
	        	aria-controls="traineeListSearch"
	        >絞り込み条件表示
	        </button>
		</h4>
	</form>

	<div id="traineeListSearch" class="collapse">
		<form class="ml-3 mr-3">
			<div class="form-group row border mb-0">
				<!-- 営業所 -->
				<div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
					<div class="font-weight-bold">営業所</div>
				</div>
				<div class="col form-check form-check-inline flex-wrap m-2">
					<span class="text-nowrap">
						<input class="form-check-input ml-3 checkAll" type="checkbox" id="officeAll">
						<label class="form-check-label" for="officeAll">すべて</label>
					</span>
					<div class="row ml-0">
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office1">
							<label class="form-check-label" for="office1">仙台営業所</label>
						</span>
						<span class="text-nowrap">
			 				<input class="form-check-input ml-3 officeAll" type="checkbox" id="office2">
							<label class="form-check-label" for="office2">千葉営業所</label>
						</span>
						<span class="text-nowrap">
			 				<input class="form-check-input ml-3 officeAll" type="checkbox" id="office3">
							<label class="form-check-label" for="office3">本社営業所</label>
						</span>
						<span class="text-nowrap">
			 				<input class="form-check-input ml-3 officeAll" type="checkbox" id="office4">
							<label class="form-check-label" for="office4">池袋営業所</label>
						</span>
						<span class="text-nowrap">
			 				<input class="form-check-input ml-3 officeAll" type="checkbox" id="office5">
							<label class="form-check-label" for="office5">新潟営業所</label>
						</span>
						<span class="text-nowrap">
			 				<input class="form-check-input ml-3 officeAll" type="checkbox" id="office6">
							<label class="form-check-label" for="office6">長野営業所</label>
						</span>
						<span class="text-nowrap">
			 				<input class="form-check-input ml-3 officeAll" type="checkbox" id="office7">
							<label class="form-check-label" for="office7">新清水中継所</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office8">
							<label class="form-check-label" for="office8">名古屋営業所</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office9">
							<label class="form-check-label" for="office9">大阪営業所</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office10">
							<label class="form-check-label" for="office10">広島営業所</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office11">
							<label class="form-check-label" for="office11">大阪さやま交通</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office12">
							<label class="form-check-label" for="office12">日本高速</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office13">
							<label class="form-check-label" for="office13">ニュープリンス高速</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office14">
							<label class="form-check-label" for="office14">ベイライン</label>
						</span>
					</div>
	 			</div>
			</div>
	
			<div class="form-group row border border-top-0 mb-0">
				<!-- 職種 -->
				<div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
					<div class="font-weight-bold">職種</div>
				</div>
				<div class="col form-check form-check-inline m-2">
					<span class="text-nowrap">
						<input class="form-check-input ml-3 jobAll" type="checkbox" id="job1">
						<label class="form-check-label" for="job1">乗務員</label>
					</span>
					<span class="text-nowrap">
						<input class="form-check-input ml-3 jobAll" type="checkbox" id="job2">
						<label class="form-check-label" for="job2">整備士</label>
					</span>
					<span class="text-nowrap">
						<input class="form-check-input ml-3 jobAll" type="checkbox" id="job3">
						<label class="form-check-label" for="job3">運行管理者</label>
					</span>
				</div>
			</div>
	
			<div class="form-group row border border-top-0 mb-0">
				<!-- 氏名 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">氏名</div>
				<div class="col-sm-4">
					<input type="text" class="form-control m-1" maxlength="20" placeholder="全角20文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>
			
			<div class="form-group row border border-top-0 mb-0">
				<!-- 氏名 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">氏名(カナ)</div>
				<div class="col-sm-7">
					<input type="text" class="form-control m-1" maxlength="40" placeholder="全角40文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>
	
			<div class="form-group row border border-top-0 mb-0">
				<!-- 実施状況 -->
				<div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
					<div class="font-weight-bold">実施状況</div>
				</div>
				<div class="col form-check form-check-inline m-2">
					<span class="text-nowrap">
						<input class="form-check-input ml-3 situationAll" type="checkbox" id="attendStatus1">
						<label class="form-check-label" for="attendStatus1">未</label>
					</span>
					<span class="text-nowrap">
						<input class="form-check-input ml-3 situationAll" type="checkbox" id="attendStatus2">
						<label class="form-check-label" for="attendStatus2">済</label>
					</span>
					<span class="text-nowrap">
						<input class="form-check-input ml-3 situationAll" type="checkbox" id="attendStatus3">
						<label class="form-check-label" for="attendStatus3">不要</label>
					</span>
				</div>
			</div>
	
			<div class="form-group row border-top mt-2 text-center footer-border">
				<div type="button" class="btn button-black mt-2">絞り込み</div>
			</div>
		</form>
	</div>

	<form class="mt-5 mb-5">
		<!-- 教育訓練対象者 -->
		<div class="mb-3 float-left">
			<h4>教育訓練対象者</h4>
		</div>
		<div class="mb-3 float-right">
			<div class="text-right">教育訓練実施結果ファイル 一括アップロード</div>
			<div class="input-group">
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="inputFile">
					<label class="custom-file-label" for="inputFile" data-browse="参照">ファイルを選択</label>
				</div>
				<div class="input-group-append">
					<button type="button" class="btn input-group-text">削除</button>
				</div>
			</div>
		</div>

		<table id="dt" class="table table-bordered table-sm bt-2">
			<thead class="bg-light">
			<tr>
				<th scope="col" class="align-middle text-center">営業所</th>
				<th scope="col" class="align-middle text-center">職種</th>
				<th scope="col" class="align-middle text-center">社員コード</th>
				<th scope="col" class="align-middle text-center">氏名</th>
				<th scope="col" class="align-middle text-center">実施予定日</th>
				<th scope="col" class="align-middle text-center">実施日
					<div class="align-middle form-check form-check-inline">
						<input class="form-check-input ml-3" type="checkbox" id="day">
						<label class="form-check-label" for="day">一括</label>
					</div>
				</th>
				<th scope="col" class="align-middle text-center">実施状況
					<div class="align-middle form-check form-check-inline">
						<input class="form-check-input ml-3" type="checkbox" id="state">
						<label class="form-check-label" for="state">一括</label>
					</div>
				</th>
				<th scope="col" class="align-middle text-center w-20">教育訓練結果
					<div class="align-middle form-check form-check-inline">
						<input class="form-check-input ml-3" type="checkbox" id="result">
						<label class="form-check-label" for="result">一括</label>
					</div>
				</th>
				<th scope="col" class="align-middle text-center">個別ファイル</th>
				<th scope="col" class="align-middle text-center"></th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="text-center align-middle">大阪</td>
				<td class="text-center align-middle">運行管理補助者</td>
				<td class="text-center align-middle">123456789</td>
				<td class="text-center align-middle">山田一郎</td>
				<td class="text-center align-middle">
					<input type="date" class="form-control" value="2020-01-01">
				</td>
				<td class="text-center align-middle">
					<input type="date" class="form-control" value="2020-01-01" id="day-1">
				</td>
				<td class="text-center align-middle">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="inlineRadio1" value="1" checked name="radio1">
						<label class="form-check-label" for="inlineRadio1">未</label>
						<input class="form-check-input ml-3" type="radio" id="inlineRadio2" value="2" name="radio1">
						<label class="form-check-label" for="inlineRadio2">済</label>
						<input class="form-check-input ml-3" type="radio" id="inlineRadio3" value="3" name="radio1">
						<label class="form-check-label" for="inlineRadio3">不要</label>
					</div>
				</td>

				<td class="text-center align-middle">
					<textarea class="form-control" rows="2" id="result-1"></textarea>
				</td>
				<td class="align-middle">
					<div class="input-group">
						<div class="custom-file">
							<input type="file" class="custom-file-input">
							<label class="custom-file-label" for="" data-browse="参照">ファイルを選択</label>
						</div>
						<div class="input-group-append">
							<button type="button" class="btn input-group-text">削除</button>
						</div>
					</div>
				</td>
				<td class="text-center align-middle">
					<button type="button" class="btn button-black mt-2">削除</button>
				</td>
			</tr>
			<tr>
				<td class="text-center align-middle">大阪</td>
				<td class="text-center align-middle">運行管理補助者</td>
				<td class="text-center align-middle">123456789</td>
				<td class="text-center align-middle">山田一郎</td>
				<td class="text-center align-middle">
					<input type="date" class="form-control" value="2020-01-01">
				</td>
				<td class="text-center align-middle">
					<input type="date" class="form-control" value="2020-01-01" id="day-2">
				</td>
				<td class="text-center align-middle">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="inlineRadio4" value="1" checked name="radio2">
						<label class="form-check-label" for="inlineRadio4">未</label>
						<input class="form-check-input ml-3" type="radio" id="inlineRadio5" value="2" name="radio2">
						<label class="form-check-label" for="inlineRadio5">済</label>
						<input class="form-check-input ml-3" type="radio" id="inlineRadio6" value="3" name="radio2">
						<label class="form-check-label" for="inlineRadio6">不要</label>
					</div>
				</td>
				<td class="text-center align-middle">
					<textarea class="form-control" rows="2" id="result-1"></textarea>
				</td>
				<td class="align-middle">
					<div class="input-group">
						<div class="custom-file">
							<input type="file" class="custom-file-input">
							<label class="custom-file-label" for="" data-browse="参照">ファイルを選択</label>
						</div>
						<div class="input-group-append">
							<button type="button" class="btn input-group-text">削除</button>
						</div>
					</div>
				</td>
				<td class="text-center align-middle">
					<button type="button" class="btn button-black mt-2">削除</button>
				</td>
			</tr>
			<tr>
				<td class="text-center align-middle">大阪</td>
				<td class="text-center align-middle">運行管理補助者</td>
				<td class="text-center align-middle">123456789</td>
				<td class="text-center align-middle">山田一郎</td>
				<td class="text-center align-middle">
					<input type="date" class="form-control" value="2020-01-01">
				</td>
				<td class="text-center align-middle">
					<input type="date" class="form-control" value="2020-01-01" id="day-3">
				</td>
				<td class="text-center align-middle">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="inlineRadio7" value="1" checked name="radio3">
						<label class="form-check-label" for="inlineRadio7">未</label>
						<input class="form-check-input ml-3" type="radio" id="inlineRadio8" value="2" name="radio3">
						<label class="form-check-label" for="inlineRadio8">済</label>
						<input class="form-check-input ml-3" type="radio" id="inlineRadio9" value="3" name="radio3">
						<label class="form-check-label" for="inlineRadio9">不要</label>
					</div>
				</td>
				<td class="text-center align-middle">
					<textarea class="form-control" rows="2" id="result-1"></textarea>
				</td>
				<td class="align-middle">
					<div class="input-group">
						<div class="custom-file">
							<input type="file" class="custom-file-input">
							<label class="custom-file-label" for="" data-browse="参照">ファイルを選択</label>
						</div>
						<div class="input-group-append">
							<button type="button" class="btn input-group-text">削除</button>
						</div>
					</div>
				</td>
				<td class="text-center align-middle">
					<button type="button" class="btn input-group-text d-none">削除</button>
				</td>
			</tr>
			</tbody>
		</table>

		<div class="form-group row border-top mt-2 ml-1 text-center footer-border">
			<div type="button" class="btn button-black mt-2" data-toggle="modal" data-target="#createModal">登録</div>
<!--			<div th:if="${type} == 'edit'" type="button" class="btn button-black mt-2" data-toggle="modal" data-target="#updateModal">編集</div>-->
			<div th:if="${type} == 'edit'" type="button" class="btn button-black mt-2 ml-2" data-toggle="modal" data-target="#deleteModal">削除</div>
<!--			<div th:if="${type} == 'regist'" type="button" class="btn button-black mt-2" data-toggle="modal" data-target="#createModal">登録</div>-->
		</div>
		<div class="form-group row ml-1">
			<div class="btn button-black" onclick="history.back()">前に戻る</div>
		</div>
	</form>

	<!-- 教育訓練対象者モーダル -->
	<div class="modal fade" id="addTargetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<!-- 教育訓練対象者 -->
						<h4 class="mb-3 mt-3">教育訓練対象者</h4>
						<div class="ml-3 mr-3">
							<div class="form-group row border mb-0 text-center">
								<!-- 営業所 -->
								<div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
									<div class="font-weight-bold">営業所</div>
								</div>
								<div class="col form-check form-check-inline flex-wrap m-2">
									<span class="text-nowrap">
										<input class="form-check-input ml-3 checkAll" type="checkbox" id="officeAll_modal">
										<label class="form-check-label" for="officeAll_modal">すべて</label>
									</span>
									<div class="row ml-0">
										<span class="text-nowrap">
											<input class="form-check-input ml-3 officeAll" type="checkbox" id="office1">
											<label class="form-check-label" for="office1">仙台営業所</label>
										</span>
										<span class="text-nowrap">
							 				<input class="form-check-input ml-3 officeAll" type="checkbox" id="office2">
											<label class="form-check-label" for="office2">千葉営業所</label>
										</span>
										<span class="text-nowrap">
							 				<input class="form-check-input ml-3 officeAll" type="checkbox" id="office3">
											<label class="form-check-label" for="office3">本社営業所</label>
										</span>
										<span class="text-nowrap">
							 				<input class="form-check-input ml-3 officeAll" type="checkbox" id="office4">
											<label class="form-check-label" for="office4">池袋営業所</label>
										</span>
										<span class="text-nowrap">
							 				<input class="form-check-input ml-3 officeAll" type="checkbox" id="office5">
											<label class="form-check-label" for="office5">新潟営業所</label>
										</span>
										<span class="text-nowrap">
							 				<input class="form-check-input ml-3 officeAll" type="checkbox" id="office6">
											<label class="form-check-label" for="office6">長野営業所</label>
										</span>
										<span class="text-nowrap">
							 				<input class="form-check-input ml-3 officeAll" type="checkbox" id="office7">
											<label class="form-check-label" for="office7">新清水中継所</label>
										</span>
										<span class="text-nowrap">
											<input class="form-check-input ml-3 officeAll" type="checkbox" id="office8">
											<label class="form-check-label" for="office8">名古屋営業所</label>
										</span>
										<span class="text-nowrap">
											<input class="form-check-input ml-3 officeAll" type="checkbox" id="office9">
											<label class="form-check-label" for="office9">大阪営業所</label>
										</span>
										<span class="text-nowrap">
											<input class="form-check-input ml-3 officeAll" type="checkbox" id="office10">
											<label class="form-check-label" for="office10">広島営業所</label>
										</span>
										<span class="text-nowrap">
											<input class="form-check-input ml-3 officeAll" type="checkbox" id="office11">
											<label class="form-check-label" for="office11">大阪さやま交通</label>
										</span>
										<span class="text-nowrap">
											<input class="form-check-input ml-3 officeAll" type="checkbox" id="office12">
											<label class="form-check-label" for="office12">日本高速</label>
										</span>
										<span class="text-nowrap">
											<input class="form-check-input ml-3 officeAll" type="checkbox" id="office13">
											<label class="form-check-label" for="office13">ニュープリンス高速</label>
										</span>
										<span class="text-nowrap">
											<input class="form-check-input ml-3 officeAll" type="checkbox" id="office14">
											<label class="form-check-label" for="office14">ベイライン</label>
										</span>
									</div>
					 			</div>
							</div>
							<div class="form-group row border border-top-0 mb-0 text-center">
								<!-- 職種 -->
								<div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
									<div class="font-weight-bold">職種</div>
								</div>
								<div class="col form-check form-check-inline m-2 font-size-09">
									<input class="form-check-input ml-3 jobAll_modal" type="checkbox" id="job1_modal">
									<label class="form-check-label" for="job1_modal">乗務員</label>
									<input class="form-check-input ml-3 jobAll_modal" type="checkbox" id="job2_modal">
									<label class="form-check-label" for="job2_modal">整備士</label>
									<input class="form-check-input ml-3 jobAll_modal" type="checkbox" id="job3_modal">
									<label class="form-check-label" for="job3_modal">運行管理者</label>
								</div>
							</div>
							<div class="form-group row border border-top-0 mb-0">
							<!-- 氏名 -->
							<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">氏名</div>
								<div class="col-sm-7">
									<input type="text" class="form-control m-1" maxlength="20" placeholder="全角20文字以内">
									<small class="form-text text-muted ml-1">※部分一致</small>
								</div>
							</div>
							<div class="form-group row border border-top-0 mb-0">
								<!-- 氏名（カナ） -->
								<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">氏名（カナ）</div>
								<div class="col-sm-7">
									<input type="text" class="form-control m-1" maxlength="40" placeholder="全角カナ40文字以内">
									<small class="form-text text-muted ml-1">※部分一致</small>
								</div>
							</div>
							<div class="form-group row border-top mt-2 text-center footer-border">
								<div type="button" class="btn button-black mt-2">検索</div>
							</div>
						</div>
						<!-- 教育訓練対象者 -->
						<h4 class="mb-3 mt-5">未選択者一覧</h4>
						<div class="ml-3 w-75">
							<table class="table table-bordered table-sm bt-2">
								<thead class="bg-light">
								<tr>
									<th scope="col" class="align-middle text-center" width="150">選択
										<div class="form-check form-check-inline">
											<input class="form-check-input ml-3 checkAll" type="checkbox" id="selectAll">
											<label class="form-check-label" for="selectAll">一括</label>
										</div>
									</th>
									<th scope="col" class="align-middle text-center">営業所</th>
									<th scope="col" class="align-middle text-center">職種</th>
									<th scope="col" class="align-middle text-center">社員コード</th>
									<th scope="col" class="align-middle text-center">氏名</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td class="text-center align-middle">
										<input class="selectAll" type="checkbox">
									</td>
									<td class="text-left align-middle">大阪営業所</td>
									<td class="text-left align-middle">運行管理補助者</td>
									<td class="text-left align-middle">123456789</td>
									<td class="text-left align-middle">山田一郎</td>
								</tr>
								<tr>
									<td class="text-center align-middle">
										<input class="selectAll" type="checkbox">
									</td>
									<td class="text-left align-middle">大阪営業所</td>
									<td class="text-left align-middle">運行管理補助者</td>
									<td class="text-left align-middle">123456789</td>
									<td class="text-left align-middle">山田一郎</td>
								</tr>
								</tbody>
							</table>
							<div class="form-group row border-top mt-2 text-center footer-border">
								<div class="btn button-black mt-2" data-dismiss="modal">教育訓練対象者 追加</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>

</main>

<div th:replace="layouts/footer :: footer"></div>
<div th:replace="layouts/formModals :: formModals(@{/education/result},@{/education/search},@{/education/result})"></div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/education.js}"></script>
</body>
</html>