<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>

<main class="content">

	<h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">教育訓練管理 ／
		<span class="h4" th:case="search" th:text="検索"></span>
		<span class="h4" th:case="result" th:text="検索結果"></span>
	</h4>

	<button class="btn button-black mb-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" th:if="${type} == 'result'">
		検索条件表示
	</button>
	
	<div class="collapse" id="collapseExample" th:classappend="${show} ? 'show' : ''">

		<form class="ml-3 mr-3">

			<div class="form-group row border mb-0">
				<!-- 教育訓練ID -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">教育訓練ID</div>
				<div class="col-sm-4">
					<input type="number" class="form-control m-1 numberMaxLength8" placeholder="半角数字8文字以内">
					<small class="form-text text-muted ml-1">※完全一致</small>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 教育訓練名称 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">教育訓練名称</div>
				<div class="col">
					<input type="text" class="form-control m-1" maxlength="50" placeholder="全角50文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 教育訓練種別 -->
				<div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
					<div class="font-weight-bold">教育訓練種別</div>
				</div>
				<div class="col form-check form-check-inline m-2 flex-wrap">
					<span class="text-nowrap">
						<input class="form-check-input ml-3 checkAll" type="checkbox" id="typeAll">
						<label class="form-check-label" for="typeAll">すべて</label>
					</span>
					<div class="row ml-0">
						<span class="text-nowrap">
							<input class="form-check-input ml-3 typeAll" type="checkbox" id="type1">
							<label class="form-check-label" for="type1">事故</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 typeAll" type="checkbox" id="type2">
							<label class="form-check-label" for="type2">故障</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 typeAll" type="checkbox" id="type3">
							<label class="form-check-label" for="type3">ヒヤリハット</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 typeAll" type="checkbox" id="type4">
							<label class="form-check-label" for="type4">不適合事項</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 typeAll" type="checkbox" id="type5">
							<label class="form-check-label" for="type5">初任運転者研修</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 typeAll" type="checkbox" id="type6">
							<label class="form-check-label" for="type6">事故惹起運転者研修</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 typeAll" type="checkbox" id="type7">
							<label class="form-check-label" for="type7">高齢運転者研修</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 typeAll" type="checkbox" id="type8">
							<label class="form-check-label" for="type8">事故時の運行管理者講習</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 typeAll" type="checkbox" id="type9">
							<label class="form-check-label" for="type9">運行管理者資格更新講習</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 typeAll" type="checkbox" id="type10">
							<label class="form-check-label" for="type10">整備管理者選任研修</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 typeAll" type="checkbox" id="type11">
							<label class="form-check-label" for="type11">その他</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 typeAll" type="checkbox" id="type12">
							<label class="form-check-label" for="type12">未入力</label>
						</span>
					</div>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 営業所 -->
				<div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
					<div class="font-weight-bold">営業所</div>
				</div>
				<div class="col form-check form-check-inline flex-wrap m-2">
					<span class="text-nowrap">
						<input class="form-check-input ml-3 checkAll" type="checkbox" id="officeAll">
						<label class="form-check-label" for="officeAll">すべて</label>
					</span>
					<div class="row ml-0">
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office1">
							<label class="form-check-label" for="office1">仙台営業所</label>
						</span>
						<span class="text-nowrap">
		 					<input class="form-check-input ml-3 officeAll" type="checkbox" id="office2">
							<label class="form-check-label" for="office2">千葉営業所</label>
						</span>
						<span class="text-nowrap">
		 					<input class="form-check-input ml-3 officeAll" type="checkbox" id="office3">
							<label class="form-check-label" for="office3">本社営業所</label>
						</span>
						<span class="text-nowrap">
		 					<input class="form-check-input ml-3 officeAll" type="checkbox" id="office4">
							<label class="form-check-label" for="office4">池袋営業所</label>
						</span>
						<span class="text-nowrap">
		 					<input class="form-check-input ml-3 officeAll" type="checkbox" id="office5">
							<label class="form-check-label" for="office5">新潟営業所</label>
						</span>
						<span class="text-nowrap">
		 					<input class="form-check-input ml-3 officeAll" type="checkbox" id="office6">
							<label class="form-check-label" for="office6">長野営業所</label>
						</span>
						<span class="text-nowrap">
		 					<input class="form-check-input ml-3 officeAll" type="checkbox" id="office7">
							<label class="form-check-label" for="office7">新清水中継所</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office8">
							<label class="form-check-label" for="office8">名古屋営業所</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office9">
							<label class="form-check-label" for="office9">大阪営業所</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office10">
							<label class="form-check-label" for="office10">広島営業所</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office11">
							<label class="form-check-label" for="office11">大阪さやま交通</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office12">
							<label class="form-check-label" for="office12">日本高速</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office13">
							<label class="form-check-label" for="office13">ニュープリンス高速</label>
						</span>
						<span class="text-nowrap">
							<input class="form-check-input ml-3 officeAll" type="checkbox" id="office14">
							<label class="form-check-label" for="office14">ベイライン</label>
						</span>
					</div>
 				</div>

			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 実施予定日 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">実施予定日</div>
				<div class="col-sm-2">
					<input type="date" class="form-control m-1">
				</div>
				<div class="col-sm-1 d-flex align-items-center justify-content-center">から</div>
				<div class="col-sm-2">
					<input type="date" class="form-control m-1">
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0 text-center">
				<!-- 実施期限日 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">実施期限日</div>
				<div class="col-sm-2">
					<input type="date" class="form-control m-1">
				</div>
				<div class="col-sm-1 d-flex align-items-center justify-content-center">から</div>
				<div class="col-sm-2">
					<input type="date" class="form-control m-1">
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 社員コード -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">社員コード</div>
				<div class="col-sm-4">
					<input type="number" class="form-control m-1 numberMaxLength8" placeholder="半角数字8文字以内">
					<small class="form-text text-muted ml-1">※完全一致</small>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 氏名 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">氏名</div>
				<div class="col-sm-4">
					<input type="text" class="form-control m-1" maxlength="20" placeholder="全角20文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 氏名（カナ） -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">氏名（カナ）</div>
				<div class="col-sm-7">
					<input type="text" class="form-control m-1" maxlength="40" placeholder="全角カナ40文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>


			<div class="form-group row border border-top-0 mb-0">
				<!-- 実施状況 -->
				<div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
					<div class="font-weight-bold">実施状況</div>
				</div>
				<div class="col form-check form-check-inline flex-wrap m-2">
                	<span class="text-nowrap">
						<input class="form-check-input ml-3" type="checkbox" id="attendStatus1">
						<label class="form-check-label" for="attendStatus1">未</label>
					</span>
                	<span class="text-nowrap">
						<input class="form-check-input ml-3" type="checkbox" id="attendStatus2">
						<label class="form-check-label" for="attendStatus2">済</label>
					</span>
                	<span class="text-nowrap">
						<input class="form-check-input ml-3" type="checkbox" id="attendStatus3">
						<label class="form-check-label" for="attendStatus3">不要</label>
					</span>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- アラート対象 -->
				<div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
					<div class="font-weight-bold">アラート発生中</div>
				</div>
				<div class="col form-check form-check-inline m-2 flex-wrap">
                	<span class="text-nowrap">
						<input class="form-check-input ml-3" type="checkbox" id="alertStatus1">
						<label class="form-check-label" for="alertStatus1">対象</label>
					</span>
                	<span class="text-nowrap">
						<input class="form-check-input ml-3" type="checkbox" id="alertStatus2">
						<label class="form-check-label" for="alertStatus2">対象外</label>
					</span>
				</div>
			</div>

			<div class="form-group row border-top mt-2 footer-border">
				<a type="button" class="btn button-black mt-2 col-sm-1" href="#" th:href="@{/education/result}">検索</a>
				<a class="btn button-black mt-2 ml-2 col-sm-1" href="#" th:href="@{/education/regist}" role="button">新規登録</a>
			</div>
		</form>

	</div>
	
	<!-- ページング -->
	<nav class="mb-3" aria-label="..." th:if="${type} == 'result'">
		<ul class="pagination">
			<li class="page-item disabled">
				<span class="page-link">前へ</span>
			</li>
			<!-- active = 今表示しているページ -->
			<li class="page-item active">
				<span class="page-link">1</span>
			</li>
			<li class="page-item" aria-current="page">
				<a class="page-link">2</a>
			</li>
			<li class="page-item">
				<a class="page-link">3</a>
			</li>
			<li class="page-item">
				<a class="page-link">次へ</a>
			</li>
		</ul>
	</nav>

	<table class="table table-bordered table-sm bt-2 fixed-table" id="dt" th:if="${type} == 'result'" >
		<thead class="bg-light">
			<tr>
				<th scope="col" class="align-middle text-center">教育訓練ID</th>
				<th scope="col" class="align-middle text-center w-65">教育訓練名称</th>
				<th scope="col" class="align-middle text-center">教育訓練種別</th>
				<th scope="col" class="align-middle text-center">実施予定日</th>
				<th scope="col" class="align-middle text-center">実施期限日</th>
				<th scope="col" class="align-middle text-center"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="align-middle">000</td>
				<td class="align-middle">〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇</td>
				<td class="align-middle text-truncate">〇〇</td>
				<td class="align-middle">2020/01/01</td>
				<td class="align-middle">2020/01/01</td>
				<td>
					<a class="btn button-black btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn button-black btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
			<tr>
				<td class="align-middle">000</td>
				<td class="align-middle">000000</td>
				<td class="align-middle text-truncate">〇〇</td>
				<td class="align-middle">2020/01/01</td>
				<td class="align-middle">2020/01/01</td>
				<td>
					<a class="btn button-black btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn button-black btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
			<tr>
				<td class="align-middle">000</td>
				<td class="align-middle">000000</td>
				<td class="align-middle text-truncate">〇〇</td>
				<td class="align-middle">2020/01/01</td>
				<td class="align-middle">2020/01/01</td>
				<td>
					<a class="btn button-black btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn button-black btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
			<tr>
				<td class="align-middle">000</td>
				<td class="align-middle">000000</td>
				<td class="align-middle text-truncate">〇〇</td>
				<td class="align-middle">2020/01/01</td>
				<td class="align-middle">2020/01/01</td>
				<td>
					<a class="btn button-black btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn button-black btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
			<tr>
				<td class="align-middle">000</td>
				<td class="align-middle">000000</td>
				<td class="align-middle text-truncate">〇〇</td>
				<td class="align-middle">2020/01/01</td>
				<td class="align-middle">2020/01/01</td>
				<td>
					<a class="btn button-black btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn button-black btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
			<tr>
				<td class="align-middle">000</td>
				<td class="align-middle">000000</td>
				<td class="align-middle text-truncate">〇〇</td>
				<td class="align-middle">2020/01/01</td>
				<td class="align-middle">2020/01/01</td>
				<td>
					<a class="btn button-black btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn button-black btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
			<tr>
				<td class="align-middle">000</td>
				<td class="align-middle">000000</td>
				<td class="align-middle text-truncate">〇〇</td>
				<td class="align-middle">2020/01/01</td>
				<td class="align-middle">2020/01/01</td>
				<td>
					<a class="btn button-black btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn button-black btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
			<tr>
				<td class="align-middle">000</td>
				<td class="align-middle">000000</td>
				<td class="align-middle text-truncate">〇〇</td>
				<td class="align-middle">2020/01/01</td>
				<td class="align-middle">2020/01/01</td>
				<td>
					<a class="btn button-black btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn button-black btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
			<tr>
				<td class="align-middle">000</td>
				<td class="align-middle">000000</td>
				<td class="align-middle text-truncate">〇〇</td>
				<td class="align-middle">2020/01/01</td>
				<td class="align-middle">2020/01/01</td>
				<td>
					<a class="btn button-black btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn button-black btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
			<tr>
				<td class="align-middle">000</td>
				<td class="align-middle">000000</td>
				<td class="align-middle text-truncate">〇〇</td>
				<td class="align-middle">2020/01/01</td>
				<td class="align-middle">2020/01/01</td>
				<td>
					<a class="btn button-black btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn button-black btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- ページング -->
	<nav class="mb-5" aria-label="..." th:if="${type} == 'result'">
		<ul class="pagination">
			<li class="page-item disabled">
				<span class="page-link">前へ</span>
			</li>
			<!-- active = 今表示しているページ -->
			<li class="page-item active">
				<span class="page-link">1</span>
			</li>
			<li class="page-item" aria-current="page">
				<a class="page-link">2</a>
			</li>
			<li class="page-item">
				<a class="page-link">3</a>
			</li>
			<li class="page-item">
				<a class="page-link">次へ</a>
			</li>
		</ul>
	</nav>
</main>

<!-- Footer -->
<div th:replace="layouts/footer :: footer"></div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/datatable.js}"></script>
</html>