* {
	font-size: 12px;
}

body {
	max-width: 1920px;
	margin: auto;
	padding-bottom: 20px;
}

.content {
	width: 95%;
	margin: auto;
}

.req {
    background-color: #F00;
    color: #FFF;
    padding: 2px;
    font-size: 0.8rem;
    border-radius: 5px 5px 5px 5px;
}

.notice {
    background-color: #F00;
    color: #FFF;
    margin: 5px;
    padding: 3px;
    border-radius: 5px 5px 5px 5px;
}

.either-req {
    background-color: #FF0;
    color: #212529;
    padding: 2px;
    font-size: 0.8rem;
    border-radius: 5px 5px 5px 5px;
}

.critical {
    background-color: #F00;
    color: #FFF;
    padding: 2px;
    margin-right: 5px;
    font-size: 0.9rem;
    border-radius: 3px 3px 3px 3px;
}

input:required{background: 色の指定;}
input:valid{background: transparent;}

/* ボタン */
.button-black {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.button-black:hover {
    color: #fff;
}


.button-gray {
    color: #fff;
    background-color: #808080;
    border-color: #808080;
}

.button-gray:hover {
    color: #fff;
}


.button-blue {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

/* タイトルボーダー */
.title-border {
    border-color: #be77d2!important;
    border-width: 3px!important;
}

/* フッタボーダー */
.footer-border {
    border-width: 3px!important;
}

/* フォントサイズ */
.font-size-09 {
    font-size: 0.9rem;
}

.font-size-13 {
    font-size: 1.3rem;
}

.font-size-15 {
    font-size: 1.5rem;
}

.font-size-20 {
    font-size: 2.0rem;
}

.font-size-30 {
    font-size: 3.0rem;
}

/* Width & Height */
.wh-login {
    width: 200px;
    height: 500px;
}

/* Height */
.footer-height {
    height: 25px!important;
}

.height-47px {
    height: 47px;
}

.height-75px {
    height: 75px;
}

.height-91px {
    height: 90px;
}

.height-100px {
    height: 100px;
}

.height-200px {
    height: 200px;
}

.height-500px {
    height: 500px;
}

/* Width */
.width-005 {
    width: 5%;
}

.width-007 {
    width: 7%;
}

.width-010 {
    width: 10%;
}

.width-160px {
    width: 160px;
}

/* Text */
.text-news {
	color:#0056b3!important;
}

.text-menulink {
	color:#0056b3!important;
}
.text-menulink:hover {
	color:#007bff!important;
}

/* Background */
.bg-light {
    background-color: #b8c8d8!important;
}

.bg-light-gray {
    background-color: #EEE;
}

.bg-pink {
    background-color: #f989b1;
}

/* Padding */
.padding-15px {
    padding-left: 15px!important;
}

.required:after {
    content:"*";
    color:red;
}

.row {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fixed-table {
	table-layout:fixed;
}

.w-20 {
	width: 20%!important;
}

.w-65 {
	width: 65%!important;
}

.w-300 {
	width: 30%!important;
}

.mw-5 {
	max-width: 5%;
}

.mw-10 {
	max-width: 10%;
}

.mw-15 {
	max-width: 15%;
}

.mw-20 {
	max-width: 20%;
}

.mw-25 {
	max-width: 363px;
}

.mw-30 {
	max-width: 30%;
}

.mw-35 {
	max-width: 35%;
}

.mw-40 {
	max-width: 40%;
}

.mw-45 {
	max-width: 45%;
}

.mw-50 {
	max-width: 50%;
}

