<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Header -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<!-- 個別呼び出しCSS -->
<link rel="stylesheet" th:href="@{/css/style.css}" />

<body>

<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>

<!-- main -->
<main class="content p-0">
   	
	<div class="row my-4">
		<div class="col-sm-8 border border-dark mr-4">
			<div class="row border-bottom border-dark">
				<div class="p-1 px-4">
					<img th:src="@{/images/icons/mail.png}" height="50px">
				</div>
				<div class="col px-4 d-flex align-items-center bg-dark">
					<h2 class="text-white font-weight-bold">お知らせ</h2>
				</div>
			</div>
			<ul class="list-unstyled mt-3 overflow-auto">
				<li class="my-3 d-flex text-news font-weight-bold">
					<div class="mr-4 font-size-13">2020年10月03日</div>
					<div class="critical">重要</div>
					<div class="text-wrap font-size-13">4751便での事故について</div>
					<div class="ml-auto font-size-13">（発信元：本社営業所）</div>
				</li>
				<li class="my-3 d-flex text-news font-weight-bold">
					<div class="mr-4 font-size-13">2020年10月09日</div>
					<div class="text-wrap font-size-13">チェーン講習について</div>
					<div class="ml-auto font-size-13">（発信元：運輸本部）</div>
				</li>
				<li class="my-3 d-flex text-news font-weight-bold">
					<div class="mr-4 font-size-13">2020年10月08日</div>
					<div class="text-wrap font-size-13">雪山研修について</div>
					<div class="ml-auto font-size-13">（発信元：運輸本部）</div>
				</li>
				<li class="my-3 d-flex text-news font-weight-bold">
					<div class="mr-4 font-size-13">2020年10月01日</div>
					<div class="text-wrap font-size-13">RootSアカウントについて</div>
					<div class="ml-auto font-size-13">（発信元：管理者）</div>
				</li>
			</ul>
		</div>
		<div class="col-sm border border-dark">
			<div class="row border-bottom border-dark">
				<div class="p-1 px-4">
					<img th:src="@{/images/icons/menu.png}" height="50px">
				</div>
				<div class="col px-4 d-flex align-items-center bg-dark">
					<h2 class="text-white font-weight-bold">メニュー</h2>
				</div>
			</div>
			
			<div class="row border-bottom border-dark mt-4">
				<img th:src="@{/images/icons/person.png}" class="mx-4" height="40px">
				<h3 class="text-dark font-weight-bold d-flex align-items-center">従業員</h3>
			</div>
			<div class="list-group list-group-flush list-group-horizontal">
				<a th:href="@{/crew/search}" class="list-group-item list-group-item-action flex-fill border-0 text-menulink font-weight-bold font-size-13">従業員 管理</a>
				<a th:href="@{/education/search}" class="list-group-item list-group-item-action flex-fill border-0 text-menulink font-weight-bold font-size-13">教育訓練 管理</a>
			</div>
			
			<div class="row border-bottom border-dark mt-4">
				<img th:src="@{/images/icons/behicle.png}" class="mx-4" height="40px">
				<h3 class="text-dark font-weight-bold d-flex align-items-center">車両</h3>
			</div>
			<div class="list-group list-group-flush">
				<a th:href="@{/car/search}" class="list-group-item list-group-item-action flex-fill border-0 text-menulink font-weight-bold font-size-13">車両 管理</a>
				<a th:href="@{/car/move/search}" class="list-group-item list-group-item-action flex-fill border-0 text-menulink font-weight-bold font-size-13">車両営業所移動 管理</a>
			</div>
			<div class="list-group list-group-flush">
				<a th:href="@{/maintenance/search}" class="list-group-item list-group-item-action flex-fill border-0 text-menulink font-weight-bold font-size-13">整備/点検 管理</a>
				<a th:href="@{/car/output/search}" class="list-group-item list-group-item-action flex-fill border-0 text-menulink font-weight-bold font-size-13">陸運支局 車両提出資料出力</a>
			</div>
			
			<div class="row border-bottom border-dark mt-4">
				<img th:src="@{/images/icons/tool.png}" class="mx-4" height="40px">
				<h3 class="text-dark font-weight-bold d-flex align-items-center">事故/ヒヤリハット/故障</h3>
			</div>
			<div class="list-group list-group-flush list-group-horizontal">
				<a th:href="@{/accident/search}" class="list-group-item list-group-item-action border-0 flex-fill border-0 text-menulink font-weight-bold font-size-13">事故/ヒヤリハット/故障 管理</a>
			</div>
			
			<div class="row border-bottom border-dark mt-4">
				<img th:src="@{/images/icons/database.png}" class="mx-4" height="40px">
				<h3 class="text-dark font-weight-bold d-flex align-items-center">マスタ管理</h3>
			</div>
			<div class="list-group list-group-flush list-group-horizontal">
				<a th:href="@{/system/login/search}" class="list-group-item list-group-item-action flex-fill border-0 text-menulink font-weight-bold font-size-13">ログインユーザー 管理</a>
				<a th:href="@{/system/maint/category/search}" class="list-group-item list-group-item-action flex-fill border-0 text-menulink font-weight-bold font-size-13">整備点検科目 管理</a>
			</div>
			<div class="list-group list-group-flush list-group-horizontal">
				<a th:href="@{/system/role/search}" class="list-group-item list-group-item-action flex-fill border-0 text-menulink font-weight-bold font-size-13">ロール権限 管理</a>
				<a th:href="@{/system/maint/parts/search}" class="list-group-item list-group-item-action flex-fill border-0 text-menulink font-weight-bold font-size-13">整備点検部品 管理</a>
			</div>
			<div class="list-group list-group-flush list-group-horizontal">
				<a th:href="@{/system/news/search}" class="list-group-item list-group-item-action flex-fill border-0 text-menulink font-weight-bold font-size-13">お知らせ 管理</a>
				<a th:href="@{/system/maint/search}" class="list-group-item list-group-item-action flex-fill border-0 text-menulink font-weight-bold font-size-13">整備点検項目 管理</a>
			</div>
		</div>
	</div>

</main>
   <!-- footer -->
   <div th:replace="layouts/footer :: footer"></div>

</body>
</html>