<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>

<main class="content">
	<h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">マスタ管理　整備点検部品管理 ／
		<span class="h4" th:case="search" th:text="検索"></span>
		<span class="h4" th:case="result" th:text="検索結果"></span>
	</h4>

	<button class="btn button-black mb-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" th:if="${type} == 'result'">
		検索条件表示
	</button>
	<!-- th:text="${type == 'edit'} ? '教育訓練結果についてを説明します。' : ''" -->
	<div class="collapse" id="collapseExample" th:classappend="${show} ? 'show' : ''">

		<form class="mr-3 ml-3">
			<div class="form-group row border mb-0 text-center">
				<!-- 整備点検科目 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">整備点検科目</div>
				<div class="col-sm-4">
					<select class="form-control m-1">
						<option>選択してください</option>
						<option>整備点検カテゴリ項目登録内容</option>
						<option>カテゴリB</option>
					</select>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 部品名称 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">部品名称</div>
				<div class="col">
					<input type="text" class="form-control m-1" maxlength="50" placeholder="全角50文字以内">
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0">
				<!-- 部品名称（カナ） -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">部品名称（カナ）</div>
				<div class="col">
					<input type="text" class="form-control m-1" maxlength="50" placeholder="全角カナ50文字以内">
				</div>
			</div>

			<div class="form-group row border-top mt-2 footer-border">
				<a type="button" class="btn button-black mt-2 col-sm-1" href="#" th:href="@{/system/maint/parts/result}">検索</a>
				<a class="btn button-black mt-2 ml-2 col-sm-1" href="#" th:href="@{/system/maint/parts/regist}" role="button">新規登録</a>
			</div>
		</form>
	</div>
	
	<!-- ページング -->
	<nav class="mb-3" aria-label="..." th:if="${type} == 'result'">
		<ul class="pagination">
			<li class="page-item disabled">
				<span class="page-link">前へ</span>
			</li>
			<!-- active = 今表示しているページ -->
			<li class="page-item active">
				<span class="page-link">1</span>
			</li>
			<li class="page-item" aria-current="page">
				<a class="page-link">2</a>
			</li>
			<li class="page-item">
				<a class="page-link">3</a>
			</li>
			<li class="page-item">
				<a class="page-link">次へ</a>
			</li>
		</ul>
	</nav>

	<div>
		<table class="table table-bordered table-sm" id="dt" th:if="${type} == 'result'">
			<thead class="bg-light">
				<tr>
					<th scope="col" class="align-middle text-center w-50">整備点検科目</th>
					<th scope="col" class="align-middle text-center w-50">部品名称</th>
					<th scope="col" class="align-middle text-center"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="align-middle">項目ABC</td>
					<td class="align-middle">部品名称ABC</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/system/maint/parts/edit}">編集</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">項目ABC</td>
					<td class="align-middle">部品名称ABC</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/system/maint/parts/edit}">編集</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">項目ABC</td>
					<td class="align-middle">部品名称ABC</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/system/maint/parts/edit}">編集</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">項目ABC</td>
					<td class="align-middle">部品名称ABC</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/system/maint/parts/edit}">編集</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">項目ABC</td>
					<td class="align-middle">部品名称ABC</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/system/maint/parts/edit}">編集</a>
					</td>
				</tr>
				<tr>
					<td class="align-middle">項目ABC</td>
					<td class="align-middle">部品名称ABC</td>
					<td class="align-middle">
						<a class="btn button-black btn-sm" th:href="@{/system/maint/parts/edit}">編集</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- ページング -->
	<nav class="mb-5" aria-label="..." th:if="${type} == 'result'">
		<ul class="pagination">
			<li class="page-item disabled">
				<span class="page-link">前へ</span>
			</li>
			<!-- active = 今表示しているページ -->
			<li class="page-item active">
				<span class="page-link">1</span>
			</li>
			<li class="page-item" aria-current="page">
				<a class="page-link">2</a>
			</li>
			<li class="page-item">
				<a class="page-link">3</a>
			</li>
			<li class="page-item">
				<a class="page-link">次へ</a>
			</li>
		</ul>
	</nav>
</main>

<!-- Footer -->
<div th:replace="layouts/footer :: footer"></div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/datatable.js}"></script>
</html>