<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>
<!-- 個別呼び出しCSS -->
<link rel="stylesheet" th:href="@{/css/style.css}" />

<main class="content">
    <h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">車両管理 ／ 詳細</h4>

	<div class="mx-3">
        <div class="form-group row mb-0">
            <div class="col-sm-3">	        
                <label class="font-weight-bold font-size-30 text-left">足立 200 か 3558</label>
	        </div>
	        <!-- 営業所 -->
	        <div class="col d-flex align-items-center">
                <label class="h4 text-left">
                	所属：
                	<span class="h2 font-weight-bold">名古屋営業所</span>
                </label>
	        </div>
            <!-- 車両メーカー -->
            <div class="col d-flex align-items-center">
                <label class="h4 text-left">
                	車両メーカー：
                	<span class="h2 font-weight-bold">日野</span>
                </label>
            </div>
            <!-- 車両年式 -->
            <div class="col d-flex align-items-center">
                <label class="h4 text-left">
                	車両年式：
                	<span class="h2 font-weight-bold">平成20年式</span>
                </label>
            </div>
            <!-- 車両タイプ -->
            <div class="col d-flex align-items-center">
                <label class="h4 text-left">
                	車両タイプ：
                	<span class="h2 font-weight-bold">RNX</span>
                </label>
            </div>
        </div>
	</div>
	
    <h4 class="mt-3">基本情報</h4>
    <form class="mx-3">
	    <div class="form-group row border mb-0">
	        <!-- 車両ID -->
	        <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両ID</div>
	        <div class="col-sm-4">
	            <input type="text" class="form-control-plaintext m-1" readonly>
	        </div>
	    </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 車台状態 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車台状態</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="良" readonly>
            </div>
            <!-- 車台番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車台番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="000000" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 型式 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">型式</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="ABC" readonly>
            </div>
            <!-- 自動車種別 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">自動車種別</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 常用・予備 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">常用・予備</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="常用" readonly>
            </div>
            <!-- 操作 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">操作</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 衝突被害軽減ブレーキ -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">衝突被害軽減ブレーキ</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
            <!-- 充電設備 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">充電設備</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- Wi-Fi設備 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">Wi-Fi設備</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
            <!-- VOD設備 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">VOD設備</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 納車日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">納車日</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="2020/01/01" readonly>
            </div>
            <!-- 総走行距離 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">総走行距離</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
        </div>
	</form>

    <h4 class="mt-3">車検情報</h4>
    <form class="mx-3">
        <div class="form-group row border mb-0">
            <!-- 初年度登録年月 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">初年度登録年月</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="2020/01/01" readonly>
            </div>
            <!-- 登録年月日/交付年月日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">登録年月日/交付年月日</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="2020/01/01" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 用途 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">用途</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
            <!-- 自家用・事業用の別 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">自家用・事業用の別</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 車名 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車名</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
            <!-- 車体の形状 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車体の形状</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 乗車定員(人) -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">乗車定員(人)</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="4" readonly>
            </div>
            <!-- 最大積載量(kg) -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">最大積載量(kg)</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="100" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 車両重量(kg) -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両重量(kg)</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="100" readonly>
            </div>
            <!-- 車両総重量(kg) -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車両総重量(kg)</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="100" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 長さ(cm) -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">長さ(cm)</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="100" readonly>
            </div>
            <!-- 幅(cm) -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">幅(cm)</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="100" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 高さ(cm) -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">高さ(cm)</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="100" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 前前軸重(kg) -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">前前軸重(kg)</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="100" readonly>
            </div>
            <!-- 前後軸重(kg) -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">前後軸重(kg)</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="100" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 後前軸重(kg) -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">後前軸重(kg)</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="100" readonly>
            </div>
            <!-- 後後軸重(kg) -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">後後軸重(kg)</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="100" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 原動機の型式 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">原動機の型式</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 総排気量又は定格出力 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">総排気量又は定格出力</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
            <!-- 燃料の種類 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">燃料の種類</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 型式指定番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">型式指定番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="123" readonly>
            </div>
            <!-- 類別区分番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">類別区分番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="123" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 所有者の氏名又は名称 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">所有者の氏名又は名称</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 所有者の住所 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">所有者の住所</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 使用者の氏名又は名称 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">使用者の氏名又は名称</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 使用者の住所 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">使用者の住所</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 使用者の電話番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">使用者の電話番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="000-0000-0000" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 使用の本拠の位置 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">使用の本拠の位置</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 備考 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">備考</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
        </div>

        <table class="table table-bordered table-sm mt-3 w-75">
            <thead class="bg-light">
            <tr>
                <th scope="col" class="align-middle text-center">有効期間の満了する日</th>
                <th scope="col" class="align-middle text-center">車検証</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="align-middle">2021/04/12</td>
                <td class="text-center align-middle">
	                <a href="/images/shakensho.png" target="_blank">
	                	<img th:src="@{/images/shakensho.png}" alt="車検証情報" height="300">
	                </a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <h4 class="mt-3">保険情報</h4>
    <form class="mx-3">
        <div class="form-group row border mb-0 text-center">
            <!-- 自賠責情報 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">自賠責情報</div>
            <div class="m-1">
                <a href="/images/logo.jpg" target="_blank">
	                <img th:src="@{/images/logo.jpg}" alt="自賠責情報" height="100">
	        	</a>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 任意保険情報 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">任意保険情報</div>
            <div class="m-1">
                <a href="/images/logo.jpg" target="_blank">
	                <img th:src="@{/images/logo.jpg}" alt="自賠責情報" height="100">
	        	</a>
            </div>
        </div>
    </form>

    <h4 class="mt-3">ITP連携情報</h4>
    <form class="mx-3">
        <div class="form-group row border mb-0 text-center">
            <!-- ITP車両番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">ITP車両番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="" readonly>
            </div>
        </div>
    </form>

    <h4 class="mt-3">事故・故障歴<button class="ml-4 btn button-black mb-1">事故ヒヤリハット故障一覧</button></h4>
    <form>
        <table class="table table-bordered table-sm mt-3 bt-2">
            <thead class="bg-light">
            <tr>
                <th scope="col" class="align-middle text-center">発生日時</th>
                <th scope="col" class="align-middle text-center w-75">概要</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center align-middle">2020/01/01 00:00:00</td>
                <td class="text-center align-middle">内容</td>
                <td class="text-center align-middle">
                    <div class="btn button-black btn-sm">詳細</div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <h4 class="mt-3">整備点検履歴<a class="ml-4 btn button-black mb-1" href="#" th:href="@{/maintenance/result}">整備点検一覧</a></h4>
    <form>
        <table class="table table-bordered table-sm mt-3 bt-2">
            <thead class="bg-light">
            <tr>
                <th scope="col" class="align-middle text-center">整備点検日</th>
                <th scope="col" class="align-middle text-center w-75">詳細内容</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center align-middle">2020/01/01</td>
                <td class="text-center align-middle">内容</td>
                <td class="text-center align-middle">
                    <div class="btn button-black btn-sm">詳細</div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <!-- （運行準備開始ステータス時のみ表示、それ以外のスタータス時は折り畳み） -->
    <h4 class="mt-3">運行開始準備</h4>
    <form class="ml-3 mr-3">
        <div class="form-group row border mb-0 text-center">
            <!-- 運行開始日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">運行開始日</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="2020/01/01" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 用途 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">運行開始日</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
        </div>
    </form>
    <table class="table table-bordered table-sm bt-2 mt-2">
        <thead class="bg-light">
        <tr>
            <th scope="col" class="align-middle text-center">タスク名称</th>
            <th scope="col" class="align-middle text-center">ステータス</th>
            <th scope="col" class="align-middle text-center w-50">コメント</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center align-middle">リース契約書</td>
            <td class="text-center align-middle">未対応</td>
            <td class="text-center align-middle"></td>
        </tr>
        <tr>
            <td class="text-center align-middle">リース料支払い予定表</td>
            <td class="text-center align-middle">未対応</td>
            <td class="text-center align-middle"></td>
        </tr>
        <tr>
            <td class="text-center align-middle">リース会社車検証送付日</td>
            <td class="text-center align-middle">2020/01/01</td>
            <td class="text-center align-middle"></td>
        </tr>
        </tbody>
    </table>

    <!-- 売却中および売却済ステータス時のみ表示 -->
    <h4 class="mt-3">車両売却時詳細</h4>
    <form class="ml-3 mr-3">
        <div class="form-group row border mb-0 text-center">
            <!-- 売却日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">売却日</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="2020/01/01" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 売却先 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">売却先</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="〇〇" readonly>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0 text-center">
            <!-- 売却契約締結日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">売却契約締結日</div>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" value="2020/01/01" readonly>
            </div>
        </div>
    </form>

    <!-- 売却中および売却済ステータス時のみ表示 -->
    <h4 class="mt-3">車両売却</h4>
    <table class="table table-bordered table-sm bt-2">
        <thead class="bg-light">
        <tr>
            <th scope="col" class="align-middle text-center" width="20%">タスク名称</th>
            <th scope="col" class="align-middle text-center" width="10%">ステータス</th>
            <th scope="col" class="align-middle text-center">コメント</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center align-middle">OBC改造</td>
            <td class="text-center align-middle">未対応</td>
            <td class="text-center align-middle">コメント</td>
        </tr>
        <tr>
            <td class="text-center align-middle">ETCカード回収＆解約</td>
            <td class="text-center align-middle">未対応</td>
            <td class="text-center align-middle">コメント</td>
        </tr>
        <tr>
            <td class="text-center align-middle">実写確認</td>
            <td class="text-center align-middle">未対応</td>
            <td class="text-center align-middle">コメント</td>
        </tr>
        </tbody>
    </table>

    <form class="ml-3 mr-3 mt-2">

        <div class="form-group row border-top mt-5 text-center footer-border">
            <a class="btn button-black mt-2" href="#" th:href="@{/car/edit}">編集</a>
            <a class="btn button-black mt-2 ml-2" href="#" th:href="@{/car/delete}">車両削除</a>
            <button type="button" class="btn button-black mt-2 ml-2">車両移動</button>
			<button type="button" class="btn button-black mt-2 ml-auto">事業用自動車等連絡書・誓約書出力</button>
        </div>
		<div class="form-group row">
			<div class="btn button-black" onclick="history.back()">前に戻る</div>
		</div>
    </form>

</main>
<div th:replace="layouts/footer :: footer"></div>
<div th:replace="layouts/formModals :: formModals(@{/car/result},@{/car/search},@{/car/result})"></div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>
</html>