<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>
<!-- 個別呼び出しCSS -->
<link rel="stylesheet" th:href="@{/css/style.css}" />

<main class="content">
    <h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">車両管理 ／
        <span class="h4" th:case="edit" th:text="編集"></span>
        <span class="h4" th:case="regist" th:text="登録"></span>
    </h4>

    <form class="ml-3 mr-3">
	    <div class="form-group row border mb-0 text-center">
	        <!-- 車両ID -->
	        <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両ID</div>
	        <div class="col-sm-4">
	            <input type="text" class="form-control-plaintext m-1">
	        </div>
	    </div>
	
	    <h4 class="mt-3">基本情報</h4>
        <div class="form-group row border mb-0 text-center">
            <!-- 営業所 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">営業所</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>〇〇営業所</option>
                    <option>〇〇〇〇営業所</option>
                </select>
            </div>
            <!-- 運輸支局・地域等 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">運輸支局・地域等</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>〇〇</option>
                    <option>〇〇〇〇</option>
                </select>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 分類番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">分類番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1 input_alphanumeric" maxlength="3" placeholder="半角英数字3文字以内">
            </div>
            <!-- 記号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">記号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1" maxlength="1" placeholder="全角1文字">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1 input_numeric" maxlength="4" placeholder="半角数字4文字以内">
            </div>
            <!-- 車台番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車台番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1 input_alphanumeric" maxlength="12" placeholder="半角英数字12文字以内">
            </div>
        </div>

        <div class="form-group row border mt-5 mb-0">
            <!-- 車両メーカー -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両メーカー</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>Jバス</option>
                    <option>三菱ふそう</option>
                    <option>ヒュンダイ</option>
                    <option>日野</option>
                </select>
            </div>
            <!-- 車両タイプ -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車両タイプ</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>ＲＸＮ</option>
                    <option>ＴＲＮ</option>
                    <option>ＧＲＮ</option>
                    <option>ＢＯＮ</option>
                    <option>ＬＵＸ</option>
                    <option>ＢＵＴ</option>
                    <option>ＡＩＲ</option>
                    <option>ＲＴＢ</option>
                    <option>ＩＫＥＢＵＳ</option>
                    <option>ＳＴＤ</option>
                    <option>ＣＯＣ</option>
                    <option>ＥＸＥ</option>
                </select>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 型式 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">型式</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1" maxlength="10" placeholder="全角10文字以内">
            </div>
            <!-- 自動車種別 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">自動車種別</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>大型</option>
                    <option>中型</option>
                    <option>小型</option>
                </select>
            </div>
        </div>
		
		<div class="form-group row border border-top-0 mb-0">
            <!-- 常用・予備 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">常用・予備</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                	<option>選択してください</option>
                    <option selected>常用</option>
                    <option>予備</option>
                </select>
            </div>
			<!-- 車両年式 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両年式</div>
            <div class="col">
                <input type="text" class="form-control m-1" maxlength="50" placeholder="全角50文字以内">
            </div>
		</div>
		
        <div class="form-group row border border-top-0 mb-0">
            <!-- 操作 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">操作</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>ＭＴ</option>
                    <option>ＡＭＴ</option>
                    <option>ＡＴ</option>
                </select>
            </div>
            <!-- 衝突被害軽減ブレーキ -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">衝突被害軽減ブレーキ</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>有</option>
                    <option>無</option>
                </select>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 充電設備 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">充電設備</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>コンセント</option>
                    <option>ＵＳＢ</option>
                    <option>無</option>
                </select>
            </div>
            <!-- Wi-Fi設備 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">Wi-Fi設備</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>有</option>
                    <option>無</option>
                </select>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- VOD設備 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">VOD設備</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>有</option>
                    <option>無</option>
                </select>
            </div>
            <!-- 納車日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">納車日</div>
            <div class="col-sm-4">
                <input type="date" class="form-control m-1">
            </div>
        </div>

        <div class="form-group row border mt-5 mb-0">
            <!-- 初年度登録年月 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">初年度登録年月</div>
            <div class="col-sm-4">
                <input type="month" class="form-control m-1">
            </div>
            <!-- 登録年月日/交付年月日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">登録年月日/交付年月日</div>
            <div class="col-sm-4">
                <input type="date" class="form-control m-1">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 用途 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">用途</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>乗用</option>
                    <option>貨物</option>
                    <option selected>乗合</option>
                    <option>特殊</option>
                </select>
            </div>
            <!-- 自家用・事業用の別 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">自家用・事業用の別</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                	<option>選択してください</option>
                    <option selected>事業用</option>
                    <option>自家用</option>
                </select>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 車名 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車名</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1" maxlength="20" placeholder="全角20文字以内">
            </div>
            <!-- 車体の形状 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車体の形状</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>ボンネット</option>
                    <option>キャブオーバー</option>
                    <option selected>リヤ―エンジン</option>
                    <option>アンダーフロア</option>
                </select>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 乗車定員(人) -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">乗車定員(人)</div>
            <div class="col-sm-4">
                <input type="number" class="form-control m-1 numberMaxLength3" min="0" placeholder="半角数字3文字以内">
            </div>
            <!-- 最大積載量(kg) -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">最大積載量(kg)</div>
            <div class="col-sm-4">
                <input type="number" class="form-control m-1 numberMaxLength5" min="0" placeholder="半角数字5文字以内">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 車両重量(kg) -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両重量(kg)</div>
            <div class="col-sm-4">
                <input type="number" class="form-control m-1 numberMaxLength5" min="0" placeholder="半角数字5文字以内">
            </div>
            <!-- 車両総重量(kg) -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">車両総重量(kg)</div>
            <div class="col-sm-4">
                <input type="number" class="form-control m-1 numberMaxLength5" min="0" placeholder="半角数字5文字以内">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 長さ(cm) -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">長さ(cm)</div>
            <div class="col-sm-4">
                <input type="number" class="form-control m-1 numberMaxLength4" min="0" placeholder="半角数字4文字以内">
            </div>
            <!-- 幅(cm) -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">幅(cm)</div>
            <div class="col-sm-4">
                <input type="number" class="form-control m-1 numberMaxLength4" min="0" placeholder="半角数字4文字以内">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 高さ(cm) -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">高さ(cm)</div>
            <div class="col-sm-4">
                <input type="number" class="form-control m-1 numberMaxLength4" min="0" placeholder="半角数字4文字以内">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 前前軸重(kg) -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">前前軸重(kg)</div>
            <div class="col-sm-4">
                <input type="number" class="form-control m-1" maxlength="5" placeholder="半角数字5文字以内">
            </div>
            <!-- 前後軸重(kg) -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">前後軸重(kg)</div>
            <div class="col-sm-4">
                <input type="number" class="form-control m-1 numberMaxLength5" min="0" placeholder="半角数字5文字以内">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 後前軸重(kg) -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">後前軸重(kg)</div>
            <div class="col-sm-4">
                <input type="number" class="form-control m-1 numberMaxLength5" min="0" placeholder="半角数字5文字以内">
            </div>
            <!-- 後後軸重(kg) -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">後後軸重(kg)</div>
            <div class="col-sm-4">
                <input type="number" class="form-control m-1 numberMaxLength5" min="0" placeholder="半角数字5文字以内">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 原動機の型式 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">原動機の型式</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1 input_alphanumeric" maxlength="10" placeholder="半角英数字10文字以内">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 総排気量又は定格出力 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">総排気量又は定格出力</div>
            <div class="col-sm-4">
                <input type="number" class="form-control m-1 numberMaxLength5" min="0" step="0.01" placeholder="5文字以内">
            </div>
            <!-- 燃料の種類 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">燃料の種類</div>
            <div class="col-sm-4">
                <select class="form-control m-1">
                    <option>選択してください</option>
                    <option>ガソリン</option>
                    <option>軽油</option>
                    <option>LPG</option>
                    <option>電気</option>
                    <option>ANG</option>
                    <option>ガソリン・LPG</option>
                    <option>ガソリン・電気</option>
                    <option>軽油・LPG</option>
                    <option>軽油・電気</option>
                </select>
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 型式指定番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">型式指定番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1 input_numeric" maxlength="10" placeholder="半角数字10文字以内">
            </div>
            <!-- 類別区分番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">類別区分番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1 input_numeric" maxlength="4" placeholder="半角数字4文字以内">
            </div>
        </div>
        
        <div class="form-group row border border-top-0 mb-0">
        	<!-- 所有者の氏名又は名称 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">所有者の氏名又は名称</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1" maxlength="40" placeholder="全角40文字以内">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 所有者の住所 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">所有者の住所</div>
            <div class="col">
                <input type="text" class="form-control m-1" maxlength="100" placeholder="全角100文字以内">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 使用者の氏名又は名称 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">使用者の氏名又は名称</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1" maxlength="40" placeholder="全角40文字以内">
            </div>
        </div>
        
        <div class="form-group row border border-top-0 mb-0">
        	<!-- 使用者の住所 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">使用者の住所</div>
            <div class="col">
                <input type="text" class="form-control m-1" maxlength="100" placeholder="全角100文字以内">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 使用者の電話番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">使用者の電話番号</div>
            <div class="col-sm-4">
                <input type="tel" class="form-control m-1" maxlength="13" placeholder="13文字以内">
            </div>
        </div>
        
        <div class="form-group row border border-top-0 mb-0">
            <!-- 使用の本拠の位置 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">使用の本拠の位置</div>
            <div class="col">
                <input type="text" class="form-control m-1" maxlength="100" placeholder="全角100文字以内">
            </div>
        </div>

        <div class="form-group row border border-top-0 mb-0">
            <!-- 備考 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">備考</div>
            <div class="col-sm-10">
                <textarea class="form-control m-1" maxlength="1000" placeholder="全角1000文字以内"></textarea>
            </div>
        </div>

	    <h4 class="mt-3">車検情報</h4>
        <div class="form-group row border mb-0">
            <!-- 有効期間の満了する日 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">有効期間の満了する日</div>
            <div class="col-sm-4">
                <input type="date" class="form-control m-1">
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 車検証 -->
            <div class="col-sm-2 bg-light border-right d-flex align-items-center">
            	<div class="font-weight-bold">車検証</div>
            </div>
            <div class="col-sm-4">
            	<div class="input-group m-1">
	                <div class="custom-file">
	                    <input type="file" class="custom-file-input" id="inputFile">
	                    <label class="custom-file-label" for="inputFile" data-browse="参照">ファイルを選択</label>
	                </div>
	                <div class="input-group-append">
	                    <button type="button" class="btn input-group-text">取消</button>
	                </div>
            	</div>
            </div>
        </div>

        <div class="text-right mt-2">
			<button type="button" class="btn button-black ml-2">追加</button>
		</div>

        <table class="table table-bordered table-sm mt-3 w-75">
            <thead class="bg-light">
            <tr>
                <th scope="col" class="align-middle text-center">有効期間の満了する日</th>
                <th scope="col" class="align-middle text-center">車検証</th>
                <th scope="col" class="align-middle text-center"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="align-middle">2021/04/12</td>
                <td class="text-center align-middle">
	                <img th:src="@{/images/shakensho.png}" alt="車検証情報" height="300">
                </td>
                <td class="align-middle text-center">
                    <button type="button" class="btn button-black btn-sm">削除</button>
                </td>
            </tr>
            </tbody>
        </table>

	    <h4 class="mt-3">保険情報</h4>
        <div class="form-group row border mb-0">
            <!-- 自賠責情報 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">自賠責情報</div>
            <div class="col-sm-4">
            	<div class="input-group m-1">
	                <div class="custom-file">
	                    <input type="file" class="custom-file-input" id="inputFile">
	                    <label class="custom-file-label" for="inputFile" data-browse="参照">ファイルを選択</label>
	                </div>
	                <div class="input-group-append">
	                    <button type="button" class="btn input-group-text">取消</button>
	                </div>
            	</div>
            </div>
        </div>
        <div class="form-group row border border-top-0 mb-0">
            <!-- 任意保険情報 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">任意保険情報</div>
            <div class="col-sm-4">
            	<div class="input-group m-1">
	                <div class="custom-file">
	                    <input type="file" class="custom-file-input" id="inputFile">
	                    <label class="custom-file-label" for="inputFile" data-browse="参照">ファイルを選択</label>
	                </div>
	                <div class="input-group-append">
	                    <button type="button" class="btn input-group-text">取消</button>
	                </div>
            	</div>
            </div>
        </div>

	    <h4 class="mt-3">ITP連携情報</h4>
        <div class="form-group row border mb-0">
            <!-- ITP車両番号 -->
            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">ITP車両番号</div>
            <div class="col-sm-4">
                <input type="text" class="form-control m-1" placeholder="全角5文字以内">
            </div>
            <!-- 総走行距離 -->
            <div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">総走行距離</div>
            <div class="col-sm-4">
                <label class="form-control-plaintext m-1">800</label>
            </div>
        </div>

		<div class="text-right mt-3">
	        <button
	        	type="button"
	        	id="operationPreparation"
	        	class="btn button-black"
	        	data-toggle="collapse"
	        	data-target="#operationPreparation"
	        	aria-expanded="false"
	        	aria-controls="operationPreparation"
	        >運行開始準備タスク設定
	        </button>
		</div>
	
		<div id="operationPreparation" class="collapse">
		    <!-- （運行準備開始ステータス時のみ表示、それ以外のスタータス時は折り畳み） -->
		    <h4 class="mt-3">運行開始準備</h4>
	        <div class="form-group row border mb-0 text-center">
	            <!-- 運行開始日 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">運行開始日</div>
	            <div class="col-sm-4">
	                <input type="date" class="form-control m-1">
	            </div>
	        </div>
	        
	        <div class="form-group row border border-top-0 mb-0">
	            <!-- 用途 -->
	            <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">用途</div>
	            <div class="col-sm-10">
	            	<textarea class="form-control m-1" maxlength="100" placeholder="全角100文字以内"></textarea>
	            </div>
	        </div>
	        
		    <table class="table table-bordered table-sm mt-3">
		        <thead class="bg-light">
			        <tr>
			            <th scope="col" class="align-middle text-center" width="15%">タスク名称</th>
			            <th scope="col" class="align-middle text-center" width="10%">ステータス</th>
			            <th scope="col" class="align-middle text-center">コメント</th>
			        </tr>
		        </thead>
		        <tbody>
			        <tr>
			            <td class="align-middle">リース料支払い予定表</td>
			            <td class="align-middle">
			                <select class="form-control">
			                    <option selected>未対応</option>
			                    <option>対応中</option>
			                    <option>対応済</option>
			                </select>
			            </td>
			            <td class="align-middle">
			                <input type="text" class="form-control" maxlength="100" placeholder="全角100文字以内">
			            </td>
			        </tr>
			        <tr>
			            <td class="align-middle">リース契約書</td>
			            <td class="align-middle">
			                <select class="form-control">
			                    <option selected>未対応</option>
			                    <option>対応中</option>
			                    <option>対応済</option>
			                </select>
			            </td>
			            <td class="align-middle">
			                <input type="text" class="form-control" maxlength="100" placeholder="全角100文字以内">
			            </td>
			        </tr>
			        <tr>
			            <td class="align-middle">リース契約書</td>
			            <td class="align-middle">
			                <select class="form-control">
			                    <option selected>未対応</option>
			                    <option>対応中</option>
			                    <option>対応済</option>
			                </select>
			            </td>
			            <td class="align-middle">
			                <input type="text" class="form-control" maxlength="100" placeholder="全角100文字以内">
			            </td>
			        </tr>
		        </tbody>
		    </table>
		
		</div>

        <div class="form-group row border-top mt-3 text-center footer-border">
            <div class="btn button-black mt-2" data-toggle="modal" data-target="#createModal">登録</div>
        </div>
        
		<div class="form-group row">
			<div class="btn button-black" onclick="history.back()">前に戻る</div>
		</div>
    </form>
</main>

<div th:replace="layouts/footer :: footer"></div>
<div th:replace="layouts/formModals :: formModals(@{/car/result},@{/car/search},@{/car/result})"></div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/car.js}"></script>

</body>
</html>