<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>
<!-- 個別呼び出しCSS -->
<link rel="stylesheet" th:href="@{/css/style.css}" />

<main class="content">
    <h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">陸運支局車両提出資料出力 ／
        <span class="h4" th:case="search" th:text="検索"></span>
        <span class="h4" th:case="result" th:text="検索結果"></span>
    </h4>

    <button class="btn button-black mb-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" th:if="${type} == 'result'">
        検索条件表示
    </button>
    <div class="collapse" id="collapseExample" th:classappend="${show} ? 'show' : ''">
    
	    <form class="ml-3 mr-3">
	    
			<div class="form-group row border mb-0">
				<div class="col-sm-2 bg-light border-right d-flex align-items-center">
					<div class="font-weight-bold">営業所</div>
				</div>
				<div class="col form-check m-2">
					<span class="text-nowrap">
						<input class="checkAll" type="checkbox" id="officeAll">
						<label class="form-check-label" for="officeAll">すべて</label>
					</span>
					<div class="row ml-0">
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office1">
							<label class="form-check-label" for="office1">仙台営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
			 				<input class="officeAll" type="checkbox" id="office2">
							<label class="form-check-label" for="office2">千葉営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
			 				<input class="officeAll" type="checkbox" id="office3">
							<label class="form-check-label" for="office3">本社営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
			 				<input class="officeAll" type="checkbox" id="office4">
							<label class="form-check-label" for="office4">池袋営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
			 				<input class="officeAll" type="checkbox" id="office5">
							<label class="form-check-label" for="office5">新潟営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
			 				<input class="officeAll" type="checkbox" id="office6">
							<label class="form-check-label" for="office6">長野営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
			 				<input class="officeAll" type="checkbox" id="office7">
							<label class="form-check-label" for="office7">新清水中継所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office8">
							<label class="form-check-label" for="office8">名古屋営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office9">
							<label class="form-check-label" for="office9">大阪営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office10">
							<label class="form-check-label" for="office10">広島営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office11">
							<label class="form-check-label" for="office11">大阪さやま交通</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office12">
							<label class="form-check-label" for="office12">日本高速</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office13">
							<label class="form-check-label" for="office13">ニュープリンス高速</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office14">
							<label class="form-check-label" for="office14">ベイライン</label>
						</span>
					</div>
	 			</div>
			</div>
			<div class="form-group row border border-top-0 mb-0">
				<!-- 出力区分 -->
				<div class="col-sm-2 bg-light border-right d-flex align-items-center">
					<div class="font-weight-bold">出力区分</div>
				</div>
				<div class="col form-check m-2 font-size-09">
					<span class="mr-3 text-nowrap">
						<input type="checkbox" id="category1">
						<label class="form-check-label" for="category1">新規登録</label>
					</span>
					<span class="mr-3 text-nowrap">
						<input type="checkbox" id="category2">
						<label class="form-check-label" for="category2">売却</label>
					</span>
					<span class="mr-3 text-nowrap">
						<input type="checkbox" id="category3">
						<label class="form-check-label" for="category3">移動</label>
					</span>
				</div>
			</div>
			<div class="form-group row border border-top-0 mb-0">
				<!-- 対象年月 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">対象年月</div>
				<div class="col-sm-2">
					<input type="date" class="form-control m-1">
				</div>
				<div class="col-sm-2"></div>
			</div>
			<div class="form-group row border border-top-0 mb-0">
				<!-- 車両登録番号 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両登録番号</div>
				<div class="col-sm-4">
					<input type="text" class="form-control m-1" maxlength="20" placeholder="全角20文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>
			<div class="form-group row border border-top-0 mb-0">
				<!-- 車台番号 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車台番号</div>
				<div class="col-sm-2">
					<input type="text" class="form-control m-1 input-alphanumeric" maxlength="20" placeholder="半角英数字12文字以内">
					<small class="form-text text-muted ml-1">※部分一致</small>
				</div>
			</div>
			<div class="form-group row border border-top-0 mb-0">
				<!-- 出力状態 -->
				<div class="col-sm-2 bg-light border-right d-flex align-items-center">
					<div class="font-weight-bold">出力状態</div>
				</div>
				<div class="col form-check form-check-inline m-2 font-size-09">
					<input class="form-check-input ml-3" type="checkbox" id="status1">
					<label class="form-check-label" for="status1">未</label>
					<input class="form-check-input ml-3" type="checkbox" id="status2">
					<label class="form-check-label" for="status2">済</label>
				</div>
			</div>
	
			<div class="form-group row border-top mt-2 text-center footer-border">
				<a type="button" class="btn button-black mt-2" href="#" th:href="@{/car/output/result}">検索</a>
			</div>
		</form>
	</div>

    <div class="ml-3 mr-3" th:if="${type} == 'result'">
		<!-- 出力対象車両一覧 -->
		<h4 class="mb-3 mt-3">出力対象車両一覧</h4>
		<table class="table table-bordered table-sm mb-2 bt-2">
			<thead class="bg-light">
			<tr>
				<th scope="col" class="align-middle text-center" width="150">
					<div class="form-check form-check-inline">
						<input class="form-check-input ml-3 checkAll" type="checkbox" id="selectAll">
						<label class="form-check-label" for="selectAll"></label>
					</div>
				</th>
				<th scope="col" class="align-middle text-center">営業所</th>
				<th scope="col" class="align-middle text-center">車両登録番号</th>
				<th scope="col" class="align-middle text-center">車台番号</th>
				<th scope="col" class="align-middle text-center">対象日</th>
				<th scope="col" class="align-middle text-center">出力区分</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="text-center align-middle">
					<input class="selectAll" type="checkbox">
				</td>
				<td class="text-center align-middle">大阪営業所</td>
				<td class="text-center align-middle">堺 200 ぬ 1234</td>
				<td class="text-center align-middle">123456789</td>
				<td class="text-center align-middle">2003/07/20</td>
				<td class="text-center align-middle">新規登録</td>
			</tr>
			<tr>
				<td class="text-center align-middle">
					<input class="selectAll" type="checkbox">
				</td>
				<td class="text-center align-middle">大阪営業所</td>
				<td class="text-center align-middle">堺 200 ぬ 1234</td>
				<td class="text-center align-middle">123456789</td>
				<td class="text-center align-middle">2003/07/20</td>
				<td class="text-center align-middle">新規登録</td>
			</tr>
			</tbody>
		</table>

		<div class="form-group row border-top text-center footer-border">
			<button class="btn button-black mt-2 mb-3">出力</button>
		</div>
    </div>
</main>

<div th:replace="layouts/footer :: footer"></div>
<div th:replace="layouts/formModals :: formModals(@{/car/result},@{/car/search},@{/car/result})"></div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/car.js}"></script>

</body>
</html>