<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
<body>
<!-- Header -->
<div th:replace="layouts/header :: header"></div>
<!-- HeaderMenu -->
<div th:replace="layouts/header_menu :: header_menu"></div>

<main class="content">
    <h4 th:switch="${type}" class="mt-3 mb-3 border-bottom title-border">車両管理 ／
        <span class="h4" th:case="search" th:text="検索"></span>
        <span class="h4" th:case="result" th:text="検索結果"></span>
    </h4>

    <button class="btn button-black mb-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" th:if="${type} == 'result'">
        検索条件表示
    </button>
    <!-- th:text="${type == 'edit'} ? '教育訓練結果についてを説明します。' : ''" -->
    <div class="collapse" id="collapseExample" th:classappend="${show} ? 'show' : ''">

        <form class="ml-3 mr-3">

            <div class="form-group row border mb-0">
                <!-- 車両登録番号 -->
                <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center justify-content-between">
                	車両登録番号
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control m-1" maxlength="20" placeholder="全角20文字以内">
                    <small class="form-text text-muted ml-1">※部分一致</small>
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 車台番号 -->
                <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center justify-content-between">
                	車台番号
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control m-1" maxlength="12" placeholder="全角12文字以内">
                    <small class="form-text text-muted ml-1">※部分一致</small>
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 型式 -->
                <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">型式</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control m-1" maxlength="10" placeholder="全角10文字以内">
                    <small class="form-text text-muted ml-1">※部分一致</small>
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 車両メーカー -->
                <div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
                    <div class="font-weight-bold">車両メーカー</div>
                </div>
                <div class="col form-check form-check-inline m-2 flex-wrap">
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="maker1">
	                    <label class="form-check-label" for="maker1">Ｊバス</label>
	                </span>
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="maker2">
	                    <label class="form-check-label" for="maker2">三菱ふそう</label>
	                </span>
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="maker3">
	                    <label class="form-check-label" for="maker3">ヒュンダイ</label>
	                </span>
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="maker4">
						<label class="form-check-label" for="maker4">日野</label>
	                </span>
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 所属営業所 -->
                <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">所属営業所</div>
				<div class="col form-check m-2">
					<span class="text-nowrap">
						<input class="checkAll" type="checkbox" id="officeAll">
						<label class="form-check-label" for="officeAll">すべて</label>
					</span>
					<div class="row ml-0">
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office1">
							<label class="form-check-label" for="office1">仙台営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
		 					<input class="officeAll" type="checkbox" id="office2">
							<label class="form-check-label" for="office2">千葉営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
		 					<input class="officeAll" type="checkbox" id="office3">
							<label class="form-check-label" for="office3">本社営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
		 					<input class="officeAll" type="checkbox" id="office4">
							<label class="form-check-label" for="office4">池袋営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
		 					<input class="officeAll" type="checkbox" id="office5">
							<label class="form-check-label" for="office5">新潟営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
		 					<input class="officeAll" type="checkbox" id="office6">
							<label class="form-check-label" for="office6">長野営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
		 					<input class="officeAll" type="checkbox" id="office7">
							<label class="form-check-label" for="office7">新清水中継所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office8">
							<label class="form-check-label" for="office8">名古屋営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office9">
							<label class="form-check-label" for="office9">大阪営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office10">
							<label class="form-check-label" for="office10">広島営業所</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office11">
							<label class="form-check-label" for="office11">大阪さやま交通</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office12">
							<label class="form-check-label" for="office12">日本高速</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office13">
							<label class="form-check-label" for="office13">ニュープリンス高速</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="officeAll" type="checkbox" id="office14">
							<label class="form-check-label" for="office14">ベイライン</label>
						</span>
					</div>
 				</div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 車両タイプ -->
                <div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
                    <div class="font-weight-bold">車両タイプ</div>
                </div>
                <div class="col form-check m-2">
					<span class="text-nowrap">
	                    <input class="checkAll" type="checkbox" id="typeAll">
	                    <label class="form-check-label" for="typeAll">すべて</label>
					</span>
					<div class="row ml-0">
						<span class="mr-3 text-nowrap">
		                    <input class="typeAll" type="checkbox" id="type1" value="option1">
							<label class="form-check-label" for="type1">ＲＸＮ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type2" value="option2">
							<label class="form-check-label" for="type2">ＴＲＮ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type3" value="option2">
							<label class="form-check-label" for="type3">ＧＲＮ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type4" value="option2">
							<label class="form-check-label" for="type4">ＢＯＮ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type5" value="option1">
							<label class="form-check-label" for="type5">ＬＵＸ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type6" value="option2">
							<label class="form-check-label" for="type6">ＢＵＴ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type7" value="option2">
							<label class="form-check-label" for="type7">ＡＩＲ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type8" value="option2">
							<label class="form-check-label" for="type8">ＲＴＢ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type9" value="option1">
							<label class="form-check-label" for="type9">ＩＫＥＢＵＳ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type10" value="option2">
							<label class="form-check-label" for="type10">ＳＴＤ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type11" value="option2">
							<label class="form-check-label" for="type11">ＣＯＣ</label>
						</span>
						<span class="mr-3 text-nowrap">
							<input class="typeAll" type="checkbox" id="type12" value="option2">
							<label class="form-check-label" for="type12">ＥＸＥ</label>
						</span>
					</div>
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 総走行距離 -->
                <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">総走行距離</div>
                <div class="col-sm-2">
                    <input type="text" class="form-control m-1" maxlength="8" placeholder="全角8文字以内">
                </div>
                <div class="col-sm-1 d-flex align-items-center justify-content-center">から</div>
                <div class="col-sm-2">
                    <input type="text" class="form-control m-1" maxlength="8" placeholder="全角8文字以内">
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 乗用・予備 -->
                <div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
                    <div class="font-weight-bold">常用・予備</div>
                </div>
                <div class="col form-check form-check-inline m-2 flex-wrap">
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="reserve1">
	                    <label class="form-check-label" for="reserve1">常用</label>
	                </span>
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="reserve2">
	                    <label class="form-check-label" for="reserve2">予備</label>
	                </span>
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 車両状態 -->
                <div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
                    <div class="font-weight-bold">車両状態</div>
                </div>
                <div class="col form-check form-check-inline m-2 flex-wrap">
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="state1">
	                    <label class="form-check-label" for="state1">運行準備開始</label>
	                </span>
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="state2">
	                    <label class="form-check-label" for="state2">運行中</label>
	                </span>
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="state3">
	                    <label class="form-check-label" for="state3">売却中</label>
	                </span>
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="state4">
	                    <label class="form-check-label" for="state4">売却済</label>
	                </span>
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 登録年月日 -->
                <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">登録年月日</div>
                <div class="col-sm-2">
                    <input type="date" class="form-control m-1">
                </div>
                <div class="col-sm-1 d-flex align-items-center justify-content-center">から</div>
                <div class="col-sm-2">
                    <input type="date" class="form-control m-1">
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0 text-center">
                <!-- 車検有効期限 -->
                <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車検有効期限</div>
                <div class="col-sm-2">
                    <input type="date" class="form-control m-1">
                </div>
                <div class="col-sm-1 d-flex align-items-center justify-content-center">から</div>
                <div class="col-sm-2">
                    <input type="date" class="form-control m-1">
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 操作 -->
                <div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
                    <div class="font-weight-bold">操作</div>
                </div>
                <div class="col form-check form-check-inline m-2 flex-wrap">
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="operation1">
	                    <label class="form-check-label" for="operation1">MT</label>
	                </span>
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="operation2">
	                    <label class="form-check-label" for="operation2">AMT</label>
	                </span>
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="operation3">
	                    <label class="form-check-label" for="operation3">AT</label>
	                </span>
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 充電設備 -->
                <div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
                    <div class="font-weight-bold">充電設備</div>
                </div>
                <div class="col form-check form-check-inline m-2 flex-wrap">
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="charge1">
	                    <label class="form-check-label" for="charge1">コンセント</label>
	                </span>
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="charge2">
	                    <label class="form-check-label" for="charge2">USB</label>
	                </span>
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="charge3">
	                    <label class="form-check-label" for="charge3">無</label>
	                </span>
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- Wi-Fi設備 -->
                <div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
                    <div class="font-weight-bold">Wi-Fi設備</div>
                </div>
                <div class="col form-check form-check-inline m-2 flex-wrap">
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="wifi1">
	                    <label class="form-check-label" for="wifi1">有</label>
	                </span>
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="wifi2">
	                    <label class="form-check-label" for="wifi2">無</label>
	                </span>
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- VOD設備 -->
                <div class="col-sm-2 bg-light border-right d-flex align-items-center justify-content-between">
                    <div class="font-weight-bold">VOD設備</div>
                </div>
                <div class="col form-check form-check-inline m-2 flex-wrap">
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="vod1">
	                    <label class="form-check-label" for="vod1">有</label>
	                </span>
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="vod2">
	                    <label class="form-check-label" for="vod2">無</label>
	                </span>
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 事故故障歴 -->
                <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">事故故障歴</div>
                <div class="col form-check form-check-inline m-2 flex-wrap">
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="his1">
	                    <label class="form-check-label" for="his1">事故歴あり</label>
	                </span>
					<span class="text-nowrap">
	                    <input class="form-check-input ml-3" type="checkbox" id="his2">
	                    <label class="form-check-label" for="his2">故障歴あり</label>
	                </span>
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 運行開始準備処理 -->
                <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">運行開始準備処理</div>
                <div class="col-sm-4">
                    <select class="form-control m-1">
                        <option>未対応</option>
                        <option>対応中</option>
                        <option>対応済</option>
                    </select>
                </div>
            </div>

            <div class="form-group row border border-top-0 mb-0">
                <!-- 車両売却処理 -->
                <div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">車両売却処理</div>
                <div class="col-sm-4">
                    <select class="form-control m-1">
                        <option>未対応</option>
                        <option>対応中</option>
                        <option>対応済</option>
                    </select>
                </div>
            </div>

            <div class="form-group row border-top mt-2 footer-border">
                <a type="button" class="btn button-black mt-2" href="#" th:href="@{/car/result}">検索</a>
                <a class="btn button-black mt-2 ml-2" href="#" th:href="@{/car/regist}" role="button">新規登録</a>
            </div>
        </form>
    </div>

    <!-- ページング -->
    <nav class="d-flex" aria-label="..." th:if="${type} == 'result'">
        <ul class="pagination">
            <li class="page-item disabled">
                <span class="page-link">前へ</span>
            </li>
            <!-- active = 今表示しているページ -->
            <li class="page-item active">
                <span class="page-link">1</span>
            </li>
            <li class="page-item" aria-current="page">
                <a class="page-link">2</a>
            </li>
            <li class="page-item">
                <a class="page-link">3</a>
            </li>
            <li class="page-item">
                <a class="page-link">次へ</a>
            </li>
        </ul>
		<button type="button" class="btn button-black btn-sm ml-auto py-2 h-75">台帳ダウンロード</button>
	</nav>

    <table class="table table-bordered table-sm" id="dt" th:if="${type} == 'result'">
        <thead class="bg-light">
        <tr>
            <th scope="col" class="align-middle text-center">
                <div class="form-check form-check-inline flex-wrap mr-0">
					<input class="form-check-input checkAll ml-4" type="checkbox" id="resultAll">
				</div>
            </th>
            <th scope="col" class="align-middle text-center">車両登録番号</th>
            <th scope="col" class="align-middle text-center">車台番号</th>
            <th scope="col" class="align-middle text-center">型式</th>
            <th scope="col" class="align-middle text-center">車両タイプ</th>
            <th scope="col" class="align-middle text-center">登録年月日</th>
            <th scope="col" class="align-middle text-center">車検有効期限</th>
            <th scope="col" class="align-middle text-center">所属営業所</th>
            <th scope="col" class="align-middle text-center">総走行距離(km)</th>
            <th scope="col" class="align-middle text-center">事故故障歴</th>
            <th scope="col" class="align-middle text-center">運行開始</th>
            <th scope="col" class="align-middle text-center">車両売却</th>
            <th scope="col" class="align-middle text-center width-005"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="align-middle text-center">
                <div class="form-check form-check-inline flex-wrap mr-0">
					<input class="form-check-input resultAll" type="checkbox" id="result1">
				</div>
            </td>
            <td class="align-middle">000000</td>
            <td class="align-middle">000000</td>
            <td class="align-middle">〇〇</td>
            <td class="align-middle">〇〇〇〇</td>
            <td class="align-middle">2020/01/01</td>
            <td class="align-middle">2020/01/01</td>
            <td class="align-middle">〇〇営業所</td>
            <td class="align-middle">〇〇</td>
            <td class="align-middle">✔</td>
            <td class="align-middle">✔</td>
            <td class="align-middle">✔</td>
            <td>
                <a class="btn button-black btn-sm" th:href="@{/car/edit}">編集</a>
                <a class="btn button-black btn-sm" th:href="@{/car/detail}">詳細</a>
            </td>
        </tr>
        <tr>
            <td class="align-middle text-center">
                <div class="form-check form-check-inline flex-wrap mr-0">
					<input class="form-check-input resultAll" type="checkbox" id="result2">
				</div>
            </td>
            <td class="align-middle">000000</td>
            <td class="align-middle">000000</td>
            <td class="align-middle">〇〇</td>
            <td class="align-middle">〇〇〇〇</td>
            <td class="align-middle">2020/01/01</td>
            <td class="align-middle">2020/01/01</td>
            <td class="align-middle">〇〇営業所</td>
            <td class="align-middle">〇〇</td>
            <td class="align-middle">✔︎</td>
            <td class="align-middle">進行中</td>
            <td class="align-middle">-</td>
            <td>
                <a class="btn button-black btn-sm" th:href="@{/car/edit}">編集</a>
                <a class="btn button-black btn-sm" th:href="@{/car/detail}">詳細</a>
            </td>
        </tr>
        <tr>
            <td class="align-middle text-center">
                <div class="form-check form-check-inline flex-wrap mr-0">
					<input class="form-check-input resultAll" type="checkbox" id="result3">
				</div>
            </td>
            <td class="align-middle">000000</td>
            <td class="align-middle">000000</td>
            <td class="align-middle">〇〇</td>
            <td class="align-middle">〇〇〇〇</td>
            <td class="align-middle">2020/01/01</td>
            <td class="align-middle">2020/01/01</td>
            <td class="align-middle">〇〇営業所</td>
            <td class="align-middle">〇〇</td>
            <td class="align-middle">✔︎</td>
            <td class="align-middle">✔︎</td>
            <td class="align-middle">進行中</td>
            <td>
                <a class="btn button-black btn-sm" th:href="@{/car/edit}">編集</a>
                <a class="btn button-black btn-sm" th:href="@{/car/detail}">詳細</a>
            </td>
        </tr>
        <tr>
            <td class="align-middle text-center">
                <div class="form-check form-check-inline flex-wrap mr-0">
					<input class="form-check-input resultAll" type="checkbox" id="result4">
				</div>
            </td>
            <td class="align-middle">000000</td>
            <td class="align-middle">000000</td>
            <td class="align-middle">〇〇</td>
            <td class="align-middle">〇〇〇〇</td>
            <td class="align-middle">2020/01/01</td>
            <td class="align-middle">2020/01/01</td>
            <td class="align-middle">〇〇営業所</td>
            <td class="align-middle">〇〇</td>
            <td class="align-middle">✔︎</td>
            <td class="align-middle">✔︎</td>
            <td class="align-middle">進行中</td>
            <td>
                <a class="btn button-black btn-sm" th:href="@{/car/edit}">編集</a>
                <a class="btn button-black btn-sm" th:href="@{/car/detail}">詳細</a>
            </td>
        </tr>
        <tr>
            <td class="align-middle text-center">
                <div class="form-check form-check-inline flex-wrap mr-0">
					<input class="form-check-input resultAll" type="checkbox" id="result5">
				</div>
            </td>
            <td class="align-middle">000000</td>
            <td class="align-middle">000000</td>
            <td class="align-middle">〇〇</td>
            <td class="align-middle">〇〇〇〇</td>
            <td class="align-middle">2020/01/01</td>
            <td class="align-middle">2020/01/01</td>
            <td class="align-middle">〇〇営業所</td>
            <td class="align-middle">〇〇</td>
            <td class="align-middle">✔︎</td>
            <td class="align-middle">✔︎</td>
            <td class="align-middle">進行中</td>
            <td>
                <a class="btn button-black btn-sm" th:href="@{/car/edit}">編集</a>
                <a class="btn button-black btn-sm" th:href="@{/car/detail}">詳細</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- ページング -->
    <nav class="mb-5" aria-label="..." th:if="${type} == 'result'">
        <ul class="pagination">
            <li class="page-item disabled">
                <span class="page-link">前へ</span>
            </li>
            <!-- active = 今表示しているページ -->
            <li class="page-item active">
                <span class="page-link">1</span>
            </li>
            <li class="page-item" aria-current="page">
                <a class="page-link">2</a>
            </li>
            <li class="page-item">
                <a class="page-link">3</a>
            </li>
            <li class="page-item">
                <a class="page-link">次へ</a>
            </li>
        </ul>
    </nav>
</main>

<!-- Footer -->
<div th:replace="layouts/footer :: footer"></div>

</body>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/datable_check.js}"></script>
</html>