<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
	<!-- Header -->
	<div th:replace="layouts/header :: header"></div>
	<!-- HeaderMenu -->
	<div th:replace="layouts/header_menu :: header_menu"></div>
	
	<main class="content">
		<h4 th:switch="${type}" class="mt-3 mb-3 border-bottom" style="border-color: #be77d2!important;border-width: 3px!important;">教育訓練管理 ／ 
			<span th:case="edit" th:text="編集"></span>
			<span th:case="regist" th:text="登録"></span>
		</h4>

		<form class="ml-3 mr-3">
			<div class="form-group row border mb-0 text-center">
				<!-- 教育訓練ID -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">教育訓練ID</div>
				<div class="col-sm-2">
					<input type="text" class="form-control m-1" maxlength="8">
				</div>
				<!-- 教育訓練名称 -->
				<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">教育訓練名称</div>
				<div class="col-sm-2">
					<input type="text" class="form-control m-1" maxlength="50">
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0 text-center">
				<!-- 教育訓練種別 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">教育訓練種別</div>
				<div class="col form-check form-check-inline m-2">
					<input class="form-check-input ml-4" type="checkbox" value="">
					<label class="form-check-label">すべて</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">事故</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">ヒヤリハット</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">故障</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">車両変更</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">不具合事項</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">その他イレギュラー</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">未入力</label>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0 text-center">
				<!-- 教育訓練概要 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">教育訓練概要</div>
				<div class="w-75">
					<textarea class="form-control m-1" rows="2"></textarea>
				</div>
			</div>

			<div class="form-group row border mb-0 mt-3 text-center">
				<!-- 実施予定日 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">実施予定日</div>
				<div class="col-sm-2">
					<input type="date" class="form-control m-1">
				</div>
				<!-- 実施期限日 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">実施期限日</div>
				<div class="col-sm-2">
					<input type="date" class="form-control m-1">
				</div>
			</div>

			<div class="form-group row border mb-0 mt-3 text-center">
				<!-- アラート対象 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">アラート対象</div>
				<div class="col form-check form-check-inline m-2">
					<input class="form-check-input ml-4" type="checkbox" value="">
					<label class="form-check-label">対象</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">対象外</label>
				</div>
			</div>

			<div class="text-right mt-2">
				<div type="button" class="btn btn-danger">登録 | 更新</div>
			</div>
		</form>

		<!-- 教育訓練対象者 -->
		<form class="mt-5">
			<div class="text-left">
				<div type="button" class="btn btn-danger" data-toggle="modal" data-target="#addTargetModal">教育訓練対象者 追加</div>
			</div>
			<h4 class="mb-3 mt-3" style="border-color: #be77d2!important;border-width: 3px!important;">教育訓練対象者一覧 絞り込み</h4>
		</form>

		<form class="ml-3 mr-3">
			<div class="form-group row border mb-0 text-center">
				<!-- 営業所 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">営業所</div>
				<div class="col form-check form-check-inline m-2">
					<input class="form-check-input ml-4" type="checkbox" value="">
					<label class="form-check-label">すべて</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">本社営業所</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">仙台営業所</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">千葉営業所</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">新潟営業所</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">長野営業所</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">名古屋営業所</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">大阪営業所</label>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0 text-center">
				<!-- 職種 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">職種</div>
				<div class="col form-check form-check-inline m-2">
					<input class="form-check-input ml-4" type="checkbox" value="">
					<label class="form-check-label">すべて</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">乗務員</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">整備士</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">整備補助士</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">運行管理者</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">運行管理補助者</label>
				</div>
			</div>

			<div class="form-group row border border-top-0 mb-0 text-center">
				<!-- 氏名 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">氏名</div>
				<div class="col-sm-2">
					<input type="text" class="form-control m-1" maxlength="20">
				</div>
			</div>

			<div class="form-group row border mb-0 text-center">
				<!-- 実施状況 -->
				<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">実施状況</div>
				<div class="col form-check form-check-inline m-2">
					<input class="form-check-input ml-4" type="checkbox" value="">
					<label class="form-check-label">未</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">済</label>
					<input class="form-check-input ml-3" type="checkbox" value="">
					<label class="form-check-label" for="">不要</label>
				</div>
			</div>

			<div class="text-right mt-2">
				<div type="button" class="btn btn-danger">絞り込み</div>
			</div>
		</form>

		<form class="mt-5 mb-5">
			<!-- 教育訓練対象者 -->
			<div class="mb-3 w-50 float-left">
				<h4 class="" style="border-color: #be77d2!important;border-width: 3px!important;">教育訓練対象者</h4>
			</div>
			<div class="mb-3 w-50 float-right">
				<div class="text-right">教育訓練実施結果ファイル 一括アップロード</div>
				<div class="text-right">
					<div class="btn btn-outline-dark btn-sm">ファイルを選択</div>
					<div class="btn btn-danger btn-sm">参照</div>
					<div class="btn btn-danger btn-sm">削除</div>
				</div>
			</div>

			<table class="table table-bordered table-sm" style="font-size: 0.9rem;">
				<div class="mt-3 mb-3">
					<h5>100件 ヒットしました</h5>
				</div>
				<thead class="bg-light">
				<tr>
					<th scope="col" class="align-middle text-center">営業所</th>
					<th scope="col" class="align-middle text-center">職種</th>
					<th scope="col" class="align-middle text-center">社員コード</th>
					<th scope="col" class="align-middle text-center">氏名</th>
					<th scope="col" class="align-middle text-center">実施日</th>
					<th scope="col" class="align-middle text-center">実施状況</th>
					<th scope="col" class="align-middle text-center">教育訓練結果</th>
					<th scope="col" class="align-middle text-center">個別ファイル</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="text-center align-middle">大阪営業所</td>
					<td class="text-center align-middle">運行管理補助者</td>
					<td class="text-center align-middle">123456789</td>
					<td class="text-center align-middle">山田一郎</td>
					<td class="text-center align-middle">2020/01/01</td>
					<td class="text-center align-middle">不要</td>
					<td class="text-center align-middle">あいうえおかきくけこ</td>
					<td class="text-center">
						<div class="btn btn-outline-dark btn-sm">ファイルを選択</div>
						<div class="btn btn-danger btn-sm">参照</div>
						<div class="btn btn-danger btn-sm">削除</div>
					</td>
				</tr>
				<tr>
					<td class="text-center align-middle">大阪営業所</td>
					<td class="text-center align-middle">運行管理補助者</td>
					<td class="text-center align-middle">123456789</td>
					<td class="text-center align-middle">山田一郎</td>
					<td class="text-center align-middle">2020/01/01</td>
					<td class="text-center align-middle">不要</td>
					<td class="text-center align-middle">あいうえおかきくけこ</td>
					<td class="text-center">
						<div class="btn btn-outline-dark btn-sm">ファイルを選択</div>
						<div class="btn btn-danger btn-sm">参照</div>
						<div class="btn btn-danger btn-sm">削除</div>
					</td>
				</tr>
				<tr>
					<td class="text-center align-middle">大阪営業所</td>
					<td class="text-center align-middle">運行管理補助者</td>
					<td class="text-center align-middle">123456789</td>
					<td class="text-center align-middle">山田一郎</td>
					<td class="text-center align-middle">2020/01/01</td>
					<td class="text-center align-middle">不要</td>
					<td class="text-center align-middle">あいうえおかきくけこ</td>
					<td class="text-center">
						<div class="btn btn-outline-dark btn-sm">ファイルを選択</div>
						<div class="btn btn-danger btn-sm">参照</div>
						<div class="btn btn-danger btn-sm">削除</div>
					</td>
				</tr>
				</tbody>
			</table>

			<!-- ページング -->
			<nav class="mb-5" aria-label="...">
				<ul class="pagination">
					<li class="page-item disabled">
						<span class="page-link">前へ</span>
					</li>
					<!-- active = 今表示しているページ -->
					<li class="page-item active">
						<span class="page-link">1</span>
					</li>
					<li class="page-item" aria-current="page">
						<a class="page-link">2</a>
					</li>
					<li class="page-item">
						<a class="page-link">3</a>
					</li>
					<li class="page-item">
						<a class="page-link">次へ</a>
					</li>
				</ul>
			</nav>

			<div class="text-right mr-3 mt-2">
				<div type="button" class="btn btn-danger">登録 | 更新</div>
			</div>
		</form>

		<!-- 教育訓練対象者モーダル -->
		<div class="modal fade" id="addTargetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<!-- 教育訓練対象者 -->
							<h4 class="mb-3 mt-3" style="border-color: #be77d2!important;border-width: 3px!important;">教育訓練対象者</h4>
							<div class="ml-3 mr-3">
								<div class="form-group row border mb-0 text-center">
									<!-- 営業所 -->
									<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">営業所</div>
									<div class="col form-check form-check-inline m-2" style="font-size: 0.9rem;">
										<input class="form-check-input ml-4" type="checkbox" value="">
										<label class="form-check-label">すべて</label>
										<input class="form-check-input ml-3" type="checkbox" value="">
										<label class="form-check-label" for="">本社営業所</label>
										<input class="form-check-input ml-3" type="checkbox" value="">
										<label class="form-check-label" for="">仙台営業所</label>
										<input class="form-check-input ml-3" type="checkbox" value="">
										<label class="form-check-label" for="">千葉営業所</label>
										<input class="form-check-input ml-3" type="checkbox" value="">
										<label class="form-check-label" for="">新潟営業所</label>
										<input class="form-check-input ml-3" type="checkbox" value="">
										<label class="form-check-label" for="">長野営業所</label>
										<input class="form-check-input ml-3" type="checkbox" value="">
										<label class="form-check-label" for="">名古屋営業所</label>
										<input class="form-check-input ml-3" type="checkbox" value="">
										<label class="form-check-label" for="">大阪営業所</label>
									</div>
								</div>
								<div class="form-group row border border-top-0 mb-0 text-center">
									<!-- 職種 -->
									<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">職種</div>
									<div class="col form-check form-check-inline m-2" style="font-size: 0.9rem;">
										<input class="form-check-input ml-4" type="checkbox" value="">
										<label class="form-check-label">すべて</label>
										<input class="form-check-input ml-3" type="checkbox" value="">
										<label class="form-check-label" for="">乗務員</label>
										<input class="form-check-input ml-3" type="checkbox" value="">
										<label class="form-check-label" for="">整備士</label>
										<input class="form-check-input ml-3" type="checkbox" value="">
										<label class="form-check-label" for="">整備補助士</label>
										<input class="form-check-input ml-3" type="checkbox" value="">
										<label class="form-check-label" for="">運行管理者</label>
										<input class="form-check-input ml-3" type="checkbox" value="">
										<label class="form-check-label" for="">運行管理補助者</label>
									</div>
								</div>
								<div class="mt-3 text-right">
									<div type="button" class="btn btn-danger">検索</div>
								</div>
							</div>
							<!-- 教育訓練対象者 -->
							<h4 class="mb-3 mt-3" style="border-color: #be77d2!important;border-width: 3px!important;">教育訓練対象者</h4>
							<div class="ml-3 w-75">
								<table class="table table-bordered table-sm" style="font-size: 0.9rem;">
									<thead class="bg-light">
									<tr>
										<th scope="col" class="align-middle text-center">選択</th>
										<th scope="col" class="align-middle text-center">営業所</th>
										<th scope="col" class="align-middle text-center">職種</th>
										<th scope="col" class="align-middle text-center">社員コード</th>
										<th scope="col" class="align-middle text-center">氏名</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td class="text-center align-middle">
											<input type="checkbox">
										</td>
										<td class="text-center align-middle">大阪営業所</td>
										<td class="text-center align-middle">運行管理補助者</td>
										<td class="text-center align-middle">123456789</td>
										<td class="text-center align-middle">山田一郎</td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="mr-3 float-right">
								<div class="btn btn-danger btn-sm" data-dismiss="modal">教育訓練対象者 追加</div>
							</div>
						</form>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>

	</main>
	
	<div th:replace="layouts/footer :: footer"></div>
	<div th:replace="layouts/formModals :: formModals(@{/education/result},@{/education/search},@{/education/result})"></div>
	
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

</body>
</html>