<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Head -->
<head th:replace="layouts/head :: head('メニュー',~{::link})">
<body>
	<!-- Header -->
	<div th:replace="layouts/header :: header"></div>
	<!-- HeaderMenu -->
	<div th:replace="layouts/header_menu :: header_menu"></div>
	
	<main class="content">
		<h4 th:switch="${type}" class="mt-3 mb-3 border-bottom" style="border-color: #be77d2!important;border-width: 3px!important;">教育訓練管理 ／
			<span th:case="search" th:text="検索"></span>
			<span th:case="result" th:text="検索結果"></span>
		</h4>
		
		<button class="btn btn-primary mb-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" th:if="${type} == 'result'">
			検索条件表示
		</button>
		<!-- th:text="${type == 'edit'} ? '教育訓練結果についてを説明します。' : ''" -->
		<div class="collapse" id="collapseExample" th:classappend="${show} ? 'show' : ''">

			<form class="ml-3 mr-3">

				<div class="form-group row border mb-0 text-center">
					<!-- 教育訓練ID -->
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">教育訓練ID</div>
					<div class="col-sm-2">
						<input type="text" class="form-control m-1">
					</div>
					<!-- 教育訓練名称 -->
					<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">教育訓練名称</div>
					<div class="col-sm-2">
						<input type="text" class="form-control m-1">
					</div>
				</div>

				<div class="form-group row border border-top-0 mb-0 text-center">
					<!-- 教育訓練種別 -->
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">教育訓練種別</div>
					<div class="col form-check form-check-inline m-2">
						<input class="form-check-input ml-4" type="checkbox" value="">
						<label class="form-check-label">すべて</label>
						<input class="form-check-input ml-3" type="checkbox" value="">
						<label class="form-check-label" for="">事故</label>
						<input class="form-check-input ml-3" type="checkbox" value="">
						<label class="form-check-label" for="">ヒヤリハット</label>
						<input class="form-check-input ml-3" type="checkbox" value="">
						<label class="form-check-label" for="">故障</label>
						<input class="form-check-input ml-3" type="checkbox" value="">
						<label class="form-check-label" for="">車両変更</label>
						<input class="form-check-input ml-3" type="checkbox" value="">
						<label class="form-check-label" for="">不具合事項</label>
						<input class="form-check-input ml-3" type="checkbox" value="">
						<label class="form-check-label" for="">その他イレギュラー</label>
						<input class="form-check-input ml-3" type="checkbox" value="">
						<label class="form-check-label" for="">未入力</label>
					</div>
				</div>

				<div class="form-group row border mb-0 mt-3 text-center">
					<!-- 営業所 -->
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">営業所</div>
					<div class="col form-check form-check-inline m-2">
						<input class="form-check-input ml-4" type="checkbox" value="">
						<label class="form-check-label">すべて</label>
						<input class="form-check-input ml-3" type="checkbox" value="">
						<label class="form-check-label" for="">本社営業所</label>
						<input class="form-check-input ml-3" type="checkbox" value="">
						<label class="form-check-label" for="">仙台営業所</label>
						<input class="form-check-input ml-3" type="checkbox" value="">
						<label class="form-check-label" for="">千葉営業所</label>
						<input class="form-check-input ml-3" type="checkbox" value="">
						<label class="form-check-label" for="">新潟営業所</label>
						<input class="form-check-input ml-3" type="checkbox" value="">
						<label class="form-check-label" for="">長野営業所</label>
						<input class="form-check-input ml-3" type="checkbox" value="">
						<label class="form-check-label" for="">名古屋営業所</label>
						<input class="form-check-input ml-3" type="checkbox" value="">
						<label class="form-check-label" for="">大阪営業所</label>
					</div>
				</div>

				<div class="form-group row border mb-0 mt-3 text-center">
					<!-- 実施予定日 -->
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">実施予定日</div>
					<div class="col-sm-2">
						<input type="date" class="form-control m-1">
					</div>
					<div class="col-sm-1 d-flex align-items-center justify-content-center">から</div>
					<div class="col-sm-2">
						<input type="date" class="form-control m-1">
					</div>
				</div>

				<div class="form-group row border border-top-0 mb-0 text-center">
					<!-- 実施期限日 -->
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">実施期限日</div>
					<div class="col-sm-2">
						<input type="date" class="form-control m-1">
					</div>
				</div>

				<div class="form-group row border mb-0 mt-3 text-center">
					<!-- 社員コード -->
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">社員コード</div>
					<div class="col-sm-2">
						<input type="text" class="form-control m-1">
					</div>
				</div>

				<div class="form-group row border border-top-0 mb-0 text-center">
					<!-- 氏名 -->
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">氏名</div>
					<div class="col-sm-2">
						<input type="text" class="form-control m-1">
					</div>
					<!-- 氏名（カナ） -->
					<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">氏名（カナ）</div>
					<div class="col-sm-2">
						<input type="text" class="form-control m-1">
					</div>
				</div>

				<div class="form-group row border mb-0 mt-3 text-center">
					<!-- 受講状況 -->
					<div class="col-sm-2 font-weight-bold bg-light border-right d-flex align-items-center">受講状況</div>
					<div class="col form-check form-check-inline m-2">
						<input class="form-check-input ml-4" type="checkbox" value="">
						<label class="form-check-label">未受講</label>
						<input class="form-check-input ml-3" type="checkbox" value="">
						<label class="form-check-label" for="">受講済</label>
					</div>
					<!-- アラート対象 -->
					<div class="col-sm-2 font-weight-bold bg-light border-left border-right d-flex align-items-center">アラート対象</div>
					<div class="col form-check form-check-inline m-2">
						<input class="form-check-input ml-4" type="checkbox" value="">
						<label class="form-check-label">対象</label>
						<input class="form-check-input ml-3" type="checkbox" value="">
						<label class="form-check-label" for="">対象外</label>
					</div>
				</div>

				<div class="form-group row border-top mt-2 text-center" style="border-width: 3px!important;">
					<a type="button" class="btn btn-primary mt-2 col-sm-1" href="#" th:href="@{/education/result}">検索</a>
					<a class="btn btn-success mt-2 ml-2 col-sm-1" href="#" th:href="@{/education/regist}" role="button">新規登録</a>
				</div>
			</form>

		</div>
		<!-- ページング -->
<!--		<nav aria-label="..." th:if="${type} == 'result'">-->
<!--			<ul class="pagination">-->
<!--				<li class="page-item disabled">-->
<!--					<span class="page-link">前へ</span>-->
<!--				</li>-->
<!--				&lt;!&ndash; active = 今表示しているページ &ndash;&gt;-->
<!--				<li class="page-item active">-->
<!--					<span class="page-link">1</span>-->
<!--				</li>-->
<!--				<li class="page-item" aria-current="page">-->
<!--					<a class="page-link">2</a>-->
<!--				</li>-->
<!--				<li class="page-item">-->
<!--					<a class="page-link">3</a>-->
<!--				</li>-->
<!--				<li class="page-item">-->
<!--					<a class="page-link">次へ</a>-->
<!--				</li>-->
<!--			</ul>-->
<!--		</nav>-->

		<table class="table table-bordered table-sm" th:if="${type} == 'result'" style="font-size: 0.9rem;">
			<div class="mt-3 mb-3">
				<h5>100件 ヒットしました</h5>
			</div>

			<thead class="bg-light">
			<tr>
				<th scope="col" class="align-middle text-center">教育訓練ID</th>
				<th scope="col" class="align-middle text-center">教育訓練名称</th>
				<th scope="col" class="align-middle text-center">教育訓練種別</th>
				<th scope="col" class="align-middle text-center">実施予定日</th>
				<th scope="col" class="align-middle text-center">実施期限日</th>
				<th scope="col" class="align-middle text-center">アラート内容</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="text-center align-middle">000</td>
				<td class="text-center align-middle">000000</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center">
					<a class="btn btn-dark btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn btn-primary btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
			<tr>
				<td class="text-center align-middle">000</td>
				<td class="text-center align-middle">000000</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center">
					<a class="btn btn-dark btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn btn-primary btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
			<tr>
				<td class="text-center align-middle">000</td>
				<td class="text-center align-middle">000000</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center">
					<a class="btn btn-dark btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn btn-primary btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
			<tr>
				<td class="text-center align-middle">000</td>
				<td class="text-center align-middle">000000</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center">
					<a class="btn btn-dark btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn btn-primary btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
			<tr>
				<td class="text-center align-middle">000</td>
				<td class="text-center align-middle">000000</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center">
					<a class="btn btn-dark btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn btn-primary btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
			<tr>
				<td class="text-center align-middle">000</td>
				<td class="text-center align-middle">000000</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center">
					<a class="btn btn-dark btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn btn-primary btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
			<tr>
				<td class="text-center align-middle">000</td>
				<td class="text-center align-middle">000000</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center">
					<a class="btn btn-dark btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn btn-primary btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
			<tr>
				<td class="text-center align-middle">000</td>
				<td class="text-center align-middle">000000</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center">
					<a class="btn btn-dark btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn btn-primary btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
			<tr>
				<td class="text-center align-middle">000</td>
				<td class="text-center align-middle">000000</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center">
					<a class="btn btn-dark btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn btn-primary btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
			<tr>
				<td class="text-center align-middle">000</td>
				<td class="text-center align-middle">000000</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">2020/01/01</td>
				<td class="text-center align-middle">〇〇</td>
				<td class="text-center">
					<a class="btn btn-dark btn-sm" th:href="@{/education/edit}">編集</a>
					<a class="btn btn-primary btn-sm" th:href="@{/education/detail}">詳細</a>
				</td>
			</tr>
			</tbody>
		</table>
		
		<!-- ページング -->
		<nav class="mb-5" aria-label="..." th:if="${type} == 'result'">
			<ul class="pagination">
				<li class="page-item disabled">
					<span class="page-link">前へ</span>
				</li>
				<!-- active = 今表示しているページ -->
				<li class="page-item active">
					<span class="page-link">1</span>
				</li>
				<li class="page-item" aria-current="page">
					<a class="page-link">2</a>
				</li>
				<li class="page-item">
					<a class="page-link">3</a>
				</li>
				<li class="page-item">
					<a class="page-link">次へ</a>
				</li>
			</ul>
		</nav>
	</main>
	
	<!-- Footer -->
	<div th:replace="layouts/footer :: footer"></div>
	
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</html>