<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<header th:fragment="header">
	<nav class="navbar navbar-light" style="height: 75px">
		<div class="row" style="width: 100%">
			<div class="col-sm">{ 所属部署 } / { 所属営業所 } / { 役職 } / { ログインユーザ名} </div>
			<div class="col-sm text-right">
				<a class="btn btn-primary mr-2" href="#">パスワード変更</a>
				<a class="btn btn-dark mr-2" href="#">ログアウト</a>
				<a class="btn btn-dark" th:href="@{/menu}">メニューへ戻る</a>
			</div>
		</div>
	</nav>
</header>
</html>