<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
	<header th:fragment="header_menu">
		<nav class="navbar navbar-expand-lg" style="background-color: #f989b1">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
		    	<ul class="navbar-nav">
		    		<li class="nav-item dropdown">
	      				<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	         				乗務員・整備士・運行管理者管理
	      				</a>
	      				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          				<a class="dropdown-item" th:href="@{/crew/search}">一覧</a>
	          				<div class="dropdown-divider"></div>
	          				<a class="dropdown-item">HRMOS CORE取り込み</a>
	        			</div>
	      			</li>
	      			<li class="nav-item dropdown">
	      				<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	         				車両管理
	      				</a>
	      				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          				<a class="dropdown-item" th:href="@{/car/search}">一覧</a>
	          				<div class="dropdown-divider"></div>
	          				<a class="dropdown-item" th:href="@{/car_move/search}">移動一覧</a>
	        			</div>
	      			</li>
					<li class="nav-item">
	      				<a class="nav-link text-white" th:href="@{/accident/search}" aria-haspopup="true" aria-expanded="false">
	         				事故/ヒヤリハット/故障管理
	      				</a>
	      			</li>
	      			<li class="nav-item">
	      				<a class="nav-link text-white" th:href="@{/maintenance/search}" aria-haspopup="true" aria-expanded="false">
	         				整備/点検管理
	      				</a>
	      			</li>
	      			<li class="nav-item dropdown">
	      				<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	         				教育訓練管理
	      				</a>
	      				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          				<a class="dropdown-item" th:href="@{/education/search}">一覧</a>
	          				<div class="dropdown-divider"></div>
	          				<a class="dropdown-item" th:href="@{/educationImpl/search}">実施一覧</a>
	        			</div>
	      			</li>
		      		<li class="nav-item dropdown">
	      				<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	         				マスタ管理
	      				</a>
	      				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          				<a class="dropdown-item" th:href="@{/system/login/search}">ログインユーザー管理</a>
	          				<a class="dropdown-item" th:href="@{/system/role/search}">ロール権限管理</a>
	          				<a class="dropdown-item" th:href="@{/system/maintenance/category/search}">整備点検カテゴリ項目管理</a>
	          				<a class="dropdown-item" th:href="@{/system/maint/category/search}">整備点検項目管理</a>
	          				<a class="dropdown-item" th:href="@{/system/maint/parts/search}">整備点検部品項目管理</a>
	          				<a class="dropdown-item" th:href="@{/system/news/search}">お知らせ管理</a>
	        			</div>
	      			</li>
		    	</ul>
		    	
		  	</div>
		</nav>
	</header>
</html>