<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- 共通Header -->
<head th:replace="layouts/head :: head('ログイン',~{::link})">
<body>
	<!-- main -->
    <main class="mb-5">
		<div class="mx-auto align-items-center d-flex" style="width: 200px; height: 500px;">
			<a class="btn-primary btn" th:href="@{/menu}">メニュー画面へ遷移</a>
		</div>
	</main>
    <!-- footer -->
    <div th:replace="layouts/footer :: footer"></div>
</body>
</html>